ul.bread-crumbs-list
      li.bread-crumbs-item 
            a(href="#0" title="").bread-crumbs-item-link Хлебные крошки
      li.bread-crumbs-item 
            a(href="#0" title="").bread-crumbs-item-link.crumbs-item_active Хлебные крошки