<link rel="apple-touch-icon" sizes="180x180" href="../img/favi-apple-touch-icon.webp">
<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.webp">
<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.webp">
//- <link rel="mask-icon" href="../img/safari-pinned-tab.webp" color="#391C43">