footer.footer
  .footer__wr-content
    .footer__wr-nav
      ul.footer__nav-list
        li.footer__nav-item
          a.footer__nav-link(href='#0') Компании
        li.footer__nav-item
          a.footer__nav-link(href='#0') Сервис
        li.footer__nav-item
          a.footer__nav-link(href='#0') Контакты
    .footer__long-underline
    .footer__content
      .wr-item-mobile-menu 
        .item-mobile-menu
          a.item-mobile-menu-link Компании
        .line-mobile-footer
      ul.footer__wr-logo
        li.footer__logo-mf
          a.footer__logo-mf-link(href='./index.html')
        li.footer__logo-ist
          a.footer__logo-ist-link(href='#0')
      .wr-item-mobile-menu 
        .line-mobile-footer
        .item-mobile-menu
          a.item-mobile-menu-link Сервис
        .line-mobile-footer
      ul.footer__info-list
        li.footer__info-item
          a.footer__info-link(href='#0') Сертификат официального дистрибьютора
        li.footer__info-item
          a.footer__info-link(href='#0') Каталоги
        li.footer__info-item
          a.footer__info-link(href='#0') Руководства по эксплуатации
        li.footer__info-item
          a.footer__info-link(href='#0') Прайс-листы
      .wr-item-mobile-menu 
        .line-mobile-footer
        .item-mobile-menu
          a.item-mobile-menu-link Контакты
        .line-mobile-footer
      address.address
        ul.address__wr-info
          li.address__location
            h2.address__title-location-text.location-text Адрес:
            span.address__location-text.location-text 123007, г.Москва,
            span.address__location-text.location-text Хорошевское шоссе, д.32А,
            span.address__location-text.location-text подъезд 4, этаж 1
          li.address__phone-numbers
            h2.address__title-phone-number Телефон: 
            ul.address__phone-number-list
              li.address__phone-number-item
                a.address__phone-number-link(href='tel:+74991369631') +7(499)-136-9-631 доб.
              li.address__phone-number-item
                a.address__phone-number-link(href='tel:+78888888888') +7(888)-888-88-88
        ul.address__social-icons-list
          li.address__social-icon-item
            a.address__social-icon-link.social-icon-telegram(href='tg://resolve?domain=имя_пользователя')
          li.address__social-icon-item
            a.address__social-icon-link.social-icon-whatsapp(href='https://api.whatsapp.com/send/?phone=телефон')
      .line-mobile-footer
    .footer__long-underline
    .footer__copyright
      a.footer__copyright-link(href='#0') Все права защищены, 2023
