header.header
    .header__wr-content
        .header__icon-mobile-nav
            <svg viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 17H0V20H20V17Z" fill="black"/><path d="M24.9995 8.31982H0.130859V12.0624H24.9995V8.31982Z" fill="black"/><path d="M29.9999 0H0.130859V3.74255H29.9999V0Z" fill="black"/></svg>
        .header__wr-logo
            .header__logo.logo
                a.header__logo-link.logo-link(href='./index.html' title="")
                    <svg class="header-logo-icon-desctop" viewBox="0 0 61 93" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 0.0941925H12.2402L24.5479 20.7535L33.9042 4.89796L43.1978 20.7535L55.1601 0H61L40.2779 35.6358L31.1099 19.8116L21.7221 35.416L1 0.0941925Z" fill="#333333"/><path d="M4.86102 31.3666H13.715L21.7213 45.4325L30.8893 29.6083L37.7653 41.3823V70.927H27.6554V45.2127L18.8014 60.2206L9.75898 45.0244L9.79038 70.9584H4.86102V31.3666Z" fill="#333333"/><path d="M48.5014 31.3662H59.7416V41.4446H52.8029V48.195H58.7683V53.0616H52.8029V70.8952H42.7558V41.1621L48.5014 31.3662Z" fill="#333333"/><path d="M2.15246 85.5183L5.46246 85.5183L5.46246 89.6783L6.06246 89.6783L6.06246 91.2783L5.05246 91.2783L5.05246 90.2783L2.10246 90.2783L2.10246 91.2783L1.09246 91.2783L1.09246 89.6783L1.31246 89.6783C1.66246 89.6783 1.84246 89.3983 1.89246 88.7683L2.15246 85.5183ZM2.58246 89.6783L4.45246 89.6783L4.45246 86.1183L3.07246 86.1183L2.86246 88.7583C2.82246 89.1883 2.74246 89.4683 2.58246 89.6783ZM9.75824 85.5183L10.8382 85.5183L10.8382 90.2783L9.82824 90.2783L9.82824 86.6483L8.01824 90.2783L6.93824 90.2783L6.93824 85.5183L7.94824 85.5183L7.94824 89.1483L9.75824 85.5183ZM15.6991 87.0683L14.6391 87.0683C14.6491 86.1983 14.4391 85.8283 13.9591 85.8283C13.4091 85.8283 13.0691 86.4283 13.0691 87.3783C13.0691 88.8383 13.7691 89.8583 14.7791 89.8583C15.0591 89.8583 15.3091 89.8083 15.6291 89.6783L15.6291 90.1483C15.1691 90.3183 14.7791 90.3883 14.3491 90.3883C12.8191 90.3883 11.9691 89.4283 11.9691 87.7183C11.9691 86.2283 12.6791 85.4083 13.9791 85.4083C15.1391 85.4083 15.6791 85.9283 15.6991 87.0683ZM17.1069 86.1183L15.9069 86.1183L15.9069 85.5183L19.3169 85.5183L19.3169 86.1183L18.1169 86.1183L18.1169 90.2783L17.1069 90.2783L17.1069 86.1183ZM21.1421 89.6183L21.1221 89.6183L21.1221 92.4183L20.1121 92.4183L20.1121 85.5183L21.1221 85.5183L21.1221 86.2983L21.1421 86.2983C21.4221 85.6883 21.8221 85.4083 22.4021 85.4083C23.1021 85.4083 23.6221 85.7383 23.9021 86.3583C24.0921 86.7783 24.1721 87.2483 24.1721 88.0083C24.1721 89.4883 23.5021 90.3883 22.3921 90.3883C21.7921 90.3883 21.4421 90.1683 21.1421 89.6183ZM23.0721 87.8983L23.0721 87.8583C23.0721 86.6983 22.7321 86.0483 22.1121 86.0483C21.4921 86.0483 21.1621 86.6883 21.1621 87.8983C21.1621 89.2183 21.4521 89.8083 22.1021 89.8083C22.7321 89.8083 23.0721 89.1283 23.0721 87.8983ZM28.1176 85.5183L29.1976 85.5183L29.1976 90.2783L28.1876 90.2783L28.1876 86.6483L26.3776 90.2783L25.2976 90.2783L25.2976 85.5183L26.3076 85.5183L26.3076 89.1483L28.1176 85.5183ZM33.9685 83.2783L33.9685 84.0583C33.7285 84.0483 33.6485 84.0383 33.0885 83.8883C32.9785 83.8683 32.8385 83.8483 32.7185 83.8483C32.0385 83.8483 31.6485 84.4383 31.4685 85.7483C31.7585 85.5083 32.0585 85.4083 32.4985 85.4083C33.8185 85.4083 34.5485 86.2983 34.5485 87.9083C34.5485 89.5283 33.8185 90.3883 32.4385 90.3883C31.5985 90.3883 31.0085 90.0783 30.6685 89.4483C30.4085 88.9883 30.3385 88.5383 30.3385 87.4783C30.3385 85.8383 30.6085 84.6983 31.1585 83.9983C31.5785 83.4683 32.0085 83.2683 32.7285 83.2683C32.9085 83.2683 32.9385 83.2683 33.3085 83.2983C33.4085 83.3083 33.4885 83.3083 33.5485 83.3083C33.6785 83.3083 33.8385 83.2983 33.9685 83.2783ZM33.4485 88.0883L33.4485 87.9283L33.4485 87.8583C33.4485 86.4983 33.1185 85.8283 32.4385 85.8283C31.7585 85.8283 31.4385 86.4983 31.4385 87.8983C31.4385 89.3083 31.7585 89.9683 32.4385 89.9683C33.0885 89.9683 33.4485 89.2883 33.4485 88.0883ZM36.6982 88.0983L36.6982 89.6783L36.9382 89.6783L37.2082 89.6783C37.7682 89.6783 38.0882 89.3883 38.0882 88.8883C38.0882 88.2983 37.7882 88.0983 36.9382 88.0983L36.6982 88.0983ZM35.6882 85.5183L36.6982 85.5183L36.6982 87.4983L37.3482 87.4983C37.9882 87.4983 38.3382 87.5683 38.6382 87.7483C38.9982 87.9683 39.1882 88.3583 39.1882 88.8583C39.1882 89.4383 38.9482 89.8783 38.5082 90.0883C38.2182 90.2283 37.8982 90.2783 37.3482 90.2783L35.6882 90.2783L35.6882 85.5183ZM41.0635 87.4983L41.6535 87.4983C41.7935 86.0983 42.4735 85.4083 43.7335 85.4083C45.1035 85.4083 45.8435 86.2783 45.8435 87.9183C45.8435 89.5183 45.1035 90.3883 43.7335 90.3883C42.4135 90.3883 41.6935 89.6083 41.6335 88.0983L41.0635 88.0983L41.0635 90.2783L40.0535 90.2783L40.0535 85.5183L41.0635 85.5183L41.0635 87.4983ZM42.7335 87.7183L42.7335 87.9083L42.7335 88.0883C42.7335 89.2983 43.0835 89.9683 43.7335 89.9683C44.4035 89.9683 44.7435 89.2983 44.7435 87.9383L44.7435 87.8583L44.7435 87.7183C44.7335 86.4883 44.3835 85.8283 43.7335 85.8283C43.0935 85.8283 42.7335 86.5083 42.7335 87.7183ZM47.5171 86.1183L46.3171 86.1183L46.3171 85.5183L49.7271 85.5183L49.7271 86.1183L48.5271 86.1183L48.5271 90.2783L47.5171 90.2783L47.5171 86.1183ZM52.2822 85.4083C53.6522 85.4083 54.3922 86.2783 54.3922 87.8983C54.3922 89.5283 53.6622 90.3883 52.2822 90.3883C50.9022 90.3883 50.1822 89.5283 50.1822 87.8983C50.1822 86.2683 50.9122 85.4083 52.2822 85.4083ZM52.2822 85.8283C51.6022 85.8283 51.2822 86.4883 51.2822 87.8983C51.2822 89.3183 51.6022 89.9683 52.2822 89.9683C52.9722 89.9683 53.2922 89.3083 53.2922 87.8883C53.2922 86.4883 52.9622 85.8283 52.2822 85.8283ZM56.562 89.6183L56.542 89.6183L56.542 92.4183L55.532 92.4183L55.532 85.5183L56.542 85.5183L56.542 86.2983L56.562 86.2983C56.842 85.6883 57.242 85.4083 57.822 85.4083C58.522 85.4083 59.042 85.7383 59.322 86.3583C59.512 86.7783 59.592 87.2483 59.592 88.0083C59.592 89.4883 58.922 90.3883 57.812 90.3883C57.212 90.3883 56.862 90.1683 56.562 89.6183ZM58.492 87.8983L58.492 87.8583C58.492 86.6983 58.152 86.0483 57.532 86.0483C56.912 86.0483 56.582 86.6883 56.582 87.8983C56.582 89.2183 56.872 89.8083 57.522 89.8083C58.152 89.8083 58.492 89.1283 58.492 87.8983Z" fill="black"/><path d="M3.28379 74.2683C5.06379 74.2683 5.98379 75.5083 5.98379 77.8983C5.98379 80.1483 5.02379 81.3883 3.28379 81.3883C1.53379 81.3883 0.593789 80.1483 0.593789 77.8283C0.593789 75.5083 1.53379 74.2683 3.28379 74.2683ZM4.81379 77.8283L4.81379 77.7583C4.81379 75.8483 4.29379 74.8683 3.28379 74.8683C2.26379 74.8683 1.76379 75.8383 1.76379 77.8283C1.76379 79.8183 2.26379 80.7883 3.28379 80.7883C4.31379 80.7883 4.81379 79.8183 4.81379 77.8283ZM10.3826 83.4183L9.40262 83.4183L9.40262 81.0483C9.17262 81.2983 8.94262 81.3883 8.56262 81.3883C7.45262 81.3883 6.83262 80.4983 6.83262 78.8983C6.83262 77.3183 7.45262 76.4083 8.54262 76.4083C8.90262 76.4083 9.18262 76.5183 9.40262 76.7483L9.40262 74.3783L10.3826 74.3783L10.3826 76.7483C10.6026 76.5183 10.8826 76.4083 11.2426 76.4083C12.3326 76.4083 12.9526 77.3183 12.9526 78.8983C12.9526 80.4983 12.3326 81.3883 11.2226 81.3883C10.8426 81.3883 10.6226 81.2983 10.3826 81.0483L10.3826 83.4183ZM8.64262 76.8283C8.14262 76.8283 7.90262 77.4983 7.90262 78.8983C7.90262 80.3183 8.14262 80.9683 8.65262 80.9683C9.15262 80.9683 9.40262 80.2983 9.40262 78.9583C9.40262 77.4883 9.16262 76.8283 8.64262 76.8283ZM11.1426 76.8283C10.6226 76.8283 10.3826 77.4883 10.3826 78.9583C10.3826 80.2983 10.6326 80.9683 11.1326 80.9683C11.6426 80.9683 11.8826 80.3183 11.8826 78.8983C11.8826 77.4983 11.6426 76.8283 11.1426 76.8283ZM16.9067 76.5183L17.9867 76.5183L17.9867 81.2783L16.9767 81.2783L16.9767 77.6483L15.1667 81.2783L14.0867 81.2783L14.0867 76.5183L15.0967 76.5183L15.0967 80.1483L16.9067 76.5183ZM22.9575 81.2783L19.4675 81.2783L19.4675 76.5183L20.4775 76.5183L20.4775 80.6783L22.3575 80.6783L22.3575 76.5183L23.3675 76.5183L23.3675 80.6783L23.9675 80.6783L23.9675 82.2783L22.9575 82.2783L22.9575 81.2783ZM27.6684 76.5183L28.7484 76.5183L28.7484 81.2783L27.7384 81.2783L27.7384 77.6483L25.9284 81.2783L24.8484 81.2783L24.8484 76.5183L25.8584 76.5183L25.8584 80.1483L27.6684 76.5183ZM32.5793 81.2783L32.5793 80.6183L32.5593 80.6183C32.2493 81.1183 31.7893 81.3883 31.2193 81.3883C30.4793 81.3883 29.9193 80.8783 29.9193 80.1883C29.9193 79.2083 30.7493 78.7183 32.5793 78.6283L32.5793 78.2083C32.5793 77.7583 32.5593 77.5483 32.4993 77.3383C32.4093 76.9983 32.1993 76.8283 31.8993 76.8283C31.3993 76.8283 31.1793 77.1283 31.1393 77.8683L30.0793 77.8683C30.1593 76.8583 30.7193 76.4083 31.9093 76.4083C33.1293 76.4083 33.5893 76.8983 33.5893 78.2083L33.5893 81.2783L32.5793 81.2783ZM32.5793 79.6083L32.5793 79.0483C31.5193 79.1183 31.0193 79.4383 31.0193 80.0383C31.0193 80.4683 31.2493 80.7583 31.5993 80.7583C32.1293 80.7583 32.5793 80.2283 32.5793 79.6083ZM36.2735 77.1183L36.0635 79.8483C36.0035 80.8583 35.4835 81.3683 34.5135 81.3583L34.5135 80.7583C34.8835 80.7283 35.0635 80.4583 35.0935 79.8483L35.3535 76.5183L38.6635 76.5183L38.6635 81.2783L37.6535 81.2783L37.6535 77.1183L36.2735 77.1183ZM41.1514 79.0983L41.1514 80.6783L41.3914 80.6783L41.6614 80.6783C42.2214 80.6783 42.5414 80.3883 42.5414 79.8883C42.5414 79.2983 42.2414 79.0983 41.3914 79.0983L41.1514 79.0983ZM40.1414 76.5183L41.1514 76.5183L41.1514 78.4983L41.8014 78.4983C42.4414 78.4983 42.7914 78.5683 43.0914 78.7483C43.4514 78.9683 43.6414 79.3583 43.6414 79.8583C43.6414 80.4383 43.4014 80.8783 42.9614 81.0883C42.6714 81.2283 42.3514 81.2783 41.8014 81.2783L40.1414 81.2783L40.1414 76.5183ZM47.3966 79.0983L45.5166 79.0983L45.5166 81.2783L44.5066 81.2783L44.5066 76.5183L45.5166 76.5183L45.5166 78.4983L47.3966 78.4983L47.3966 76.5183L48.4066 76.5183L48.4066 81.2783L47.3966 81.2783L47.3966 79.0983ZM50.8975 79.0983L50.8975 80.6783L51.1375 80.6783L51.4075 80.6783C51.9675 80.6783 52.2875 80.3883 52.2875 79.8883C52.2875 79.2983 51.9875 79.0983 51.1375 79.0983L50.8975 79.0983ZM49.8875 76.5183L50.8975 76.5183L50.8975 78.4983L51.5475 78.4983C52.1875 78.4983 52.5375 78.5683 52.8375 78.7483C53.1975 78.9683 53.3875 79.3583 53.3875 79.8583C53.3875 80.4383 53.1475 80.8783 52.7075 81.0883C52.4175 81.2283 52.0975 81.2783 51.5475 81.2783L49.8875 81.2783L49.8875 76.5183ZM53.7375 76.5183L54.7475 76.5183L54.7475 81.2783L53.7375 81.2783L53.7375 76.5183ZM59.0454 76.5183L60.1254 76.5183L60.1254 81.2783L59.1154 81.2783L59.1154 77.6483L57.3054 81.2783L56.2254 81.2783L56.2254 76.5183L57.2354 76.5183L57.2354 80.1483L59.0454 76.5183ZM59.1254 74.2683L59.6954 74.2683C59.6054 75.1883 59.1254 75.6883 58.3154 75.6883C57.4754 75.6883 56.9054 75.1183 56.8954 74.2683L57.4654 74.2683C57.5754 74.7283 57.8554 74.9583 58.2954 74.9583C58.7254 74.9583 58.9854 74.7483 59.1254 74.2683Z" fill="black"/></svg>
                    <svg class="header-logo-icon-mobile" viewBox="0 0 35 42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0.0549456H6.55677L13.7363 12.1062L19.1941 2.85714L24.6154 12.1062L31.5934 0H35L22.9121 20.7875L17.5641 11.5568L12.0879 20.6593L0 0.0549456Z" fill="#333333"/><path d="M2.25244 18.2971H7.41728L12.0876 26.5023L17.4356 17.2715L21.4466 24.1396V41.374H15.5491V26.374L10.3843 35.1286L5.10959 26.2642L5.1279 41.3924H2.25244V18.2971Z" fill="#333333"/><path d="M27.711 18.2969H34.2678V24.176H30.2202V28.1137H33.7V30.9525H30.2202V41.3555H24.3594V24.0112L27.711 18.2969Z" fill="#333333"/></svg>
        nav.nav
            ul.header__nav-list
                li.header__nav-item(data-index='0')
                    a.header__nav-link.lifestyle(href='#00' data-name='lifestyle' title="") Фарфор & Линейка Lifestyle
                    .header__short-line.short-line-lifestyle
                        <svg class="short-line-nav" viewBox="0 0 290 3" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="290" height="3" fill="url(#paint0_radial_412_3627)"/><defs><radialGradient id="paint0_radial_412_3627" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(145 1.5) rotate(90) scale(1.5 145)"><stop offset="0.416667" stop-color="#333333"/><stop offset="1" stop-color="#333333" stop-opacity="0"/></radialGradient></defs></svg>
                    .header__link-mask.link-mask
                li.header__nav-item(data-index='1')
                    a.header__nav-link(href='#00' data-name='tableware' title="") Столовые приборы
                    .header__short-line.short-line-tableware
                        <svg class="short-line-nav" viewBox="0 0 192 3" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="192" height="3" fill="url(#paint0_radial_412_3646)"/><defs><radialGradient id="paint0_radial_412_3646" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(96 1.5) rotate(90) scale(1.5 96)"><stop offset="0.416667" stop-color="#333333"/><stop offset="1" stop-color="#333333" stop-opacity="0"/></radialGradient></defs></svg>
                    .header__link-mask.link-mask
                li.header__nav-item(data-index='2')
                    a.header__nav-link(href='#00' data-name='tabletop' title="") Table Top
                    .header__short-line.short-line-tabletop
                        <svg class="short-line-nav" viewBox="0 0 93 3" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="93" height="3" fill="url(#paint0_radial_412_3665)"/><defs><radialGradient id="paint0_radial_412_3665" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(46.5 1.5) rotate(90) scale(1.5 46.5)"><stop offset="0.416667" stop-color="#333333"/><stop offset="1" stop-color="#333333" stop-opacity="0"/></radialGradient></defs></svg>
                    .header__link-mask.link-mask
                li.header__nav-item(data-index='3')
                    a.header__nav-link(href='#00' data-name='swedishline' title="") Шведская линия
                    .header__short-line.short-line-swedish
                        <svg class="short-line-nav" viewBox="0 0 169 3" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="169" height="3" fill="url(#paint0_radial_412_3684)"/><defs><radialGradient id="paint0_radial_412_3684" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(84.5 1.5) rotate(90) scale(1.5 84.5)"><stop offset="0.416667" stop-color="#333333"/><stop offset="1" stop-color="#333333" stop-opacity="0"/></radialGradient></defs></svg>
                    .header__link-mask.link-mask
                li.header__nav-item
                    a.header__nav-link(href='./apartment-maintenance.html' data-name='serve' title="") Обслуживание апартаментов
                    .header__short-line.short-line-serve
                        <svg class="short-line-nav" viewBox="0 0 290 3" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="290" height="3" fill="url(#paint0_radial_412_3627)"/><defs><radialGradient id="paint0_radial_412_3627" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(145 1.5) rotate(90) scale(1.5 145)"><stop offset="0.416667" stop-color="#333333"/><stop offset="1" stop-color="#333333" stop-opacity="0"/></radialGradient></defs></svg>
                    .header__link-mask.link-mask
                li.header__nav-item
                    a.header__nav-link(href='./contacts.html' data-name='contacts' title="") Контакты
                    .header__short-line.short-line-contacts
                    .header__link-mask.link-mask
        .header__wr-icon-search
            .header__icon-search
    .header__long-underline
        <svg class="header-long-underline" viewBox="0 0 1920 3" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1920" height="3" fill="url(#paint0_radial_511_1161)"/><defs><radialGradient id="paint0_radial_511_1161" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(960 1.5) rotate(90) scale(1.5 960)"><stop offset="0.416667" stop-color="#333333"/><stop offset="1" stop-color="#333333" stop-opacity="0"/></radialGradient></defs></svg>
    .mask-search.place-search_unactive
        .header__wr-place-search
            form.header__form-search
                input.header__place-search(type='text' placeholder='Что вы ищете?')
    .mask-sub-menu
        .wr-sub-menu.unactive-sub(data-index='0')
            // unactive-sub
            .submenu
                // unactive-sub
                ul.submenu-columns
                    li.columns-item
                        ul.submenu-list
                            li.submenu-item
                                a.submenu-link.submenu-link_title(href='./synergy-&-style-lights.html' title="") SYNERGY & STYLE LIGHTS
                            li.submenu-item
                                a.submenu-link.submenu-link_title(href='./porcelain-synergy.html' title="") Фарфор SYNERGY
                            li.submenu-item
                                a.submenu-link.submenu-link_title(href='./product-line-lifestyle.html' title="") Линейка продуктов Lifestyle
                .close-submenu
                    <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L33 33" stroke="black" stroke-width="2" stroke-linecap="round"/>
                    <path d="M32.6784 1L1 32.6784" stroke="black" stroke-width="2" stroke-linecap="round"/>
                    </svg>
        .wr-sub-menu.unactive-sub(data-index='1')
            // unactive-sub
            .submenu
                // unactive-sub
                ul.submenu-columns
                    li.columns-item
                        ul.submenu-list
                            li.submenu-item
                                a.submenu-link.submenu-link_title(href='./the-new-easy.html' title="") THE NEW EASY
                        ul.submenu-list
                            li.submenu-item
                                a.submenu-link.submenu-link_title(href='#0' title="") Столовые приборы
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./tablewares-all-tablewares.html' title="") Все столовые приборы
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./tablewares-collections.html' title="") Коллекции
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./tablewares-about-tablewares.html' title="") О столовых приборах
                    li.columns-item
                        ul.submenu-list
                            li.submenu-item
                                a.submenu-link.submenu-link_title(href='#0' title="") Специальные сервировочные приборы
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./serving-devices-all-collections.html' title="") Все коллекции
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./serving-devices-all-serving-devices.html' title="") Все специальные сервировочные приборы
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./serving-devices-rodeo.html' title="") Приборы для стейка RODEO
                        ul.submenu-list
                            li.submenu-item
                                a.submenu-link.submenu-link_title(href='./tablewares-special-finishing.html' title="") Специальная отделка приборов
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./finishing-devices-all-collections.html' title="") Все коллекции
                .close-submenu
                    <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L33 33" stroke="black" stroke-width="2" stroke-linecap="round"/><path d="M32.6784 1L1 32.6784" stroke="black" stroke-width="2" stroke-linecap="round"/></svg>
        .wr-sub-menu.unactive-sub(data-index='2')
            // unactive-sub
            .submenu
                // unactive-sub
                ul.submenu-columns
                    li.columns-item
                        ul.submenu-list
                            li.submenu-item
                                a.submenu-link.submenu-link_title(href='#0' title="") Напитки
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./table-top-crystal-glass.html' title="") True Flavour: хрустальное стекло
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./table-top-coffee-tea.html' title="") Кофе и чай
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./table-top-coolers.html' title="") Кулеры
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./table-top-drinks-all-position.html' title="") Все позиции
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./table-top-drinks-all-collections.html' title="") Коллекции
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./table-top-firstglass.html' title="") О стекле WMF Firstglass
                        ul.submenu-list
                            li.submenu-item
                                a.submenu-link.submenu-link_title(href='#0' title="") Сервировка
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./table-top-serving-all-positions.html' title="") Все позиции
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./table-top-serving-collections.html' title="") Коллекции
                    li.columns-item
                        ul.submenu-list
                            li.submenu-item
                                a.submenu-link.submenu-link_title(href='#0' title="") Столовый декор
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./table-top-decor-all-positions.html' title="") Все позиции
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./table-top-decor-collections.html' title="") Коллекции
                        ul.submenu-list
                            li.submenu-item
                                a.submenu-link.submenu-link_title(href='#0' title="") Специи
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./table-top-spices-all-positions.html' title="") Все позиции
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./table-top-spices-collections.html' title="") Коллекции
                .close-submenu
                    <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L33 33" stroke="black" stroke-width="2" stroke-linecap="round"/><path d="M32.6784 1L1 32.6784" stroke="black" stroke-width="2" stroke-linecap="round"/></svg>

        .wr-sub-menu.unactive-sub(data-index='3')
            //- unactive-sub
            .submenu
                ul.submenu-columns
                    li.columns-item
                        ul.submenu-list
                            li.submenu-item
                                a.submenu-link.submenu-link_title(href='#0' title="") WMF Quadro
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./swedish-line-quadro-all-positions.html' title="") Все позиции
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./swedish-line-quadro-modules.html' title="") WMF Quadro модули
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./swedish-line-quadro-sets.html' title="") WMF Quadro сеты
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./swedish-line-about-quadro.html' title="") О WMF Quadro
                        ul.submenu-list
                            li.submenu-item
                                a.submenu-link.submenu-link_title(href='#0' title="") Мармиты и термоемкости
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./swedish-line-marmites-all-position.html' title="") Все позиции
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./swedish-line-marmites-collections.html' title="") Коллекции
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./swedish-line-about-marmites.html' title="") О мармитах
                    li.columns-item
                        ul.submenu-list
                            li.submenu-item
                                a.submenu-link.submenu-link_title(href='#0' title="") Диспенсеры
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./swedish-line-dispensers-all-position.html' title="") Все позиции
                        ul.submenu-list
                            li.submenu-item
                                a.submenu-link.submenu-link_title(href='#0' title="") Подача блюд и напитков
                            li.submenu-item
                                a.submenu-link.submenu-link_tab(href='./swedish-line-serving-food-all-position.html' title="") Все позиции
                .close-submenu
                    <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L33 33" stroke="black" stroke-width="2" stroke-linecap="round"/><path d="M32.6784 1L1 32.6784" stroke="black" stroke-width="2" stroke-linecap="round"/></svg>

        //- mobile menu
        .wr-mobile-sub-menu.unactive-sub
            ul.mobile-menu-main-list

                li.mobile-menu-main-item.upper-item-menu
                    .mobile-menu-item_title.upper-item-menu Фарфор & Линейка Lifestyle
                    ul.wr-mobile-menu-level-list.list-level-2
                        li.wr-mobile-menu-level-item
                            a(href="./synergy-&-style-lights.html" title="").mobile-menu-item_link SYNERGY & STYLE LIGHTS
                        li.wr-mobile-menu-level-item
                            a(href="./porcelain-synergy.html" title="").mobile-menu-item_link Фарфор SYNERGY
                        li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                            a(href="./product-line-lifestyle.html" title="").mobile-menu-item_link Линейка продуктов Lifestyle

                li.mobile-menu-main-item
                    .mobile-menu-item_title.upper-item-menu Столовые приборы
                    ul.wr-mobile-menu-level-list.list-level-2
                        li.wr-mobile-menu-level-item
                            a(href="./the-new-easy.html" title="").mobile-menu-item_link THE NEW EASY
                        li.wr-mobile-menu-level-item
                            .mobile-menu-item_title.upper-item-menu Столовые приборы
                            ul.wr-mobile-menu-level-list.list-level-3
                                li.wr-mobile-menu-level-item
                                    a(href="./tablewares-all-tablewares.html" title="").mobile-menu-item_link Все столовые приборы
                                li.wr-mobile-menu-level-item
                                    a(href="./tablewares-collections.html" title="").mobile-menu-item_link Коллекции
                                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                                    a(href="./tablewares-about-tablewares.html" title="").mobile-menu-item_link О столовых приборах

                        li.wr-mobile-menu-level-item
                            .mobile-menu-item_title.upper-item-menu Специальные сервировочные приборы
                            ul.wr-mobile-menu-level-list.list-level-3
                                li.wr-mobile-menu-level-item
                                    a(href="./serving-devices-all-collections.html" title="").mobile-menu-item_link Все коллекции
                                li.wr-mobile-menu-level-item
                                    a(href="./serving-devices-all-serving-devices.html" title="").mobile-menu-item_link Все специальные сервировочные приборы
                                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                                    a(href="./serving-devices-rodeo.html" title="").mobile-menu-item_link Приборы для стейка RODEO

                        li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                            .mobile-menu-item_title.upper-item-menu Специальная отделка приборов
                            ul.wr-mobile-menu-level-list.list-level-3
                                li.wr-mobile-menu-level-item
                                    a(href="./tablewares-special-finishing.html" title="").mobile-menu-item_link Специальная отделка
                                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                                    a(href="./finishing-devices-all-collections.html" title="").mobile-menu-item_link Все коллекции

                li.mobile-menu-main-item
                    .mobile-menu-item_title.upper-item-menu Table Top
                    ul.wr-mobile-menu-level-list.list-level-2
                        li.wr-mobile-menu-level-item
                            .mobile-menu-item_title.upper-item-menu Напитки
                            ul.wr-mobile-menu-level-list.list-level-3
                                li.wr-mobile-menu-level-item
                                    a(href="./table-top-crystal-glass.html" title="").mobile-menu-item_link True Flavour: хрустальное стекло
                                li.wr-mobile-menu-level-item
                                    a(href="./table-top-coffee-tea.html" title="").mobile-menu-item_link Кофе и чай
                                li.wr-mobile-menu-level-item
                                    a(href="./table-top-coolers.html" title="").mobile-menu-item_link Кулеры
                                li.wr-mobile-menu-level-item
                                    a(href="./table-top-drinks-all-position.html" title="").mobile-menu-item_link Все позиции
                                li.wr-mobile-menu-level-item
                                    a(href="./table-top-drinks-all-collections.html" title="").mobile-menu-item_link Коллекции
                                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                                    a(href="./table-top-firstglass.html" title="").mobile-menu-item_link О стекле WMF Firstglass

                        li.wr-mobile-menu-level-item
                            .mobile-menu-item_title.upper-item-menu Сервировка
                            ul.wr-mobile-menu-level-list.list-level-3
                                li.wr-mobile-menu-level-item
                                    a(href="./table-top-serving-all-positions.html" title="").mobile-menu-item_link Все позиции
                                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                                    a(href="./table-top-serving-collections.html" title="").mobile-menu-item_link Коллекции

                        li.wr-mobile-menu-level-item
                            .mobile-menu-item_title.upper-item-menu Столовый декор
                            ul.wr-mobile-menu-level-list.list-level-3
                                li.wr-mobile-menu-level-item
                                    a(href="./table-top-decor-all-positions.html" title="").mobile-menu-item_link Все позиции
                                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                                    a(href="./table-top-decor-collections.html" title="").mobile-menu-item_link Коллекции

                        li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                            .mobile-menu-item_title.upper-item-menu Специи
                            ul.wr-mobile-menu-level-list.list-level-3
                                li.wr-mobile-menu-level-item
                                    a(href="./table-top-spices-all-positions.html" title="").mobile-menu-item_link Все позиции
                                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                                    a(href="./table-top-spices-collections.html" title="").mobile-menu-item_link Коллекции

                li.mobile-menu-main-item
                    .mobile-menu-item_title.upper-item-menu Шведская линия
                    ul.wr-mobile-menu-level-list.list-level-2
                        li.wr-mobile-menu-level-item
                            .mobile-menu-item_title.upper-item-menu WMF Quadro
                            ul.wr-mobile-menu-level-list.list-level-3
                                li.wr-mobile-menu-level-item
                                    a(href="./swedish-line-quadro-all-positions.html" title="").mobile-menu-item_link Все позиции
                                li.wr-mobile-menu-level-item
                                    a(href="./swedish-line-quadro-modules.html" title="").mobile-menu-item_link WMF Quadro модули
                                li.wr-mobile-menu-level-item
                                    a(href="./swedish-line-quadro-sets.html" title="").mobile-menu-item_link WMF Quadro сеты
                                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                                    a(href="./swedish-line-about-quadro.html" title="").mobile-menu-item_link О WMF Quadro


                        li.wr-mobile-menu-level-item
                            .mobile-menu-item_title.upper-item-menu Мармиты и термоемкости
                            ul.wr-mobile-menu-level-list.list-level-3
                                li.wr-mobile-menu-level-item
                                    a(href="./swedish-line-marmites-all-position.html" title="").mobile-menu-item_link Все позиции
                                li.wr-mobile-menu-level-item
                                    a(href="./swedish-line-marmites-collections.html" title="").mobile-menu-item_link Коллекции
                                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                                    a(href="./swedish-line-about-marmites.html" title="").mobile-menu-item_link О мармитах

                        li.wr-mobile-menu-level-item
                            .mobile-menu-item_title.upper-item-menu Диспенсеры
                            ul.wr-mobile-menu-level-list.list-level-3
                                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                                    a(href="./swedish-line-dispensers-all-position.html" title="").mobile-menu-item_link Все позиции

                        li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                            .mobile-menu-item_title.upper-item-menu Подача блюд и напитков
                            ul.wr-mobile-menu-level-list.list-level-3
                                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                                    a(href="./swedish-line-serving-food-all-position.html" title="").mobile-menu-item_link Все позиции

                li.mobile-menu-main-item
                    a(href="./apartment-maintenance.html" title="").mobile-menu-main-item-link Обслуживание апартаментов
                li.mobile-menu-main-item.mobile-menu-main-item_last
                    a(href="./contacts.html" title="").mobile-menu-main-item-link Контакты