

header.header
  .header__wr-content
    .header__icon-mobile-nav 
    .header__wr-logo
      .header__logo.logo
        a.header__logo-link.logo-link(href='./index.html' title="")
    nav.nav
      ul.header__nav-list 
        li.header__nav-item(data-index='0')
          a.header__nav-link.lifestyle(href='#00' data-name='lifestyle' title="") Фарфор & Линейка lifeStyle
          .header__short-line.short-line-lifestyle
          .header__link-mask.link-mask
        li.header__nav-item(data-index='1')
          a.header__nav-link(href='#00' data-name='tableware' title="") Столовые приборы
          .header__short-line.short-line-tableware
          .header__link-mask.link-mask
        li.header__nav-item(data-index='2')
          a.header__nav-link(href='#00' data-name='tabletop' title="") Table Top
          .header__short-line.short-line-tabletop
          .header__link-mask.link-mask
        li.header__nav-item(data-index='3')
          a.header__nav-link(href='#00' data-name='swedishline' title="") Шведская линия
          .header__short-line.short-line-swedish
          .header__link-mask.link-mask
        li.header__nav-item
          a.header__nav-link(href='#00' data-name='serve' title="") Обслуживание апартаментов
          .header__short-line.short-line-serve
          .header__link-mask.link-mask
        li.header__nav-item
          a.header__nav-link(href='./contacts.html' data-name='contacts' title="") Контакты
          .header__short-line.short-line-contacts
          .header__link-mask.link-mask
    .header__wr-icon-search
      .header__icon-search
  .header__long-underline
  .mask-search.place-search_unactive
    .header__wr-place-search 
      form.header__form-search
        input.header__place-search(type='text' placeholder='Что вы ищете?')
  .mask-sub-menu
    .wr-sub-menu.unactive-sub(data-index='0')
      // unactive-sub
      .submenu
        // unactive-sub
        ul.submenu-columns
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='./synergy-&-style-lights.html' title="") SYNERGY & STYLE LIGHTS
              li.submenu-item
                a.submenu-link.submenu-link_title(href='./porcelain-synergy.html' title="") Фарфор SYNERGY
              li.submenu-item
                a.submenu-link.submenu-link_title(href='./product-line-lifestyle.html' title="") Линейка продуктов Lifestyle
        .close-submenu
    .wr-sub-menu.unactive-sub(data-index='1')
      // unactive-sub
      .submenu
        // unactive-sub
        ul.submenu-columns
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='./the-new-easy.html' title="") THE NEW EASY
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#0' title="") Столовые приборы
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./tablewares-all-tablewares.html' title="") Все столовые приборы
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./tablewares-collections.html' title="") Коллекции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./about-tablewares-sub.html' title="") О столовых приборах
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#0' title="") Специальные сервировочные приборы
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./serving-devices-all-collections.html' title="") Все коллекции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./serving-devices-all-serving-devices.html' title="") Все специальные сервировочные приборы
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./serving-devices-rodeo.html' title="") Приборы для стейка RODEO
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='./tablewares-special-finishing.html' title="") Специальная отделка приборов
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./finishing-devices-all-collections.html' title="") Все коллекции
        .close-submenu
    .wr-sub-menu.unactive-sub(data-index='2')
      // unactive-sub
      .submenu
        // unactive-sub
        ul.submenu-columns
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#0' title="") Напитки
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./table-top-crystal-glass.html' title="") True Flavour: хрустальное стекло
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./table-top-coffee-tea.html' title="") Кофе и чай
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./table-top-coolers.html' title="") Кулеры
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./table-top-drinks-all-position.html' title="") Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./table-top-drinks-all-collections.html' title="") Коллекции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./table-top-firstglass.html' title="") О стекле WMF Firstglass
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#0' title="") Сервировка
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./table-top-serving-all-positions.html' title="") Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./table-top-serving-collections.html' title="") Коллекции
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#0' title="") Столовый декор
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./table-top-decor-all-positions.html' title="") Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./table-top-decor-collections.html' title="") Коллекции
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#0' title="") Специи
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./table-top-spices-all-positions.html' title="") Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./table-top-spices-collections.html' title="") Коллекции
        .close-submenu
    .wr-sub-menu.unactive-sub(data-index='3')
      //- unactive-sub
      .submenu
        ul.submenu-columns
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#0' title="") WMF Quadro
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./swedish-line-quadro-all-positions.html' title="") Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./swedish-line-quadro-modules.html' title="") WMF Quadro модули
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./swedish-line-quadro-sets.html' title="") WMF Quadro сеты
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./swedish-line-about-quadro.html' title="") О WMF Quadro
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#0' title="") Мармиты и термоемкости
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./swedish-line-marmites-all-position.html' title="") Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./swedish-line-marmites-collections.html' title="") Коллекции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./swedish-line-about-marmites.html' title="") О мармитах
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#0' title="") Диспенсеры
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./swedish-line-dispensers-all-position.html' title="") Все позиции
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#0' title="") Подача блюд и напитков
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='./swedish-line-serving-food-all-position.html' title="") Все позиции
        .close-submenu
    //- mobile menu 
    .wr-mobile-sub-menu.unactive-sub
      ul.mobile-menu-main-list 

        li.mobile-menu-main-item.upper-item-menu
          .mobile-menu-item_title.upper-item-menu Фарфор & Линейка Lifestyle
          ul.wr-mobile-menu-level-list.list-level-2
            li.wr-mobile-menu-level-item 
              a(href="./synergy-&-style-lights.html" title="").mobile-menu-item_link SYNERGY & STYLE LIGHTS
            li.wr-mobile-menu-level-item 
              a(href="./porcelain-synergy.html" title="").mobile-menu-item_link Фарфор SYNERGY
            li.wr-mobile-menu-level-item.mobile-menu-level-item_last 
              a(href="./product-line-lifestyle.html" title="").mobile-menu-item_link Линейка продуктов Lifestyle

        li.mobile-menu-main-item 
          .mobile-menu-item_title.upper-item-menu Столовые приборы
          ul.wr-mobile-menu-level-list.list-level-2
            li.wr-mobile-menu-level-item 
              a(href="./the-new-easy.html" title="").mobile-menu-item_link THE NEW EASY
            li.wr-mobile-menu-level-item 
              .mobile-menu-item_title.upper-item-menu Столовые приборы
              ul.wr-mobile-menu-level-list.list-level-3
                li.wr-mobile-menu-level-item
                  a(href="./tablewares-all-tablewares.html" title="").mobile-menu-item_link Все столовые приборы
                li.wr-mobile-menu-level-item
                  a(href="./tablewares-collections.html" title="").mobile-menu-item_link Коллекции
                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                  a(href="./about-tablewares-sub.html" title="").mobile-menu-item_link О столовых приборах

            li.wr-mobile-menu-level-item 
              .mobile-menu-item_title.upper-item-menu Специальные сервировочные приборы 
              ul.wr-mobile-menu-level-list.list-level-3
                li.wr-mobile-menu-level-item
                  a(href="./serving-devices-all-collections.html" title="").mobile-menu-item_link Все коллекции
                li.wr-mobile-menu-level-item
                  a(href="./serving-devices-all-serving-devices.html" title="").mobile-menu-item_link Все специальные сервировочные приборы
                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                  a(href="./serving-devices-rodeo.html" title="").mobile-menu-item_link Приборы для стейка RODEO

            li.wr-mobile-menu-level-item.mobile-menu-level-item_last 
              .mobile-menu-item_title.upper-item-menu Специальная отделка приборов
              ul.wr-mobile-menu-level-list.list-level-3
                li.wr-mobile-menu-level-item
                  a(href="./tablewares-special-finishing.html" title="").mobile-menu-item_link Специальная отделка
                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                  a(href="./finishing-devices-all-collections.html" title="").mobile-menu-item_link Все коллекции

        li.mobile-menu-main-item 
          .mobile-menu-item_title.upper-item-menu Table Top
          ul.wr-mobile-menu-level-list.list-level-2
            li.wr-mobile-menu-level-item 
              .mobile-menu-item_title.upper-item-menu Напитки
              ul.wr-mobile-menu-level-list.list-level-3
                li.wr-mobile-menu-level-item
                  a(href="./table-top-crystal-glass.html" title="").mobile-menu-item_link True Flavour: хрустальное стекло
                li.wr-mobile-menu-level-item
                  a(href="./table-top-coffee-tea.html" title="").mobile-menu-item_link Кофе и чай
                li.wr-mobile-menu-level-item
                  a(href="./table-top-coolers.html" title="").mobile-menu-item_link Кулеры
                li.wr-mobile-menu-level-item
                  a(href="./table-top-drinks-all-position.html" title="").mobile-menu-item_link Все позиции
                li.wr-mobile-menu-level-item
                  a(href="./table-top-drinks-all-collections.html" title="").mobile-menu-item_link Коллекции
                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                  a(href="./table-top-firstglass.html" title="").mobile-menu-item_link О стекле WMF Firstglass

            li.wr-mobile-menu-level-item 
              .mobile-menu-item_title.upper-item-menu Сервировка 
              ul.wr-mobile-menu-level-list.list-level-3
                li.wr-mobile-menu-level-item
                  a(href="./table-top-serving-all-positions.html" title="").mobile-menu-item_link Все позиции
                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                  a(href="./table-top-serving-collections.html" title="").mobile-menu-item_link Коллекции

            li.wr-mobile-menu-level-item 
              .mobile-menu-item_title.upper-item-menu Столовый декор
              ul.wr-mobile-menu-level-list.list-level-3
                li.wr-mobile-menu-level-item
                  a(href="./table-top-decor-all-positions.html" title="").mobile-menu-item_link Все позиции
                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                  a(href="./table-top-decor-collections.html" title="").mobile-menu-item_link Коллекции
                  
            li.wr-mobile-menu-level-item.mobile-menu-level-item_last 
              .mobile-menu-item_title.upper-item-menu Специи
              ul.wr-mobile-menu-level-list.list-level-3
                li.wr-mobile-menu-level-item
                  a(href="./table-top-spices-all-positions.html" title="").mobile-menu-item_link Все позиции
                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                  a(href="./table-top-spices-collections.html" title="").mobile-menu-item_link Коллекции

        li.mobile-menu-main-item 
          .mobile-menu-item_title.upper-item-menu Шведская линия
          ul.wr-mobile-menu-level-list.list-level-2
            li.wr-mobile-menu-level-item 
              .mobile-menu-item_title.upper-item-menu WMF Quadro
              ul.wr-mobile-menu-level-list.list-level-3
                li.wr-mobile-menu-level-item
                  a(href="./swedish-line-quadro-all-positions.html" title="").mobile-menu-item_link Все позиции
                li.wr-mobile-menu-level-item
                  a(href="./swedish-line-quadro-modules.html" title="").mobile-menu-item_link WMF Quadro модули
                li.wr-mobile-menu-level-item
                  a(href="./swedish-line-quadro-sets.html" title="").mobile-menu-item_link WMF Quadro сеты
                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                  a(href="./swedish-line-about-quadro.html" title="").mobile-menu-item_link О WMF Quadro


            li.wr-mobile-menu-level-item 
              .mobile-menu-item_title.upper-item-menu Мармиты и термоемкости
              ul.wr-mobile-menu-level-list.list-level-3
                li.wr-mobile-menu-level-item
                  a(href="./swedish-line-marmites-all-position.html" title="").mobile-menu-item_link Все позиции
                li.wr-mobile-menu-level-item
                  a(href="./swedish-line-marmites-collections.html" title="").mobile-menu-item_link Коллекции
                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                  a(href="./swedish-line-about-marmites.html" title="").mobile-menu-item_link О мармитах

            li.wr-mobile-menu-level-item 
              .mobile-menu-item_title.upper-item-menu Диспенсеры
              ul.wr-mobile-menu-level-list.list-level-3
                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                  a(href="./swedish-line-dispensers-all-position.html" title="").mobile-menu-item_link Все позиции

            li.wr-mobile-menu-level-item.mobile-menu-level-item_last 
              .mobile-menu-item_title.upper-item-menu Подача блюд и напитков
              ul.wr-mobile-menu-level-list.list-level-3
                li.wr-mobile-menu-level-item.mobile-menu-level-item_last
                  a(href="./swedish-line-serving-food-all-position.html" title="").mobile-menu-item_link Все позиции

        li.mobile-menu-main-item 
          a(href="#0" title="").mobile-menu-main-item-link Обслуживание апартаментов
        li.mobile-menu-main-item.mobile-menu-main-item_last 
          a(href="./contacts.html" title="").mobile-menu-main-item-link Контакты
  