

header.header
  .header__wr-content
    .header__icon-mobile-nav 
    .header__wr-logo
      .header__logo.logo
        a.header__logo-link.logo-link(href='#0')
    nav.nav
      ul.header__nav-list
        li.header__nav-item(data-index='0')
          a.header__nav-link.lifestyle(href='#0' data-name='lifestyle') Фарфор & Линейка lifiStyle
          .header__short-line.short-line-lifestyle
          .header__link-mask.link-mask
        li.header__nav-item(data-index='1')
          a.header__nav-link(href='#0' data-name='tableware') Столовые приборы
          .header__short-line.short-line-tableware
          .header__link-mask.link-mask
        li.header__nav-item(data-index='2')
          a.header__nav-link(href='#0' data-name='tabletop') Table Top
          .header__short-line.short-line-tabletop
          .header__link-mask.link-mask
        li.header__nav-item(data-index='3')
          a.header__nav-link(href='#0' data-name='swedishline') Шведская линия
          .header__short-line.short-line-swedish
          .header__link-mask.link-mask
        li.header__nav-item
          a.header__nav-link(href='#0' data-name='serve') Обслуживание апартаментов
          .header__short-line.short-line-serve
          .header__link-mask.link-mask
        li.header__nav-item
          a.header__nav-link(href='#0' data-name='contacts') Контакты
          .header__short-line.short-line-contacts
          .header__link-mask.link-mask
    .header__wr-icon-search
      .header__icon-search
  .header__long-underline
  .header__wr-place-search.place-search_unactive
    form.header__form-search
      input.header__place-search(type='text' placeholder='Что вы ищете?')
  .mask-sub-menu
    .wr-sub-menu.unactive-sub(data-index='0')
      // unactive-sub
      .submenu
        // unactive-sub
        ul.submenu-columns
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') SYNERGY & STYLE LIGHTS
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Фарфор SYNERGY
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Линейка продуктов Lifestyle
        .close-submenu
    .wr-sub-menu.unactive-sub(data-index='1')
      // unactive-sub
      .submenu
        // unactive-sub
        ul.submenu-columns
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') THE NEW EASY
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все коллекции
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Столовые приборы
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все столовые приборы
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Коллекции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') О столовых приборах
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Специальные сервировочные приборы
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все коллекции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все специальные сервировочные приборы
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Приборы для стейка RODEO
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Специальная отделка приборов
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все коллекции
        .close-submenu
    .wr-sub-menu.unactive-sub(data-index='2')
      // unactive-sub
      .submenu
        // unactive-sub
        ul.submenu-columns
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Напитки
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') True Flavour: хрустальное стекло
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Кофе и чай
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Кулеры
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Коллекции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') О стекле WMF Firstglass
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Сервировка
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Коллекции
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Столовый декор
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Коллекции
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Специи
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Коллекции
        .close-submenu
    .wr-sub-menu.unactive-sub(data-index='3')
      // unactive-sub
      .submenu
        ul.submenu-columns
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') WMF Quadro
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') WMF Quadro модули
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') WMF Quadro сеты
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') О WMF Quadro
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Мармиты и термоемкости
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Коллекции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') О мармитах
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Диспенсеры
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все позиции
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Подача блюд и напитков
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все позиции
        .close-submenu
    //- mobile menu 
    .wr-mobile-sub-menu.unactive-sub
      ul.mobile-menu-main-list 

        li.mobile-menu-main-item 
          <div class="mobile-menu-item_title">Фарфор & Линейка Lifestyle</div>
          ul.wr-mobile-menu-level2-list
            li.wr-mobile-menu-level2-item 
              <a href="#" class="mobile-menu-item_link">SYNERGY & STYLE LIGHTS</a>
            li.wr-mobile-menu-level2-item 
              <a href="#" class="mobile-menu-item_link">Фарфор SYNERGY</a>
            li.wr-mobile-menu-level2-item.mobile-menu-level-item_last 
              <a href="#" class="mobile-menu-item_link">Линейка продуктов Lifestyle</a>

        li.mobile-menu-main-item 
          <div class="mobile-menu-item_title">Столовые приборы</div> 
          ul.wr-mobile-menu-level2-list
            li.wr-mobile-menu-level2-item 
              <div class="mobile-menu-item_title">THE NEW EASY</div>
              ul.wr-mobile-menu-level3-list
                li.wr-mobile-menu-level3-item.mobile-menu-level-item_last
                  a(href="#").mobile-menu-item_link Все коллекции

            li.wr-mobile-menu-level2-item 
              <div class="mobile-menu-item_title">Столовые приборы</div> 
              ul.wr-mobile-menu-level3-list
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link Все столовые приборы
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link Коллекции
                li.wr-mobile-menu-level3-item.mobile-menu-level-item_last
                  a(href="#").mobile-menu-item_link О столовых приборах

            li.wr-mobile-menu-level2-item 
              <div class="mobile-menu-item_title">Специальные сервировочные приборы</div> 
              ul.wr-mobile-menu-level3-list
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link Все коллекции
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link Все специальные сервировочные приборы
                li.wr-mobile-menu-level3-item.mobile-menu-level-item_last
                  a(href="#").mobile-menu-item_link Приборы для стейка RODEO

            li.wr-mobile-menu-level2-item.mobile-menu-level-item_last 
              <div class="mobile-menu-item_title">Специальная отделка приборов</div> 
              ul.wr-mobile-menu-level3-list
                li.wr-mobile-menu-level3-item.mobile-menu-level-item_last
                  a(href="#").mobile-menu-item_link Все коллекции

        li.mobile-menu-main-item 
          <div class="mobile-menu-item_title">Table Top</div> 
          ul.wr-mobile-menu-level2-list
            li.wr-mobile-menu-level2-item 
              <div class="mobile-menu-item_title">Напитки</div> 
              ul.wr-mobile-menu-level3-list
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link True Flavour: хрустальное стекло
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link Кофе и чай
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link Кулеры
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link Все позиции
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link Коллекции
                li.wr-mobile-menu-level3-item.mobile-menu-level-item_last
                  a(href="#").mobile-menu-item_link О стекле WMF Firstglass

            li.wr-mobile-menu-level2-item 
              <div class="mobile-menu-item_title">Сервировка</div> 
              ul.wr-mobile-menu-level3-list
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link Все позиции
                li.wr-mobile-menu-level3-item.mobile-menu-level-item_last
                  a(href="#").mobile-menu-item_link Коллекции

            li.wr-mobile-menu-level2-item 
              <div class="mobile-menu-item_title">Столовый декор</div> 
              ul.wr-mobile-menu-level3-list
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link Все позиции
                li.wr-mobile-menu-level3-item.mobile-menu-level-item_last
                  a(href="#").mobile-menu-item_link Коллекции
                  
            li.wr-mobile-menu-level2-item.mobile-menu-level-item_last 
              <div class="mobile-menu-item_title">Специи</div>
              ul.wr-mobile-menu-level3-list
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link Все позиции
                li.wr-mobile-menu-level3-item.mobile-menu-level-item_last
                  a(href="#").mobile-menu-item_link Коллекции

        li.mobile-menu-main-item 
          <div class="mobile-menu-item_title">Шведская линия</div> 
          ul.wr-mobile-menu-level2-list
            li.wr-mobile-menu-level2-item 
              <div class="mobile-menu-item_title">WMF Quadro</div>
              ul.wr-mobile-menu-level3-list
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link Все позиции
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link WMF Quadro модули
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link WMF Quadro сеты
                li.wr-mobile-menu-level3-item.mobile-menu-level-item_last
                  a(href="#").mobile-menu-item_link О WMF Quadro


            li.wr-mobile-menu-level2-item 
              <div class="mobile-menu-item_title">Мармиты и термоемкости</div>
              ul.wr-mobile-menu-level3-list
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link Все позиции
                li.wr-mobile-menu-level3-item
                  a(href="#").mobile-menu-item_link Коллекции
                li.wr-mobile-menu-level3-item.mobile-menu-level-item_last
                  a(href="#").mobile-menu-item_link О мармитах

            li.wr-mobile-menu-level2-item 
              <div class="mobile-menu-item_title">Диспенсеры</div>
              ul.wr-mobile-menu-level3-list
                li.wr-mobile-menu-level3-item.mobile-menu-level-item_last
                  a(href="#").mobile-menu-item_link Все позиции

            li.wr-mobile-menu-level2-item.mobile-menu-level-item_last 
              <div class="mobile-menu-item_title">Подача блюд и напитков</div>
              ul.wr-mobile-menu-level3-list
                li.wr-mobile-menu-level3-item.mobile-menu-level-item_last
                  a(href="#").mobile-menu-item_link Все позиции

        li.mobile-menu-main-item 
          a(href="#").mobile-menu-main-item-link Обслуживание апартаментов
        li.mobile-menu-main-item.mobile-menu-main-item_last 
          a(href="#").mobile-menu-main-item-link Контакты