

header.header
  .header__wr-content
    .header__wr-logo
      .header__logo.logo
        a.header__logo-link.logo-link(href='#0')
    nav.nav
      ul.header__nav-list
        li.header__nav-item(data-index='0')
          a.header__nav-link.lifestyle(href='#0' data-name='lifestyle') Фарфор & Линейка lifiStyle
          .header__short-line.short-line-lifestyle
          .header__link-mask.link-mask
        li.header__nav-item(data-index='1')
          a.header__nav-link(href='#0' data-name='tableware') Столовые приборы
          .header__short-line.short-line-tableware
          .header__link-mask.link-mask
        li.header__nav-item(data-index='2')
          a.header__nav-link(href='#0' data-name='tabletop') Table Top
          .header__short-line.short-line-tabletop
          .header__link-mask.link-mask
        li.header__nav-item(data-index='3')
          a.header__nav-link(href='#0' data-name='swedishline') Шведская линия
          .header__short-line.short-line-swedish
          .header__link-mask.link-mask
        li.header__nav-item
          a.header__nav-link(href='#0' data-name='serve') Обслуживание апартаментов
          .header__short-line.short-line-serve
          .header__link-mask.link-mask
        li.header__nav-item
          a.header__nav-link(href='#0' data-name='contacts') Контакты
          .header__short-line.short-line-contacts
          .header__link-mask.link-mask
    .header__wr-icon-search
      .header__icon-search
  .header__long-underline
  .header__wr-place-search
    form.header__form-search
      input.header__place-search(type='text' placeholder='Что вы ищете?')
  .mask-sub-menu
    .wr-sub-menu.unactive-sub(data-index='0')
      // unactive-sub
      .submenu
        // unactive-sub
        ul.submenu-columns
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') SYNERGY & STYLE LIGHTS
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Фарфор SYNERGY
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Линейка продуктов Lifestyle
        .close-submenu
    .wr-sub-menu.unactive-sub(data-index='1')
      // unactive-sub
      .submenu
        // unactive-sub
        ul.submenu-columns
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') THE NEW EASY
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все коллекции
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Столовые приборы
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все столовые приборы
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Коллекции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') О столовых приборах
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Специальные сервировочные приборы
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все коллекции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все специальные сервировочные приборы
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Приборы для стейка RODEO
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Специальная отделка приборов
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все коллекции
        .close-submenu
    .wr-sub-menu.unactive-sub(data-index='2')
      // unactive-sub
      .submenu
        // unactive-sub
        ul.submenu-columns
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Напитки
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') True Flavour: хрустальное стекло
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Кофе и чай
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Кулеры
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Коллекции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') О стекле WMF Firstglass
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Сервировка
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Коллекции
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Столовый декор
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Коллекции
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Специи
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Коллекции
        .close-submenu
    .wr-sub-menu.unactive-sub(data-index='3')
      // unactive-sub
      .submenu
        ul.submenu-columns
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') WMF Quadro
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') WMF Quadro модули
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') WMF Quadro сеты
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') О WMF Quadro
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Мармиты и термоемкости
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все позиции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Коллекции
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') О мармитах
          li.columns-item
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Диспенсеры
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все позиции
            ul.submenu-list
              li.submenu-item
                a.submenu-link.submenu-link_title(href='#') Подача блюд и напитков
              li.submenu-item
                a.submenu-link.submenu-link_tab(href='#') Все позиции
        .close-submenu