.number-pages
        .number-pages__arrow-left
        ul.number-pages-list
            li.number-page-item 1
            li.number-page-item 2
            li.number-page-item 3
            li.number-page-item 4
            li.number-page-item 5
        .number-pages__arrow-right