.number-pages
        a(href="#0" title="").number-pages__arrow-left.number-pages__arrow-left_unactive
        ul.number-pages-list
            li.number-page-item  
                a(href="#0" title="").number-page-link 1
            li.number-page-item 
                a(href="#0" title="").number-page-link.number-page-link_active 2
            li.number-page-item 
                a(href="#0" title="").number-page-link 3
            li.number-page-item 
                a(href="#0" title="").number-page-link 4
            li.number-page-item 
                a(href="#0" title="").number-page-link 5
        a(href="#0" title="").number-pages__arrow-right  