.number-pages
        a(href="#0" title="").number-pages__arrow-left
            <svg class="pagination-rows" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 2L2 10L10 18" stroke="#555555" stroke-width="2.5" stroke-linecap="square" stroke-linejoin="round"/>
            </svg>
        ul.number-pages-list 
            li.number-page-item  
                a(href="#0" title="").number-page-link 1
            li.number-page-item 
                a(href="#0" title="").number-page-link.number-page-link_active 2
            li.number-page-item 
                a(href="#0" title="").number-page-link 3
            li.number-page-item 
                a(href="#0" title="").number-page-link 4
            li.number-page-item 
                a(href="#0" title="").number-page-link 5
        a(href="#0" title="").number-pages__arrow-right.number-pages__arrow_active
            <svg class="pagination-rows" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2L10 10L2 18" stroke="#555555" stroke-width="2.5" stroke-linecap="square" stroke-linejoin="round"/>
            </svg>