doctype html
html(lang='en')
  head 
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    include modules/favicon-manifest
    title о столовых приборах
  body
    include modules/header 

    main(class="main main-about-tablewares-sub about-tablewares-sub")
        .wr-bread-crumbs
            include modules/bread-crumbs
        .banner.about-tablewares-sub__banner
            p Коллекция столовых приборов – качество кейтеринга Успех заранее разработанного меню зависит от качества продуктов, определённого порядка подачи блюд, а также сервировки стола. В коллекциях компании WMF предлагаются высококачественные столовые приборы, определённого для каждой подачи блюд дизайна.
        
        .line-right.about-tablewares-sub__line-right
        
        .about-tablewares-sub__wrapper-main-content
        
            .about-tablewares-sub__wr-card-description 
                section.about-tablewares-sub__card-description 
                    header.about-tablewares-sub__card-description-header
                        h2.about-tablewares-sub__card-description-title.about-tablewares-sub__card-description-title_desctop
                            span Столовые приборы компании WMF.
                            span Откройте для себя путь к высшему
                            span гастрономическому наслаждению.
                        h2.about-tablewares-sub__card-description-title.about-tablewares-sub__card-description-title_mobile
                            span Столовые приборы от WMF.
                            span Откройте для себя путь 
                            span к высшему
                            span гастрономическому
                            span наслаждению.
                    .about-tablewares-sub__card-description-text.about-tablewares-sub__card-text_first-article
                        p Работа дизайнера компании Корнелиуса Бёрнера, возглавляющего Инно-Лабораторию WMF, позволяет ему соединять эрогономичность изделий, их эстетику и функциональность в гармоничное единство. Столовые приборы оказывают на потребителя различное воздействие: визуальное, тактильное и вкусовое. Как часть культуры трапезы, они отражают определённый характер: классический, формальный, простоватый, минималистический или игривый. Так что не существует единственного идеального набора столовых приборов на все случаи жизни, их должно быть множество. Есть способ создания такого дизайна столовых приборов, который уместно и тонко вписывается в основную идею оформления того или иного интерьера или его деталей, который точно соответствует событию и подаваемым блюдам. Именно тогда и возникает единство эстетического совершенства и функциональных качеств, и тогда этот союз является истинным чудом. Новые гастрономические концепции, тренды в архитектуре, интерьеры и аксессуары – все эти явления оказывают друг на друга взаимное влияние. Поэтому компания WMF отлично осознаёт всю важность разработки именно такого дизайна столовых приборов, которые окажут сотрудникам общественного питания нужную им для развития бизнес концепции поддержку. Даже крошечная ложечка для эспрессо отражает эту идею. Всё кажется более вкусным, если использовать столовые приборы достойного дизайна. Если речь не идёт о еде, которую обычно едят руками.
                .about-tablewares-sub__card-img_big

            .line-left

            .about-tablewares-sub__wr-card-description 
                section.about-tablewares-sub__card-description 
                    header.about-tablewares-sub__card-description-header
                        h2.about-tablewares-sub__card-description-title
                            span Побалуйте своих гостей
                            span – накройте стол и сервируйте
                            span его столовыми приборами
                            span от компании WMF
                    .about-tablewares-sub__card-description-text.about-tablewares-sub__card-description-text_bottom.about-tablewares-sub__text_bottom-1
                        p Классический 3-х предметный набор столовых приборов сервируется даже для обычного приёма пиши, но чем больше блюд вы предложите гостям, тем больше столовых приборов вам понадобится для сервировки стола. Поэтому наши коллекции отличаются различными дизайнерскими находками и предлагают потребителям широкий выбор столовых приборов для сервировки и приёма пищи. Рыбные ножи и вилки, а также приборы для стейков, десертные ложки и множество других специальных столовых предметов дополняют базовые наборы приборов для каждого отдельного случая. Подходящая отделка предметов также важна, как и использование нашего патентованного материала – стали Cromargan®
                .about-tablewares-sub__card-img_small-first

            .line-right  

            .about-tablewares-sub__wr-card-description 
                section.about-tablewares-sub__card-description.about-tablewares-sub__card_include-button
                    .about-tablewares-sub__wr-card-description-text
                        header.about-tablewares-sub__card-description-header
                            h2.about-tablewares-sub__card-description-title_big WMF JUWEL
                            h3.about-tablewares-sub__card-description-title.about-tablewares-sub__card-description-title_desctop
                                span – единство элегантности
                                span и совершенной функциональности
                            h3.about-tablewares-sub__card-description-title.about-tablewares-sub__card-description-title_mobile
                                span – единство элегантности
                                span и совершенной
                                span функциональности 
                        .about-tablewares-sub__card-description-text.about-tablewares-sub__card-description-text_bottom.about-tablewares-sub__text_bottom-2
                            p Классический 3-х предметный набор столовых приборов сервируется даже для обычного приёма пиши, но чем больше блюд вы предложите гостям, тем больше столовых приборов вам понадобится для сервировки стола. Поэтому наши коллекции отличаются различными дизайнерскими находками и предлагают потребителям широкий выбор столовых приборов для сервировки и приёма пищи. Рыбные ножи и вилки, а также приборы для стейков, десертные ложки и множество других специальных столовых предметов дополняют базовые наборы приборов для каждого отдельного случая. Подходящая отделка предметов также важна, как и использование нашего патентованного материала – стали Cromargan®
                    .about-tablewares-sub__wr-card-description-link_desctop
                        a(href="#0" title="").about-tablewares-sub__card-description-link_desctop Подробнее
                .about-tablewares-sub__card-img_small-second
                .about-tablewares-sub__wr-card-description-link_mobile
                        a(href="#0" title="").about-tablewares-sub__card-description-link_mobile Подробнее

            .line-left 

            .advantages__wrapper
                ul.advantages__control-list 
                    li(data-type="0").advantages__wr-control-item.advantages__control_active 
                        span Составные ножи
                        span.advantages__underline.advantages__underline_active
                    li(data-type="1").advantages__wr-control-item 
                        span Отличная балансировка
                        span.advantages__underline
                    li(data-type="2").advantages__wr-control-item
                        span Индивидуальность
                        span.advantages__underline

                .advantages__card.advantages__content_active
                    .advantages__card-img.advantages__img_knives
                    section.advantages__wr-card-text 
                        header.advantages__card-header 
                            h2.advantages__card-title Составные ножи
                        p Наши составные ножи сделаны из кованой ножевой стали и имеют двухсоставные рукоятки из нержавеющей стали Cromargan®. Благодаря сложному методу обработки изделий при производстве ножей, который мы применяем для соединения воедино различных частей, созданные нами столовые ножи прочны и надолго сохраняют остроту. Данный способ сборки ножей является стандартным при производстве высококачественных изделий, отвечающих самых строгим требованиям.

                .advantages__card
                    .advantages__card-img.advantages__img_balancing
                    section.advantages__wr-card-text 
                        header.advantages__card-header 
                            h2.advantages__card-title Отличная балансировка
                        p Наши ножи отличаются не только острыми лезвиями, которые способствуют их комфортному использованию, но и вилки также состоят не только из ручки и зубцов. Именно поэтому мы уверены, что наши столовые приборы отлично сбалансированы. Каждый наш предлагаемый предмет прочен в использовании и при этом имеет небольшой вес. Лёгкий вес наших приборов делает их ещё более приятными в использовании во время еды, и ваши гости за столом, несомненно, надолго запомнят вкусовые наслаждения от каждого блюда.


                .advantages__card
                    .advantages__card-img.advantages__img_individuality
                    section.advantages__wr-card-text 
                        header.advantages__card-header 
                            h2.advantages__card-title Индивидуальность
                        p Желаете иметь столовые приборы с индивидуальными особенностями? Мы готовы предложить различные варианты придания этим предметам неповторимой индивидуальности. Можно нанести гравировку на столовые приборы или оттиснуть на них любое клеймо по вашему запросу. Соединение качества продукции компании WMF с нанесёнными персональными знаками сделает Ваши столовые приборы уникальными предметами. Если же необходимо придать коллекции приборов ещё большей особой неповторимости, мы рекомендуем применить покрытие поверхности методом физического осаждения вещества из газовой фазы (PVD метод) в цвете антрацита, золота, белого золота или меди для исключительной сервировки стола.

            .line-right 

            section.advantages-bc__wrapper
                    header.advantages-bc__header  
                        h2.advantages-bc__title 
                            span Столовые приборы от WMF- надёжность и
                            span долговечность
                    .advantages-bc__text 
                        p Чтобы в полной мере получать удовольствие от еды, требуются правильные столовые приборы. Каждая предмет из коллекций столовых приборов от компании WMF отвечает самым высоким требованиям стандарта.

                    .advantages-bc__cards-wrapper
                        ul.advantages-bc__wr-card-list
                            li.advantages-bc__wr-card-item
                                header.advantages-bc__wr-card-header
                                    h2.advantages-bc__wr-card-title  
                                        span Составные ножи 
                                    .advantages-bc__wr-card-icon.advantages-bc__wr-icon_knive
                                .advantages-bc__wr-card-text.advantages-bc__wr-card-text_about-tablewares
                                    p Лезвия наших составных ножей выполнены из кованой ножевой стали. Применяемый нами запатентованный метод обработки позволяет произвести столовые ножи с серрейторной (зазубренной) кромкой, которые долго остаются острыми, что облегчает гостям нарезания пищи.

                            li.advantages-bc__wr-card-item
                                header.advantages-bc__wr-card-header 
                                    h2.advantages-bc__wr-card-title 
                                        span Нержавеющая сталь
                                        span Cromargan®
                                    .advantages-bc__wr-card-icon.advantages-bc__wr-icon_letter
                                .advantages-bc__wr-card-text
                                    p Необычайно прочная, износостойкая и кислотостойкая сталь Cromargan® является идеальным материалом для производства долговечных столовых приборов, которые никогда не потеряют своей совершенной красоты. Даже при постоянном использовании, каждый предмет сияет блеском как новый.



    include modules/footer