doctype html
html(lang='en')
  head 
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title о столовых приборах
  body
    include modules/header

    main(class="main apartment-maintenance__main apartment-maintenance")
        .wr-bread-crumbs
            include modules/bread-crumbs 

        .banner.apartment-maintenance__banner

        .line-right.apartment-maintenance__line-right

        .apartment-maintenance__wrapper-main-content

            .apartment-maintenance__wrapper-video
                <iframe class="video-content" src="https://www.youtube.com/embed/2w2wAmtpNFI?si=clURwbp2EfE8Z4yz?fs=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            .line-left

            .apartment-maintenance__wr-modeling
              .apartment-maintenance__wr-smell 
                .apartment-maintenance__wr-smell-left  
                  .apartment-maintenance__wr-smell-text 
                    h2.apartment-maintenance__smell-title 
                      span Обслуживание апартаментов.
                      span Ваше моделирование.
                    p
                      span От столовых приборов до тостеров, от фенов до стаканов: WMF Professional предлагает вам оптимальное оборудование для ваших апартаментов с обслуживанием из одного источника.
                      span Являясь экспертом в области отельной индустрии, мы поможем вам оснастить ваши апартаменты с обслуживанием несравненно широким и первоклассным ассортиментом продукции. Вы получаете индивидуальные консультации и предоставление услуг, а также привлекательные пакеты оборудования для любого бюджета. Мы рады быть рядом с вами.
                  .apartment-maintenance__wr-smell-small-img 
                    .apartment-maintenance__smell-small-img_mobile
                    .apartment-maintenance__smell-small-img.maintenance__smell-small-img1
                    .apartment-maintenance__smell-small-img.maintenance__smell-small-img2
                .apartment-maintenance__wr-smell-right-img

            .line-right 

            .advantages-bc__wrapper
              .advantages-bc__cards-wrapper.advantages-bc__cards-wrapper_maintenance
                        ul.advantages-bc__wr-card-list
                            li.advantages-bc__wr-card-item
                                header.advantages-bc__wr-card-header
                                    h2.advantages-bc__wr-card-title  
                                        span Подходящее оснащение
                                .advantages-bc__wr-card-text
                                    p Благодаря широкому ассортименту наших брендов и обширному ассортименту высококачественной продукции.
                                ul.advantages-bc__wr-brends-list
                                  li.advantages-bc__wr-brends-item.advantages-bc__krups
                                    
                                  li.advantages-bc__wr-brends-item.advantages-bc__moulinex
                                  li.advantages-bc__wr-brends-item.advantages-bc__emsa 
                                  li.advantages-bc__wr-brends-item.advantages-bc__tefal
                                  li.advantages-bc__wr-brends-item.advantages-bc__rowenta

                            li.advantages-bc__wr-card-item
                                header.advantages-bc__wr-card-header 
                                    h2.advantages-bc__wr-card-title 
                                        span Правильное решение
                                .advantages-bc__wr-card-text.advantages-bc__wr-card-text_maintenance
                                    p 
                                      span Для любого типа апартаментов, на любой бюджет: Выбирайте свое оборудование из наших трех уровней обслуживания.
                                      span Независимо от наших трех уровней обслуживания, вы можете сочетать детские столовые приборы, фарфор, керамику и другие кухонные принадлежности с желаемым оборудованием.


                        ul.advantages-bc__wr-card-list
                            li.advantages-bc__wr-card-item
                                header.advantages-bc__wr-card-header
                                    h2.advantages-bc__wr-card-title 
                                        span Идеальная подача
                                .advantages-bc__wr-card-text
                                    p Планирование, консультации и заказ из одного источника. Со всеми преимуществами доставки и обслуживания, к которым вы уже привыкли от WMF Professional.


                            li.advantages-bc__wr-card-item
                                header.advantages-bc__wr-card-header
                                    h2.advantages-bc__wr-card-title 
                                        span Это что-то определенное
                                .advantages-bc__wr-card-text
                                    p С различными вариантами отделки для вашего индивидуального образа.


        




    include modules/footer