doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        include modules/favicon-manifest
        title Контакты
    body 

        include modules/header 

        main(class="main contacts__main contacts")
            h1.visuallyhidden Контакты официального сайта посуды WMF
            .wr-bread-crumbs
                include modules/bread-crumbs

            .line-right.contacts__line-right
            .contacts__wrapper-main-content  
                .contacts__wrapper
                    .contacts__info 
                        .contacts__wr-info-text 
                            .contacts__wr-info-main-title 
                                h2.contacts__info-main-title Контакты:
                            .contacts__wr-info-address 
                                .contacts__wr-info-title 
                                    h3.contacts__info-title Адрес:
                                .contacts__wr-info-address-text.contacts__wr-info-address-text_desctop
                                    span 123007, г. Москва,
                                    span Хорошевское шоссе, д. 32 А, подъезд 4, этаж 1
                                .contacts__wr-info-address-text.contacts__wr-info-address-text_mobile
                                    span 123007, г. Москва,
                                    span Хорошевское шоссе, д. 32 А, 
                                    span подъезд 4, этаж 1

                            .contacts__wr-info-phone-numbers
                                .contacts__wr-info-title 
                                    h3.contacts__info-title Телефон:
                                .contacts__wr-info-address-text 
                                    span +7(495)-796-79-94
                                    span +7(903)-796-79-94

                            .contacts__wr-social-links   
                                .contacts__wr-social-icon 
                                    a.contacts__social-telegram-link(href="https://t.me/+79037967994" title="")
                                .contacts__wr-social-icon 
                                    a.contacts__social-whatsapp-link(href="https://api.whatsapp.com/send/?phone=79037967994" title="")
                        .contacts__wr-info-map


            .line-left.contacts__line-left



        include modules/footer