- var t = 'Коллекции'

include layout/head
 
include modules/header

main(class="main main-fd-all-collections fd-all-collections")
    .wr-bread-crumbs
        include modules/bread-crumbs
    .banner.fd-all-collections__banner

    .line-right.fd-all-collections__line-right
    
    .fd-all-collections__wrapper-main-content

        .wr-description-card.wr-description-card__card-wmf-baguette
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title WMF BAGUETTE
                            .wr-description-card__wr-text 
                                p.wr-description-card__text Столовыми приборами BAGUETTE просты на первый взгляд, хотя имеют множество удивительных деталей. В составе данной коллекции не только традиционные столовые приборы, но и специальные, такие как вилка для устриц и ложки для лимонада. Данная коллекция особенно широко используется в традиционной ресторанной сервировке, привлекая всеобщее внимание. Поразите Ваших гостей удобными в использовании столовыми приборами и ножами, которые снабжены пустотелыми рукоятками или имеют цельнолитые лезвия.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-baguette
                        .wr-description-card__wr-link
                            a.wr-description-card__link Перейти в каталог 

        .line-left 

        .wr-description-card.wr-description-card__card-wmf-juwel
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title WMF JUWEL
                            .wr-description-card__wr-text 
                                p.wr-description-card__text Для профессионалов предлагается коллекция JUWEL, которая отличается необычным дизайном, разработанным модным домом Jette Joop. Внешний вид и форма каждого предмета из коллекции вызывает неподдельный восторг. Сложное гранение по краям рукояток приборов напоминает тонко отшлифованные поверхности драгоценных камней так, что кажется, будто они все ослепительно сверкают на каждом столе. Эта чрезвычайно изысканная коллекция столовых приборов достойно украшать столь же утончённый столовый фарфор.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-juwel
                        .wr-description-card__wr-link
                            a.wr-description-card__link Перейти в каталог 

        .line-right 

        .wr-description-card.wr-description-card__card-wmf-signum
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title WMF SIGNUM
                            .wr-description-card__wr-text 
                                p.wr-description-card__text Линейка коллекции SIGNUM от компании WMF способствует созданию интимной атмосферы за столом. Любой тип столового фарфора привлекательно и гармонично дополняется приборами из коллекции SIGNUM, как во время завтрака, обеда или ужина со множеством перемен блюд. Дизайн предметов представляет собой соединение традиционно закруглённых рукояток с отлично сбалансированными, ясными линями контура. Как результат: сочетание простого, но идеального стиля с безупречным кулинарным наслаждением.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-signum
                        .wr-description-card__wr-link
                            a.wr-description-card__link Перейти в каталог 

        .line-left

        .wr-description-card.wr-description-card__card-wmf-unic
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title WMF UNIC
                            .wr-description-card__wr-text 
                                p.wr-description-card__text Гармоничные пропорции и чистые, функциональные формы серии столовых приборов UNIC от компании WMF производят неизгладимое впечатление. Характерный дизайн данной модели приборов является современным, хотя и несёт в себе классическое влияние. Благодаря геометрическим контурам коллекция UNIC отлично сочетается как с фарфором современного дизайна, так и с традиционным классическим. Коллекция уместно смотрится во время завтрака со шведским столом, так и на званом ужине.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-unic
                        .wr-description-card__wr-link
                            a.wr-description-card__link Перейти в каталог

        .line-right
        



include modules/footer