doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Главная страница
    body

        include modules/header

        main.main 
            .main_wrapper-slider 
                .swiper.swiper-index
                    //- Additional required wrapper
                    .swiper-wrapper
                        //- // Slides
                        .swiper-slide.swiper-slide1
                            .wrapper-swiper-slide-content
                                .wrapper-swiper-slide-text 
                                    h2.swiper-slide-title 
                                        <span class="swiper-slide-title-item">InNature</span>
                                        <span class="swiper-slide-title-item">& Geometric </span>
                                    .swiper-slide-text <span>Похвастайтесь своим</span> <span>прекрасно сервированным столом.</span>
                                a(href="./page-vase.html").wrapper-slide-button Подробнее 
                        .swiper-slide.swiper-slide2
                            .wrapper-swiper-slide-content
                                .wrapper-swiper-slide-text 
                                    h2.swiper-slide-title 
                                        <span class="swiper-slide-title-item">InNature</span>
                                        <span class="swiper-slide-title-item">& Geometric </span>
                                    .swiper-slide-text <span>Похвастайтесь своим</span> <span>прекрасно сервированным столом.</span>
                                a(href="#").wrapper-slide-button Подробнее 
                        .swiper-slide.swiper-slide3
                            .wrapper-swiper-slide-content
                                .wrapper-swiper-slide-text 
                                    h2.swiper-slide-title 
                                        <span class="swiper-slide-title-item">InNature</span>
                                        <span class="swiper-slide-title-item">& Geometric </span>
                                    .swiper-slide-text <span>Похвастайтесь своим</span> <span>прекрасно сервированным столом.</span>
                                a(href="#").wrapper-slide-button Подробнее 
                        .swiper-slide.swiper-slide4
                            .wrapper-swiper-slide-content
                                .wrapper-swiper-slide-text 
                                    h2.swiper-slide-title 
                                        <span class="swiper-slide-title-item">InNature</span>
                                        <span class="swiper-slide-title-item">& Geometric </span>
                                    .swiper-slide-text <span>Похвастайтесь своим</span> <span>прекрасно сервированным столом.</span>
                                a(href="#").wrapper-slide-button Подробнее 
                    //- // If we need pagination
                    .swiper-pagination


                .main__wr-slider-scroll-line
                    ul.main__slider-list
                        li.main__slider-item.slider-item-first
                            .main__wr-slider-content  
                                header.main__slider-content-header <span>InNature</span> <span>& Geometric</span>
                                .main__slider-content-text 
                                    p <span>Похвастайтесь своим</span> <span>прекрасно сервированным столом.</span>
                                a(href="./page-vase.html").main__slider-content-button Подробнее
                        li.main__slider-item.slider-item-second
                            .main__wr-slider-content
                                header.main__slider-content-header <span>InNature</span> <span>& Geometric</span>
                                .main__slider-content-text 
                                    p <span>Похвастайтесь своим</span> <span>прекрасно сервированным столом.</span>
                                button.main__slider-content-button Подробнее
                        li.main__slider-item.slider-item-third
                            .main__wr-slider-content
                                header.main__slider-content-header <span>InNature</span> <span>& Geometric</span>
                                .main__slider-content-text 
                                    p <span>Похвастайтесь своим</span> <span>прекрасно сервированным столом.</span>
                                button.main__slider-content-button Подробнее

                ul.main__slider-arrows-list 
                    li.main__slider-arrows-item.slider-arrows-item-left
                    li.main__slider-arrows-item.slider-arrows-item-right 

            .main__wrapper-article
                .dotted-line-corner
                .main__line-top
                .main__wr-article-text-img 
                    .main__wr-article-full-text
                        header.main__article-header
                            h2.main__erticle-title  
                                | Культура питания.
                                | Удовольствие. Опыт. 
                        .main__wr-article-text
                            p 
                                | — это квинтэссенция WMF Professional. Мы дополняем сенсорные впечатления ваших гостей нашим опытом в создании идеально сервированного стола. Пока вы создаете неповторимый вкус и аромат своего меню, мы обеспечиваем его всем необходимым для отличного внешнего вида: стильными бокалами, столовыми приборами и фарфором. Мы предлагаем подходящую «подсветку» для всех гастрономических концепций: будь то изысканная, деревенская, средиземноморская, минималистичная или авангардная концепция.
                            p
                                | Наш творческий ассортимент варьируется от элегантных столовых приборов и стекла до высококачественных коллекций посуды категории Table Top и гибких систем фуршетов - в первую очередь это новейшее изобретение в линейке фуршетных презентаций WMF QUADRO. Система "шведский стол" в вашем собственном стиле. Наслаждайтесь мировым опытом WMF Professional.
                    .main__wr-article-img 
                        picture.main__article-img 
                            source(srcset="../img/set-table-mobile.png" media="(max-width: 375px)")
                            source(srcset="../img/set-table.png" media="(min-width: 376px)")
                            img(src='../img/set-table.png' alt="Сервированный обеденный стол")
                .main__line-bottom

            .line-dotted

            .main__wrapper-cards 
                ul.sw-cards__cards-list.swipe-lines__wrapper
                    li.sw-cards__cards-item.cards-item-finishing
                        .sw-cards__cards-description 
                            .sw-cards__cards-description-text Специальная отделка
                        .sw-cards__cards-arrow.swipe-lines__cards-arrow
                            .sw-cards__cards-swipe-circle.swipe-lines__cards-swipe-circle
                            a(href="./tablewares-special-finishing.html").sw-cards__cards-arrow-link.swipe-lines__cards-arrow-link
                        a(href="./tablewares-special-finishing.html").sw-cards__cards-link-card
                    li.sw-cards__cards-item.cards-item-serve
                        .sw-cards__cards-description 
                                .sw-cards__cards-description-text Обслуживание апартаментов
                        .swipe-lines__cards-arrow.sw-cards__cards-arrow 
                            .swipe-lines__cards-swipe-circle.sw-cards__cards-swipe-circle
                            a(href="#0").swipe-lines__cards-arrow-link.sw-cards__cards-arrow-link 
                        a(href="#0").sw-cards__cards-link-card
                    li.sw-cards__cards-item.cards-item-quadro
                        .sw-cards__cards-description 
                            .sw-cards__cards-description-text WMF Quadro
                        .swipe-lines__cards-arrow.sw-cards__cards-arrow 
                            .swipe-lines__cards-swipe-circle.sw-cards__cards-swipe-circle
                            a(href="#0").swipe-lines__cards-arrow-link.sw-cards__cards-arrow-link
                        a(href="#0").sw-cards__cards-link-card
        include modules/footer 
