- var t = 'Главная страница'

include layout/head

include modules/header

main.main 
    .main_wrapper-slider 
        .main__wr-slider-scroll-line
            ul.main__slider-list
                li.main__slider-item.slider-item-first
                    .main__wr-slider-content  
                        header.main__slider-content-header <span>InNature</span> <span>& Geometric</span>
                        p.main__slider-content-text <span>Похвастайтесь своим</span> <span>прекрасно сервированным столом.</span>
                        a(href="./page-vase.html").main__slider-content-button Подробнее
                li.main__slider-item.slider-item-second
                    .main__wr-slider-content
                        header.main__slider-content-header <span>InNature</span> <span>& Geometric</span>
                        p.main__slider-content-text <span>Похвастайтесь своим</span> <span>прекрасно сервированным столом.</span>
                        button.main__slider-content-button Подробнее
                li.main__slider-item.slider-item-third
                    .main__wr-slider-content
                        header.main__slider-content-header <span>InNature</span> <span>& Geometric</span>
                        p.main__slider-content-text <span>Похвастайтесь своим</span> <span>прекрасно сервированным столом.</span>
                        button.main__slider-content-button Подробнее

        ul.main__slider-arrows-list 
            li.main__slider-arrows-item.slider-arrows-item-left
            li.main__slider-arrows-item.slider-arrows-item-right 

    .main__wrapper-article
        .dotted-line-corner
        .main__line-top
        .main__wr-article-text-img 
            .main__wr-article-full-text
                header.main__article-header
                    h2.main__erticle-title  
                        | Культура питания.
                        | Удовольствие. Опыт. 
                .main__wr-article-text
                    p.main__article-text-item
                        | — это квинтэссенция WMF Professional. Мы дополняем сенсорные впечатления ваших гостей нашим опытом в создании идеально сервированного стола. Пока вы создаете неповторимый вкус и аромат своего меню, мы обеспечиваем его всем необходимым для отличного внешнего вида: стильными бокалами, столовыми приборами и фарфором. Мы предлагаем подходящую «подсветку» для всех гастрономических концепций: будь то изысканная, деревенская, средиземноморская, минималистичная или авангардная концепция.
                    p.main__article-text-item
                        | Наш творческий ассортимент варьируется от элегантных столовых приборов и стекла до высококачественных коллекций посуды категории Table Top и гибких систем фуршетов - в первую очередь это новейшее изобретение в линейке фуршетных презентаций WMF QUADRO. Система "шведский стол" в вашем собственном стиле. Наслаждайтесь мировым опытом WMF Professional.
            .main__wr-article-img 
                picture.main__article-img 
                    source(srcset="../img/set-table-mobile.png" media="(max-width: 375px)")
                    source(srcset="../img/set-table.png" media="(min-width: 376px)")
                    img(src='../img/set-table.png' alt="Сервированный обеденный стол")
        .main__line-bottom

    .line-dotted

    .main__wrapper-cards 
        ul.main__cards-list 
            li.main__cards-item.cards-item-finishing
                .main__cards-description 
                    .main__cards-description-text Специальная отделка
                .main__cards-arrow 
                    .main__cards-swipe-circle
                    a(class="main__cards-arrow-link" href="#")
            li.main__cards-item.cards-item-serve
                .main__cards-description 
                        .main__cards-description-text Обслуживание апартаментов
                .main__cards-arrow 
                    .main__cards-swipe-circle
                    a(class="main__cards-arrow-link" href="#")
            li.main__cards-item.cards-item-quadro
                .main__cards-description 
                    .main__cards-description-text WMF Quadro
                .main__cards-arrow 
                    .main__cards-swipe-circle
                    a(class="main__cards-arrow-link" href="#")
include modules/footer 
