doctype html
html(lang="ru") 
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        include modules/favicon-manifest
        title Главная страница
    body
  
        include modules/header
 
        main.main 
            h1.visuallyhidden Коллекция фарфора WMF Professional
            .main_wrapper-slider 
                .swiper.swiper-index
                    //- Additional required wrapper
                    .swiper-wrapper
                        //- // Slides
                        .swiper-slide
                            img.main__mobile-swiper-slide(src="../img/new-year-mobile.webp")
                            .wrapper-swiper-slide-content
                                .wrapper-swiper-slide-text 
                                    //- h2.swiper-slide-title 
                                        //- <span class="swiper-slide-title-item">InNature</span>
                                        //- <span class="swiper-slide-title-item">& Geometric </span>
                                    //- .swiper-slide-text 
                                        //- <span>Похвастайтесь своим</span> 
                                        //- <span>прекрасно сервированным столом.</span>
                                //- a(href="./page-vase.html").wrapper-slide-button Подробнее
                        .swiper-slide
                            img.main__mobile-swiper-slide(src="../img/mobile-slider-index-img-1.webp")
                            .wrapper-swiper-slide-content
                                .wrapper-swiper-slide-text 
                                    h2.swiper-slide-title 
                                        <span class="swiper-slide-title-item">InNature</span>
                                        <span class="swiper-slide-title-item">& Geometric </span>
                                    .swiper-slide-text 
                                        <span>Похвастайтесь своим</span> 
                                        <span>прекрасно сервированным столом.</span>
                                a(href="./page-vase.html").wrapper-slide-button Подробнее 
                        .swiper-slide 
                            img.main__mobile-swiper-slide(src="../img/mobile-slider-index-img-2.webp")
                            .wrapper-swiper-slide-content
                                .wrapper-swiper-slide-text 
                                    h2.swiper-slide-title 
                                        <span class="swiper-slide-title-item">Новинка:</span>
                                        <span class="swiper-slide-title-item">TRUE FLAVOUR </span>
                                    .swiper-slide-text 
                                        <span>Инновационный способ подачи</span> 
                                        <span>горячих напитков.</span>
                                a(href="#").wrapper-slide-button Подробнее 
                        .swiper-slide 
                            img.main__mobile-swiper-slide(src="../img/mobile-slider-index-img-3.webp")
                            .wrapper-swiper-slide-content
                                .wrapper-swiper-slide-text 
                                    h2.swiper-slide-title.swiper-slide-title_slide-3
                                        <span class="swiper-slide-title-item">InNature</span>
                                        <span class="swiper-slide-title-item">& Geometric </span>
                                    .swiper-slide-text 
                                        <span>Похвастайтесь своим</span> 
                                        <span>прекрасно сервированным столом.</span>
                                a(href="#").wrapper-slide-button.wrapper-slide-button_slide-3 Подробнее 
                    //- // If we need pagination
                    .swiper-pagination


                .main__wr-slider-scroll-line
                    ul.main__slider-list
                        li.main__slider-item
                            img.main__slider-item-img(src="../img/new-year-desc.webp" alt="Slide 1")
                            .main__wr-slider-content
                                //- header.main__slider-content-header 
                                    //- <span>InNature</span> 
                                    //- <span>& Geometric</span>
                                //- .main__slider-content-text 
                                    //- p 
                                    //-     <span>Похвастайтесь своим</span> 
                                    //-     <span>прекрасно сервированным столом.</span>
                                //- a(href="./page-vase.html").main__slider-content-button Подробнее
                        li.main__slider-item
                            img.main__slider-item-img(src="../img/slider-index-img-1.webp" alt="Slide 1")
                            .main__wr-slider-content
                                header.main__slider-content-header 
                                    <span>InNature</span> 
                                    <span>& Geometric</span>
                                .main__slider-content-text 
                                    p 
                                        <span>Похвастайтесь своим</span> 
                                        <span>прекрасно сервированным столом.</span>
                                a(href="./page-vase.html").main__slider-content-button Подробнее
                        li.main__slider-item
                            img.main__slider-item-img(src="../img/slider-index-img-2.webp" alt="Slide 2")
                            .main__wr-slider-content
                                header.main__slider-content-header 
                                    <span>Новинка:</span> 
                                    <span>TRUE FLAVOUR</span>
                                .main__slider-content-text 
                                    p 
                                        <span>Инновационный способ подачи</span> 
                                        <span>горячих напитков.</span>
                                button.main__slider-content-button Подробнее
                        li.main__slider-item
                            img.main__slider-item-img(src="../img/slider-index-img-3.webp" alt="Slide 3")
                            .main__wr-slider-content
                                header.main__slider-content-header.main__slider-content-header_slide3
                                    <span>InNature</span> 
                                    <span>& Geometric</span>
                                .main__slider-content-text.main__slider-content-text_slide3
                                    p 
                                        <span>Похвастайтесь своим</span> 
                                        <span>прекрасно сервированным столом.</span>
                                button.main__slider-content-button.main__slider-content-button_slide3 Подробнее
                        li.main__slider-item
                            img.main__slider-item-img(src="../img/slider-index-img-3.webp" alt="Slide 3")
                            .main__wr-slider-content
                                header.main__slider-content-header.main__slider-content-header_slide3
                                    <span>InNature</span> 
                                    <span>& Geometric</span>
                                .main__slider-content-text.main__slider-content-text_slide3
                                    p 
                                        <span>Похвастайтесь своим</span> 
                                        <span>прекрасно сервированным столом.</span>
                                button.main__slider-content-button.main__slider-content-button_slide3 Подробнее

                ul.main__slider-arrows-list 
                    li.main__slider-arrows-item.slider-arrows-item-left
                        <svg viewBox="0 0 47 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.82958e-07 40.5L37.5 81L47 71L17.5 40L47 9.5L37.5 4.47183e-07L4.82958e-07 40.5Z" fill="#333333"/>
                        </svg>
                    li.main__slider-arrows-item.slider-arrows-item-right 
                        <svg width="47" height="81" viewBox="0 0 47 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M47 40.5L9.5 81L-1.19249e-07 71L29.5 40L-8.52629e-07 9.5L9.5 4.47183e-07L47 40.5Z" fill="#D9D9D9"/>
                        </svg>

                ul.main__desc-slider-pagination
                    

            .main__wrapper-article
                .dotted-line-corner
                .main__line-top
                .main__wr-article-text-img 
                    .main__wr-article-full-text
                        header.main__article-header
                            h2.main__erticle-title  
                                | Культура питания.
                                | Удовольствие. Опыт. 
                        .main__wr-article-text
                            p 
                                | — это квинтэссенция WMF Professional. Мы дополняем сенсорные впечатления ваших гостей нашим опытом в создании идеально сервированного стола. Пока вы создаете неповторимый вкус и аромат своего меню, мы обеспечиваем его всем необходимым для отличного внешнего вида: стильными бокалами, столовыми приборами и фарфором. Мы предлагаем подходящую «подсветку» для всех гастрономических концепций: будь то изысканная, деревенская, средиземноморская, минималистичная или авангардная концепция.
                            p
                                | Наш творческий ассортимент варьируется от элегантных столовых приборов и стекла до высококачественных коллекций посуды категории Table Top и гибких систем фуршетов - в первую очередь это новейшее изобретение в линейке фуршетных презентаций WMF QUADRO. Система "шведский стол" в вашем собственном стиле. Наслаждайтесь мировым опытом WMF Professional.
                    .main__wr-article-img 
                        picture.main__article-img 
                            source(srcset="../img/set-table-mobile.webp" media="(max-width: 375px)")
                            source(srcset="../img/set-table.webp" media="(min-width: 376px)")
                            img(src='../img/set-table.webp' alt="Сервированный обеденный стол")
                .main__line-bottom

            .line-dotted

            .main__wrapper-cards 
                ul.sw-cards__cards-list.swipe-lines__wrapper
                    li.sw-cards__cards-item.cards-item-finishing
                        .sw-cards__cards-description 
                            .sw-cards__cards-description-text Специальная отделка
                        .sw-cards__cards-arrow.swipe-lines__cards-arrow
                            .sw-cards__cards-swipe-circle.swipe-lines__cards-swipe-circle
                            a(href="./tablewares-special-finishing.html").sw-cards__cards-arrow-link.swipe-lines__cards-arrow-link
                                <svg viewBox="0 0 117 117" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="58.5" cy="58.5" r="58.5" fill="white" fill-opacity="0.1"/>
                                    <path d="M80 59L50.4787 91L43 83.0988L66.2234 58.6049L43 34.5062L50.4787 27L80 59Z" fill="#333333"/>
                                </svg>
                        a(href="./tablewares-special-finishing.html").sw-cards__cards-link-card
                    li.sw-cards__cards-item.cards-item-serve
                        .sw-cards__cards-description 
                                .sw-cards__cards-description-text Обслуживание апартаментов
                        .swipe-lines__cards-arrow.sw-cards__cards-arrow 
                            .swipe-lines__cards-swipe-circle.sw-cards__cards-swipe-circle
                            a(href="./apartment-maintenance.html" title="").swipe-lines__cards-arrow-link.sw-cards__cards-arrow-link 
                                <svg viewBox="0 0 117 117" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="58.5" cy="58.5" r="58.5" fill="white" fill-opacity="0.1"/>
                                    <path d="M80 59L50.4787 91L43 83.0988L66.2234 58.6049L43 34.5062L50.4787 27L80 59Z" fill="#333333"/>
                                </svg>
                        a(href="./apartment-maintenance.html" title="").sw-cards__cards-link-card
                    li.sw-cards__cards-item.cards-item-quadro
                        .sw-cards__cards-description 
                            .sw-cards__cards-description-text WMF Quadro
                        .swipe-lines__cards-arrow.sw-cards__cards-arrow 
                            .swipe-lines__cards-swipe-circle.sw-cards__cards-swipe-circle
                            a(href="./swedish-line-about-quadro.html" title="").swipe-lines__cards-arrow-link.sw-cards__cards-arrow-link
                                <svg viewBox="0 0 117 117" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="58.5" cy="58.5" r="58.5" fill="white" fill-opacity="0.1"/>
                                    <path d="M80 59L50.4787 91L43 83.0988L66.2234 58.6049L43 34.5062L50.4787 27L80 59Z" fill="#333333"/>
                                </svg>
                        a(href="./swedish-line-about-quadro.html" title="").sw-cards__cards-link-card
        include modules/footer 
