doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        include modules/favicon-manifest
        title Руководство по эксплуатации
    body

        include modules/header

        main(class="main footer-doc__main footer-doc")
            .wr-bread-crumbs
                include modules/bread-crumbs

            .line-right.footer-doc__line-right

            .footer-doc__wr-content
                .footer-doc__wr-title 
                    h2.footer-doc__title Руководство по эксплуатации

                ul.footer-doc__documents-list
                    li.footer-doc__documents-item
                        a(href="#00" title="ссылка на файл руководства по эксплуатации").footer-doc__file-link
                            .footer-doc__file-icon
                                include modules/icon-pdf
                            .footer-doc__file-description
                                span Рекомендательная
                                span апробированная практика
                                span мармит Hot&Fresh
                    li.footer-doc__documents-item
                        a(href="#00" title="ссылка на файл руководства по эксплуатации").footer-doc__file-link
                            .footer-doc__file-icon
                                include modules/icon-pdf
                            .footer-doc__file-description
                                span Руководство
                                span по эксплуатации
                                span WMF Мармит настольный
                    li.footer-doc__documents-item
                        a(href="#00" title="ссылка на файл руководства по эксплуатации").footer-doc__file-link
                            .footer-doc__file-icon
                                include modules/icon-pdf
                            .footer-doc__file-description
                                span Руководство 
                                span по эксплуатации
                                span диспенсер для молока и сока
                    li.footer-doc__documents-item
                        a(href="#00" title="ссылка на файл руководства по эксплуатации").footer-doc__file-link
                            .footer-doc__file-icon
                                include modules/icon-pdf
                            .footer-doc__file-description 
                                span Руководство 
                                span по эксплуатации
                                span злаковый диспенсер
                    li.footer-doc__documents-item
                        a(href="#00" title="ссылка на файл руководства по эксплуатации").footer-doc__file-link
                            .footer-doc__file-icon
                                include modules/icon-pdf
                            .footer-doc__file-description
                                span Руководство
                                span по эксплуатации
                                span термоемкость для кофе
                    li.footer-doc__documents-item
                        a(href="#00" title="ссылка на файл руководства по эксплуатации").footer-doc__file-link
                            .footer-doc__file-icon
                                include modules/icon-pdf
                            .footer-doc__file-description
                                span Руководство
                                span по эксплуатации
                                span WMF мармит Hot&Fresh
                            

            .line-left.nanual__line-left


        include modules/footer