- var t = 'Линейка продуктов Lifestyle'

include layout/head
 
include modules/header

main(class="main main-line-lifestyle lifestyle")
    .wr-bread-crumbs
        include modules/bread-crumbs
    .line-lifestyle__banner
    .wr-number-pages.wr-number-pages-top
        include modules/number-pages
    .line-lifestyle__wrapper-main-content
        aside.aside.line-lifestyle__aside
            .line-lifestyle__wr-filter
                ul.filter
                    li.filter__main-item
                        .filter__main-item-title-box 
                            .filter__main-item-title Линейка Lifestyle
                            .filter__main-item-box
                        ul.filter__sub-list
                            li.filter__sub-item-title-box 
                                .filter__sub-item-title Керамика
                                .filter__sub-item-box
                            li.filter__sub-item-title-box.filter__sub-item-title-box_two-rows
                                .filter__sub-item-title Стекло
                                .filter__sub-item-box.filter__sub-item-box_two-rows
                            li.filter__sub-item-title-box 
                                .filter__sub-item-title Мрамор
                                .filter__sub-item-box
                            li.filter__sub-item-title-box 
                                .filter__sub-item-title Дерево
                                .filter__sub-item-box
                            li.filter__sub-item-title-box 
                                .filter__sub-item-title Чугун
                                .filter__sub-item-box
                            li.filter__sub-item-title-box 
                                .filter__sub-item-title Ткань
                                .filter__sub-item-box

        article.line-lifestyle__wr-content
            ul.line-lifestyle__wr-card-list 
                li.line-lifestyle__wr-card-item.catalog-good-first-line
                    .line-lifestyle__card-content 
                        .line-lifestyle__wr-card-img-line 
                            .line-lifestyle__wr-card-img
                                img(src="../img/board-for-catalog-line-lifestyle.png").line-lifestyle__card-img
                            .line-lifestyle__wr-card-line
                        .line-lifestyle__wr-card-title 
                            h3.line-lifestyle__card-title Board marble/wood square 25,4x25,4x1,5 cm
                    .line-lifestyle__wr-card-link 
                        a.line-lifestyle__card-link Подробнее

                li.line-lifestyle__wr-card-item.catalog-good-first-line
                    .line-lifestyle__card-content 
                        .line-lifestyle__wr-card-img-line  
                            .line-lifestyle__wr-card-img
                                img(src="../img/board-for-catalog-line-lifestyle.png").line-lifestyle__card-img
                            .line-lifestyle__wr-card-line
                        .line-lifestyle__wr-card-title 
                            h3.line-lifestyle__card-title Board marble/wood square 25,4x25,4x1,5 cm
                    .line-lifestyle__wr-card-link 
                        a.line-lifestyle__card-link Подробнее

                li.line-lifestyle__wr-card-item.catalog-good-first-line
                    .line-lifestyle__card-content 
                        .line-lifestyle__wr-card-img-line 
                            .line-lifestyle__wr-card-img
                                img(src="../img/board-for-catalog-line-lifestyle.png").line-lifestyle__card-img
                            .line-lifestyle__wr-card-line
                        .line-lifestyle__wr-card-title 
                            h3.line-lifestyle__card-title Board marble/wood square 25,4x25,4x1,5 cm
                    .line-lifestyle__wr-card-link 
                        a.line-lifestyle__card-link Подробнее

                li.line-lifestyle__wr-card-item 
                    .line-lifestyle__card-content 
                        .line-lifestyle__wr-card-img-line 
                            .line-lifestyle__wr-card-img
                                img(src="../img/board-for-catalog-line-lifestyle.png").line-lifestyle__card-img
                            .line-lifestyle__wr-card-line
                        .line-lifestyle__wr-card-title 
                            h3.line-lifestyle__card-title Board marble/wood square 25,4x25,4x1,5 cm
                    .line-lifestyle__wr-card-link 
                        a.line-lifestyle__card-link Подробнее

                li.line-lifestyle__wr-card-item 
                    .line-lifestyle__card-content 
                        .line-lifestyle__wr-card-img-line 
                            .line-lifestyle__wr-card-img
                                img(src="../img/board-for-catalog-line-lifestyle.png").line-lifestyle__card-img
                            .line-lifestyle__wr-card-line
                        .line-lifestyle__wr-card-title 
                            h3.line-lifestyle__card-title Board marble/wood square 25,4x25,4x1,5 cm
                    .line-lifestyle__wr-card-link 
                        a.line-lifestyle__card-link Подробнее

                li.line-lifestyle__wr-card-item 
                    .line-lifestyle__card-content 
                        .line-lifestyle__wr-card-img-line 
                            .line-lifestyle__wr-card-img
                                img(src="../img/board-for-catalog-line-lifestyle.png").line-lifestyle__card-img
                            .line-lifestyle__wr-card-line
                        .line-lifestyle__wr-card-title 
                            h3.line-lifestyle__card-title Board marble/wood square 25,4x25,4x1,5 cm
                    .line-lifestyle__wr-card-link 
                        a.line-lifestyle__card-link Подробнее

                li.line-lifestyle__wr-card-item 
                    .line-lifestyle__card-content 
                        .line-lifestyle__wr-card-img-line 
                            .line-lifestyle__wr-card-img
                                img(src="../img/board-for-catalog-line-lifestyle.png").line-lifestyle__card-img
                            .line-lifestyle__wr-card-line
                        .line-lifestyle__wr-card-title 
                            h3.line-lifestyle__card-title Board marble/wood square 25,4x25,4x1,5 cm
                    .line-lifestyle__wr-card-link 
                        a.line-lifestyle__card-link Подробнее

                li.line-lifestyle__wr-card-item 
                    .line-lifestyle__card-content 
                        .line-lifestyle__wr-card-img-line 
                            .line-lifestyle__wr-card-img
                                img(src="../img/board-for-catalog-line-lifestyle.png").line-lifestyle__card-img
                            .line-lifestyle__wr-card-line
                        .line-lifestyle__wr-card-title 
                            h3.line-lifestyle__card-title Board marble/wood square 25,4x25,4x1,5 cm
                    .line-lifestyle__wr-card-link 
                        a.line-lifestyle__card-link Подробнее

                li.line-lifestyle__wr-card-item 
                    .line-lifestyle__card-content 
                        .line-lifestyle__wr-card-img-line 
                            .line-lifestyle__wr-card-img
                                img(src="../img/board-for-catalog-line-lifestyle.png").line-lifestyle__card-img
                            .line-lifestyle__wr-card-line
                        .line-lifestyle__wr-card-title 
                            h3.line-lifestyle__card-title Board marble/wood square 25,4x25,4x1,5 cm
                    .line-lifestyle__wr-card-link 
                        a.line-lifestyle__card-link Подробнее

                li.line-lifestyle__wr-card-item 
                    .line-lifestyle__card-content 
                        .line-lifestyle__wr-card-img-line 
                            .line-lifestyle__wr-card-img
                                img(src="../img/board-for-catalog-line-lifestyle.png").line-lifestyle__card-img
                            .line-lifestyle__wr-card-line
                        .line-lifestyle__wr-card-title 
                            h3.line-lifestyle__card-title Board marble/wood square 25,4x25,4x1,5 cm
                    .line-lifestyle__wr-card-link 
                        a.line-lifestyle__card-link Подробнее

                li.line-lifestyle__wr-card-item 
                    .line-lifestyle__card-content 
                        .line-lifestyle__wr-card-img-line 
                            .line-lifestyle__wr-card-img
                                img(src="../img/board-for-catalog-line-lifestyle.png").line-lifestyle__card-img
                            .line-lifestyle__wr-card-line
                        .line-lifestyle__wr-card-title 
                            h3.line-lifestyle__card-title Board marble/wood square 25,4x25,4x1,5 cm
                    .line-lifestyle__wr-card-link 
                        a.line-lifestyle__card-link Подробнее

                li.line-lifestyle__wr-card-item 
                    .line-lifestyle__card-content 
                        .line-lifestyle__wr-card-img-line 
                            .line-lifestyle__wr-card-img
                                img(src="../img/board-for-catalog-line-lifestyle.png").line-lifestyle__card-img
                            .line-lifestyle__wr-card-line
                        .line-lifestyle__wr-card-title 
                            h3.line-lifestyle__card-title Board marble/wood square 25,4x25,4x1,5 cm
                    .line-lifestyle__wr-card-link 
                        a.line-lifestyle__card-link Подробнее

                    
    .wr-number-pages
        include modules/number-pages

include modules/footer