- var t = 'furshet'

include layout/head
 
include modules/header

.wr-bread-crumbs
    include modules/bread-crumbs

main(class="main ssl-collection cuisine")
    .banner.ssl-collection__wr-banner.ssl-furshet-banner
        .ssl-collection__wr-banner-text 
            h3.ssl-collection__wr-banner-title-top-add Изящно подано:
            h2.ssl-collection__wr-banner-title-top
                <span>WMF SYNERGY</span><span>и WMF STYLE LIGHTS</span>
            h3.ssl-collection__wr-banner-title-bottom
                <span>Совершенно по-новому</span>
                <span>вдохновляют на создание</span>
                <span>великолепного фуршета.</span>

    .ssl-collection__main-wrapper

        .ssl-collection__wr-line-top

        .ssl-collection__wr-content 

            .ssl-collection__wr-description-block-top
                .ssl-collection__wr-description 
                    .ssl-collection__wr-description-header
                        h2.ssl-collection__wr-description-title
                            <span>Шикарно и функционально</span>
                            <span>– wmf synergy для фуршета.</span>
                    .ssl-collection__wr-description-article
                        p.ssl-collection__wr-description-text Коллекция WMF SYNERGY позволяет организовать индивидуальные фуршеты в любом стиле и предлагает эстетичное, праздничное расположение множества маленьких блюд и порций или больших блюд в различных точках фуд-станций. Отдельные изделия из фарфора в данной коллекции обеспечивают высокую функциональность, возможности комбинирования и сочетания, складывания в стопку, великолепную подачу и транспортировку для обеспечения бесперебойной работы фуршета каждый день.
                    ul.ssl-collection__wr-description-images-list
                        li.ssl-collection__wr-description-image-item
                            .ssl-collection__wr-description-image
                                img(src='../img/cup-furshet-img-1.png' alt="Чаша").ssl-collection__description-image
                            .ssl-collection__wr-description-image-text
                                <span>Чаши для соусов SYNERGY идеально</span>
                                <span>подходят для сервировки небольших</span>
                                <span>порций и соусов.</span>
                        li.ssl-collection__wr-description-image-item
                            .ssl-collection__wr-description-image
                                img(src='../img/cup-furshet-img-2.png' alt="тарелка").ssl-collection__description-image
                            .ssl-collection__wr-description-image-text
                                <span>Четкие формы и достаточная</span>
                                <span>вместительность делают их идеальными для</span>
                                <span>всех видов деликатесов</span>
                        li.ssl-collection__wr-description-image-item
                            .ssl-collection__wr-description-image
                                img(src='../img/cup-furshet-img-3.png' alt="Тарелка").ssl-collection__description-image
                            .ssl-collection__wr-description-image-text
                                <span>Блюда представлены в различных овальных</span>
                                <span>формах и размерах, все они легко</span>
                                <span>складываются в стопку и отлично подходят</span>
                                <span>для размещения мелких чаш и тарелок во</span>
                                <span>время фуршета или на сервированном столе.</span>
                .ssl-collection__img-vertical.furshet__img-porcelain1

            .ssl-collection__wr-description-block-bottom 
                .ssl-collection__img-horizontal.furshet__img-porcelain2
                .ssl-collection__img-horizontal.furshet__img-porcelain3
            
            .ssl-collection__wr-link-description
                a(href="#0").ssl-collection__link-description Перейти к коллекции Synergy

        .ssl-collection__wr-collection-line-bottom




    .ssl-collection__main-wrapper.main-wrapper

        .ssl-collection__wr-content 
            .ssl-collection__wr-description-block-top
                .ssl-collection__wr-description 
                    .ssl-collection__wr-description-header
                        h2.ssl-collection__wr-description-title
                            <span>Характерные особенности</span>
                            <span>для фуршета в любом стиле.</span>
                    .ssl-collection__wr-description-article
                        p.ssl-collection__wr-description-text Фуршет – это удивительные вариации и разные уровни. STYLE LIGHTS повсюду добавляет новые изумительные штрихи, эта линия также доступна в модных расцветках. Сочетайте и комбинируйте для фуршета любого стиля.
                .ssl-collection__img-vertical.furshet__img-combi1

            .ssl-collection__wr-description-block-bottom.ssl-collection__wr-description-combi-block-bottom
                .ssl-collection__img-horizontal.furshet__img-combi2
                .ssl-collection__img-horizontal.furshet__img-combi3
            
            .ssl-collection__wr-link-description
                a(href="#0").ssl-collection__link-description Перейти к коллекции STYLE LIGHTS

        .ssl-collection__wr-combi-line-bottom


    


include modules/footer