- var t = 'supper'

include layout/head
 
include modules/header 

.wr-bread-crumbs
    include modules/bread-crumbs

main(class="main ssl-collection supper")
    .banner.ssl-collection__wr-banner.ssl-supper-banner
        .ssl-collection__wr-banner-text 
            h2.ssl-collection__wr-banner-title-top
                <span>WMF SYNERGY</span><span>и WMF STYLE LIGHTS</span>
            h3.ssl-collection__wr-banner-title-bottom.wr-banner-title-bottom_add
                <span>Идеально подходят для нового</span>
                <span>кулинарного опыта, которым</span>
                <span>хочется поделиться.</span>
            h3.ssl-collection__wr-banner-title-bottom_mobile
                <span>Идеально подходят</span>
                <span>для нового кулинарного</span>
                <span>опыта, которым хочется</span>
                <span>поделиться.</span>

    .ssl-collection__main-wrapper

        .ssl-collection__wr-line-top

        .ssl-collection__wr-content 

            .ssl-collection__wr-description-block-top
                .ssl-collection__wr-description 
                    .ssl-collection__wr-description-header
                        h2.ssl-collection__wr-description-title.wr-description-title-desctop
                            <span>Необыкновенное визуальное</span>
                            <span>удовольствие в непринужденной</span>
                            <span>обстановке.</span>
                        h2.ssl-collection__wr-description-title_mobile
                            <span>Необыкновенное визуальное</span>
                            <span>удовольствие</span>
                            <span>в непринужденной обстановке.</span>
                    .ssl-collection__wr-description-article
                        p.ssl-collection__wr-description-text Небольшой отель типа «постель и завтрак», бутик-отель, модная бургерная или вегетарианский ресторан: WMF SYNERGY позволяет подавать блюда всевозможными новыми и впечатляющими способами как в современных, так и в традиционных ресторанах. Коллекция фарфора представляет собой универсальную платформу для сочетания материалов исключительного качества, к которым приятно прикасаться. Необычные формы отдельных элементов коллекции вдохновляют на творческое оформление блюд. Все на виду. Для расслабленного отдыха с друзьями.
                    ul.ssl-collection__wr-description-images-list
                        li.ssl-collection__wr-description-image-item.wr-description-image-item_supper
                            .ssl-collection__wr-description-image
                                img(src='../img/plate-supper-1.png' alt="Блюдо").ssl-collection__description-image
                            .ssl-collection__wr-description-image-text.wr-description-image-text_supper
                                <span>Маленькие тарелки, глубокие или плоские,</span>
                                <span>идеально подходят для гарниров.</span>
                        li.ssl-collection__wr-description-image-item.wr-description-image-item_supper
                            .ssl-collection__wr-description-image
                                img(src='../img/plate-supper-2.png' alt="Блюдо").ssl-collection__description-image
                            .ssl-collection__wr-description-image-text.wr-description-image-text_supper
                                <span>Серия овальных тарелок SYNERGY –</span>
                                <span>идеальный выбор для подачи</span>
                                <span>исключительных блюд или размещения</span>
                                <span>на них чаш с соусами.</span>
                        li.ssl-collection__wr-description-image-item.wr-description-image-item_supper
                            .ssl-collection__wr-description-image
                                img(src='../img/plate-supper-3.png' alt="Блюдо").ssl-collection__description-image
                            .ssl-collection__wr-description-image-text.wr-description-image-text_supper
                                <span>Тарелку Mr. Serve можно использовать за</span>
                                <span>столом в различных комбинациях,</span>
                                <span>благодаря своей форме она обеспечивает</span>
                                <span>исключительную подачу блюд.</span>
                                <span>Идеально подходит для бургеров,</span>
                                <span>рыбных блюд или закусок.</span>
                .ssl-collection__img-vertical.supper__img-porcelain1

            .ssl-collection__wr-description-block-bottom 
                .ssl-collection__img-horizontal.supper__img-porcelain2
                .ssl-collection__img-horizontal.supper__img-porcelain3
            
            .ssl-collection__wr-link-description
                a(href="#0").ssl-collection__link-description Перейти к коллекции Synergy

        .ssl-collection__wr-collection-line-bottom




    .ssl-collection__main-wrapper.main-wrapper

        .ssl-collection__wr-content 

            .ssl-collection__wr-description-block-top.wr-description-block-top
                .ssl-collection__wr-description 
                    .ssl-collection__wr-description-header
                        h2.ssl-collection__wr-description-title 
                            <span>WMF STYLE LIGHTS</span><span>– особые сочетания</span>
                    .ssl-collection__wr-description-article
                        p.ssl-collection__wr-description-text Ассортимент линейки WMF STYLE LIGHTS множеством способов придаст современный вид повседневному приему пищи. Выразительные, удивительные и разнообразные изделия, изготовленные из различных материалов, создают на столе настоящее зрелище.
                .ssl-collection__img-vertical.supper__img-combi1

            .ssl-collection__wr-description-block-bottom.ssl-collection__wr-description-combi-block-bottom
                .ssl-collection__img-horizontal.supper__img-combi2
                .ssl-collection__img-horizontal.supper__img-combi3
            
            .ssl-collection__wr-link-description
                a(href="#0").ssl-collection__link-description Перейти к коллекции STYLE LIGHTS

        .ssl-collection__wr-combi-line-bottom


    


include modules/footer