- var t = 'Коллекции'

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        include modules/favicon
        title Коллекции
    body
 
        include modules/header  

        main(class="main marmites-collections__main marmites-collections")
            .wr-bread-crumbs
                include modules/bread-crumbs

            .banner.marmites-collections__banner

            .line-right.marmites-collections__line-right

            .marmites-collections__wrapper-main-content       

                .wr-description-card.wr-description-card__card-marmites-fresh
                    .wr-description-card__description.wr-description-card__description-marmites
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title WMF HOT & FRESH
                            .wr-description-card__wr-text 
                                p Коллекция компании WMF - HOT & FRESH предлагает современные мармиты для подогревания готовых блюд самого высокого качества с иновационным и привлекательным дизайном. Коллекция очарует покупателя наличием в ней базы TransTherm®, которая подходит для использования на индукционной поверхности, а также полностью прозрачной стеклянной крышкой и «умной» системой рециркуляции конденсата. «Умная» крышка облегчит вам процесс раскладывания еды по порциям, а специальная технология не только позаботится о том, чтобы пища не остывала, но и сохраняла свою свежесть на долгое время.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-marmites-fresh
                        .wr-description-card__wr-link
                            a(href="#0" title="").wr-description-card__link Перейти в каталог

                .line-left

                .wr-description-card.wr-description-card__card-marmites-economy
                    .wr-description-card__description.wr-description-card__description-marmites
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title ECONOMY
                            .wr-description-card__wr-text 
                                p Коллекция ECONOMY представляет мармиты, отвечающие самым высоким требованиям. Стильные и функциональные, эти сохраняющие тепло, емкости, являются ценным дополнением к комплектованию раздаточной линии, чтобы вы могли обеспечивать ваших гостей теплой, свежей и вкусной пищей в любое время. Каждую модель легко наполнить и помыть, а применение высококачественной стали Cromargan® гарантирует, что наши изделия всегда достойно выглядят даже после их многократного применения.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-marmites-economy
                        .wr-description-card__wr-link
                            a(href="#0" title="").wr-description-card__link Перейти в каталог

                .line-right



        include modules/footer