doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        include modules/favicon-manifest
        title О Мармитах
    body  
 
        include modules/header 

        main(class="main about-marmites__main about-marmites")
            .wr-bread-crumbs
                include modules/bread-crumbs 

            .banner.about-marmites__banner 
                .about-marmites__banner-text
                    p
                        span Мармиты – элегантное решение
                        span для сохранения температуры
                        span готовых блюд. Невозможно
                        span представить стильно оформленную,
                        span тёплую раздаточную линию без
                        span мармитов. Компания WMF
                        span разработала практичную систему
                        span поддержания температуры готовых
                        span блюд, представленную рядом
                        span разнообразных дизайнов
                        span с использованием как
                        span традиционных источников тепла,
                        span так и индукционных технологий.

                .about-marmites__banner-text-mobile
                    p
                        span Мармиты – элегантное решение
                        span для сохранения температуры
                        span готовых блюд. Невозможно
                        span представить стильно
                        span оформленную, тёплую
                        span раздаточную линию без мармитов.
                        span Компания WMF разработала
                        span практичную систему поддержания
                        span температуры готовых блюд,
                        span представленную рядом
                        span разнообразных дизайнов
                        span с использованием как
                        span традиционных источников тепла,
                        span так и индукционных технологий.

            .line-right.about-marmites__line-right 

            .about-marmites__wrapper-main-content 

                .presentation__wrapper 
                    .presentation__wr-info 
                        .presentation__wr-title 
                            h1.presentation__title
                                span Мармиты WMF для подогревания
                                span готовых блюд – обслуживание
                                span бранчей и фуршетов
                        .presentation__wr-text
                            p Благодаря специальному оборудованию от компании WMF, готовые блюда удаётся сохранить тёплыми на протяжении длительного времени. Вне зависимости от того, представлено ли данное оборудование в качестве отдельных блоков на столешнице, или же она является частью системы Quadro от компании WMF, самые различные модели отлично справляются со своей работой, сохраняя достойный внешний вид в течение всего времени своего функционирования.
                            p Мармиты для подогревания готовых блюд серии HOT & FRESH являются инновационными разработками, подходящими для работы с индукционными системами. Они не просто сохраняют готовые блюда горячими, но и поддерживают их свежесть. Серия HOT & FRESH включает капсулированный элемент Transtherm, который отлично работает на стандартных источниках тепла: нагревательных элементах или газовых горелках.
                    .presentation__img.presentation__img-marmites-1
                
                .line-left

                .presentation__wrapper 
                    .presentation__wr-info.presentation__wr-info_marmites
                        .presentation__wr-title 
                            h2.presentation__title
                                span Коллекция мармитов Change
                        .presentation__wr-text
                            p Коллекция мармитов Change с откидными крышками «roll top» позволят вашим гостям всегда иметь одну свободную руку. Различные модели чафингов коллекции Change могут отличаться в некоторых деталях, но их объединяет одно общее свойство: они бесшумно откидываются, оставляя ваши руки свободными для наполнения тарелки едой.
                            p Даже при использовании нагревательных элементов, специальная проводка обеспечивает свободное широкое и лёгкое открывание, а теплоизолированные ручки гарантируют комфорт и безопасность. Система рециркуляции конденсата предотвращают образование неприглядных лужиц на шведском столе.
                    .presentation__img.presentation__img-marmites-2

                .line-right

                .advantages__wrapper
                    ul.advantages__control-list 
                        li(data-type="0").advantages__wr-control-item.advantages__control_active 
                            span Рециркуляция конденсата
                            span.advantages__underline.advantages__underline_active
                        li(data-type="1").advantages__wr-control-item 
                            span Премиальный механизм доводчика
                            span.advantages__underline
                        li(data-type="2").advantages__wr-control-item
                            span Полностью убираемая крышка
                            span.advantages__underline

                    .advantages__card.advantages__content_active
                        .advantages__card-img.advantages__img_recycling
                        section.advantages__wr-card-text.advantages__wr-card-text_marmites
                            header.advantages__card-header 
                                h2.advantages__card-title Рециркуляция конденсата
                            p Интеллектуальная система рециркуляции конденсата встроена в края крышек мармитов. Она противодействует образованию капель, которые затем могут попадать на стол в виде неприятных лужиц воды.

                    .advantages__card
                        .advantages__card-img.advantages__img_door-closer
                        section.advantages__wr-card-text.advantages__wr-card-text_marmites
                            header.advantages__card-header 
                                h2.advantages__card-title Премиальный механизм доводчика
                            p Каждый мармит оснащен плавно и бесшумно работающим доводчиком, который не требует какой-либо специальной настройки. Данный премиальный механизм отвечает за мягкое, медленное и бесшумное открывание крышки устройства. Он прекрасно смягчает каждое движение крышки.


                    .advantages__card
                        .advantages__card-img.advantages__img_cap
                        section.advantages__wr-card-text.advantages__wr-card-text_marmites
                            header.advantages__card-header 
                                h2.advantages__card-title Полностью убираемая крышка
                            p Крышка «roll top» мармита откидного типа полностью откидываются, складываясь под его дно. Это делает внутреннее пространство устройства идеально доступным для гостей, которые могут таким образом легко обслуживать себя сами, удобным для обслуживающего персонала при смене блюд или для последующего, после использования, хранения ёмкости для экономии места. Теперь открытие крышки – просто, тем более что она может быть зафиксирована под любым углом.

                .line-left

                section.advantages-bc__wrapper
                    header.advantages-bc__header  
                        h2.advantages-bc__title 
                            span Преимущества мармитов от
                            span компании WMF: быстрый обзор.
                    .advantages-bc__text 
                        p Мармиты идеально поддерживают блюда тёплыми, аппетитно выглядящими, они легки в использовании как гостями, так и обслуживающим персоналом.

                    .advantages-bc__cards-wrapper
                        ul.advantages-bc__wr-card-list
                            li.advantages-bc__wr-card-item
                                header.advantages-bc__wr-card-header
                                    h2.advantages-bc__wr-card-title  
                                        span Теплоизолированные
                                        span ручки
                                    .advantages-bc__wr-card-icon.advantages-bc__wr-icon_handles
                                .advantages-bc__wr-card-text
                                    p Обеспечивают ещё больше комфорта для гостей. Использование держателей или тканевых прихваток для открывания крышек мармитов более не требуется.

                            li.advantages-bc__wr-card-item
                                header.advantages-bc__wr-card-header 
                                    h2.advantages-bc__wr-card-title 
                                        span Нержавеющая сталь
                                        span Cromargan®
                                    .advantages-bc__wr-card-icon.advantages-bc__wr-icon_cromargan
                                .advantages-bc__wr-card-text
                                    p Мармиты идеально поддерживают блюда тёплыми, аппетитно выглядящими, они легки в использовании как гостями, так и обслуживающим персоналом.


                        ul.advantages-bc__wr-card-list
                            li.advantages-bc__wr-card-item
                                header.advantages-bc__wr-card-header.advantages-bc__wr-card-header_desctop
                                    h2.advantages-bc__wr-card-title 
                                        span Cпециальная проводка
                                        span нагревательных
                                        span элементов
                                    .advantages-bc__wr-card-icon.advantages-bc__wr-icon_wiring
                                header.advantages-bc__wr-card-header.advantages-bc__wr-card-header_mobile
                                    h2.advantages-bc__wr-card-title 
                                        .advantages-bc__wr-card-title_top-str
                                            span Cпециальная проводка
                                            .advantages-bc__wr-card-icon.advantages-bc__wr-icon_wiring
                                        .advantages-bc__wr-card-title_bottom-str
                                            span нагревательных элементов
                                .advantages-bc__wr-card-text
                                    p При оснащении мармитов используется специально разработанная электропроводка, которая обеспечивает легкость и безопасность открывания и закрывания крышек в любое время.


                            li.advantages-bc__wr-card-item
                                header.advantages-bc__wr-card-header.advantages-bc__wr-card-header_desctop
                                    h2.advantages-bc__wr-card-title 
                                        span Безопасное использование
                                        span в посудомоечных
                                        span машинах
                                    .advantages-bc__wr-card-icon.advantages-bc__wr-icon_washing
                                header.advantages-bc__wr-card-header.advantages-bc__wr-card-header_mobile
                                    h2.advantages-bc__wr-card-title 
                                        .advantages-bc__wr-card-title_top-str
                                            span Безопасная мойка
                                            .advantages-bc__wr-card-icon.advantages-bc__wr-icon_washing
                                        .advantages-bc__wr-card-title_bottom-str
                                            span в посудомоечных машинах
                                .advantages-bc__wr-card-text
                                    p Изготовление изделий из стали Cromargan® позволяет безопасно и гигиенично очищать их в посудомоечных машинах.



        include modules/footer