doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title О Quadro
    body
 
        include modules/header 

        main(class="main about-quadro__main about-quadro")
            .wr-bread-crumbs
                include modules/bread-crumbs

            .banner.about-quadro__banner 
                .about-quadro__banner-text
                    p
                        span Новые системы от компании WMF
                        span для оснащения шведского стола.
                        span Вдохновляйтесь бесконечными
                        span возможностями.

                .about-quadro__banner-text-mobile
                    p
                        span Новые системы от компании 
                        span WMF для оснащения шведского 
                        span стола. Вдохновляйтесь 
                        span бесконечными возможностями.

            .line-right.about-quadro__line-right

            .about-quadro__wrapper-main-content 

                .presentation__wrapper 
                    .presentation__wr-info 
                        .presentation__wr-title 
                            h2.presentation__title 
                                span Чудо стандартного формата.
                                span В вашем собственном
                                span рабочем ритме.
                        .presentation__wr-text 
                            p Обслуживание фуршетов жёстко регламентировано во времени. Смены блюд должны происходить быстро и чётко. Течение рабочего времени должно строго регулироваться. Максимальная синхронизация действий задаёт совершенный, чётко организованный рабочий ритм.
                            p Коллекция WMF Quadro как раз и служит поддержанию подобного ритма. Предметы данной коллекции сочетают модульное оснащение с высокоэффективным дизайном процесса сервировки блюд. Полная совместимость от начала и до конца процесса. Строгое соответствие гастрономическому формату GN. Воплощение самого высококачественного дизайна компании WMF, чтобы отвечать строгим запросам потребителей.
                    .presentation__img.presentation__img-quadro-1
                
                .line-left

                .presentation__wrapper 
                    .presentation__wr-info 
                        .presentation__wr-title 
                            h2.presentation__title 
                                span Легко настроить.
                                span Легко установить.
                                span Легко поразить.
                        .presentation__wr-text 
                            p Конфигуратор WMF Quadro предлагает вашей команде всё необходимое для правильного комплектования раздаточной линии, которая имеет свои индивидуальные характеристики. Каждый элемент оборудования должен правильно совмещаться с остальными: каркасные и вставные части, а также закрывающие блоки. Отделка, поверхности и используемые материалы. Все вместе они выглядят замечательно. Поэтому все предметы коллекции отменно сочетаются, обеспечивая высокое качество, присущее товарам компании WMF.
                            p Суть WMF Quadro намеренно сдержанная. Три её компонента: каркас (рама), соединительный мост и сервировочная стойка. Всё выполнено в строго минималистском стиле. Представление блюд в безусловном качестве. Мастерство приготовления пищи в безусловном совершенстве. Обслуживание в безусловной простоте и скорости.
                    .presentation__img.presentation__img-quadro-2

                .line-right

                .advantages__wrapper
                    ul.advantages__control-list 
                        li(data-type="0").advantages__wr-control-item.advantages__control_active 
                            span Каркас (рама)
                            span.advantages__underline.advantages__underline_active
                        li(data-type="1").advantages__wr-control-item 
                            span Соединительный мост
                            span.advantages__underline
                        li(data-type="2").advantages__wr-control-item
                            span Сервировочная стойка
                            span.advantages__underline
                        li(data-type="3").advantages__wr-control-item
                            span Материалы
                            span.advantages__underline

                    .advantages__card.advantages__content_active
                        .advantages__card-img.advantages__img_skeleton
                        section.advantages__wr-card-text 
                            header.advantages__card-header 
                                h2.advantages__card-title Каркас
                            p Выполнен из высококачественной полированной стали Cromargan®. Не образует разводов на поверхности, что облегчает его очищение. Представлен в четырёх гастрономических форматах GN, двух разных высот.

                    .advantages__card
                        .advantages__card-img.advantages__img_bridge
                        section.advantages__wr-card-text 
                            header.advantages__card-header 
                                h2.advantages__card-title Соединительный мост
                            p Позволяет создавать несколько отдельных зон для различных кулинарных направлений. Отличается закруглёнными краями и интегрированным дизайном. Вставные элементы могут иметь различную комплектацию.


                    .advantages__card
                        .advantages__card-img.advantages__img_stand
                        section.advantages__wr-card-text 
                            header.advantages__card-header 
                                h2.advantages__card-title Сервировочная стойка
                            p Позволяет организовать элегантную презентацию блюд в вертикальном формате. Легко устанавливается, имеет лёгкую и компактную конструкцию.

                    .advantages__card
                        .advantages__card-img.advantages__img_materials
                        section.advantages__wr-card-text.about-quadro__advantages__card-text
                            header.advantages__card-header 
                                h2.advantages__card-title Материалы
                            p
                                span Применение высококачественных материалов имеет гораздо большее значение, чем просто визуальная утончённость. Помимо прочего, они имеют высокую функциональность при ежедневном использовании: легко моются, не образуют разводов или не оставляют следов рук на поверхности.
                                span Дуб – искусственный ротанг – меламин, дерево под дуб
                                span Матовое стекло – дымчатое стекло – полированная сталь Cromargan®.

                .line-left

                .pdf__wr-catalog.pdf__wr-catalog_two-cards  
                    .pdf__catalog-content.pdf__catalog-content_two-cards
                        .pdf__catalog-card.pdf__catalog-card_quadro-instruction
                        a(href="#0").pdf__catalog-link 
                            span.pdf_catalog-link_desctop Скачать инструкцию по сборке
                            span.pdf_catalog-link_mobile.pdf_catalog-link_mobile-quadro Инструкция по сборке
                    .pdf__catalog-content.pdf__catalog-content_two-cards
                        .pdf__catalog-card.pdf__catalog-card_quadro-solution
                        a(href="#0").pdf__catalog-link 
                            span.pdf_catalog-link_desctop Индивидуальные решения
                            span.pdf_catalog-link_mobile.pdf_catalog-link_mobile-quadro Индивидуальные решения

                .about-quadro__solid-line

                .app__wrapper 
                    .app__wr-content
                        .app__wr-description
                            .app__wr-title 
                                h2.app__title 
                                    span Шведская линия:
                                    span требуется точное планирование
                                h2.app__title_mobile
                                    span Шведская линия:
                                    span требуется 
                                    span точное планирование
                            .app__wr-text 
                                p Мы помогаем усовершенствоваться. Возможность подобрать индивидуальную конфигурацию раздаточной линии непосредственно у вас на площадке. Идеальная регулировка конструкции под ваши требования. Наличие у компании WMF Конфигуратора Quadro обеспечит вам максимально правильный выбор линии.

                                .app-phone-email 
                                    span Phone: +
                                    span E-Mail: alakimova@isttrade.ru
                        .app__img 
                    .app__wr-links 
                        a.app__link(href="#0") Смотреть видео по работе с конфигуратором WMF Quadro
                        a.app__link(href="#0") Скачать приложение




        include modules/footer