- var t = 'SYNERGY & STYLE LIGHTS'

include layout/head

include modules/header

.wr-bread-crumbs
    include modules/bread-crumbs

main(class="main ssl")
    .ssl__wr-banner
        .ssl__wr-banner-text 
            h2.ssl__wr-banner-title-top
                <span>Synergy</span><span>& Style Lights</span>
            h3.ssl__wr-banner-title-bottom lifestyle range

    .ssl__wr-description
        .ssl__description-line-top
        .ssl__description-content
            .ssl__description-header 
                h2.ssl__description-title
                    <span>WMF Professional</span><span>– пожалуйста, присаживайтесь.</span>
            .ssl__wr-description-text 
                p.ssl__description-text Коллекция фарфора и ассортимент бытовых принадлежностей для всех профессионалов индустрии гостеприимства: при разработке WMF SYNERGY и WMF STYLE LIGHTS были рассмотрены и опробованы в условиях симуляции ежедневной среды ресторана требования новейших концепций ресторанного бизнеса, широкие области применения продукции и разноплановые обстановки.
                p.ssl__description-text Для этого WMF Professional создали четыре базовых стиля, на основе которых могут работать все типы ресторанов. В этих условиях были тщательно продуманы и протестированы различные повседневные ситуации от завтрака до изысканного ужина и различные потоки посетителей для персонала от обслуживания фуршетов до индивидуальных заказов.
                p.ssl__description-text Полная коллекция фарфора WMF SYNERGY и линия бытовых принадлежностей WMF STYLE LIGHTS теперь сочетают в себе многофункциональность и гибкость с высочайшими стандартами качества. Лучшее для кулинарии и лучшее для гостей.
        .ssl__description-line-bottom

    ul.ssl__cards-atmosphere-list
        li.ssl__cards-atmosphere-item 
            .ssl__wr-cards-atmosphere-text 
                .ssl__cards-atmosphere-text EN VOGUE
        li.ssl__cards-atmosphere-item 
            .ssl__wr-cards-atmosphere-text 
                .ssl__cards-atmosphere-text IN NATURE
        li.ssl__cards-atmosphere-item 
            .ssl__wr-cards-atmosphere-text 
                .ssl__cards-atmosphere-text LOFT & INDUSTRIAL
        li.ssl__cards-atmosphere-item 
            .ssl__wr-cards-atmosphere-text 
                .ssl__cards-atmosphere-text COZY
    
    .ssl__wr-collections
        .ssl__wr-collections-header 
            .ssl__wr-collections-title <span>WMF Professional 5 областей</span><span>применения</span> 
        .ssl__wr-collections-cards
            ul.sw-cards__cards-list 
            li.sw-cards__cards-item.cards-item-breakfast
                .sw-cards__cards-description 
                    .sw-cards__cards-description-text Завтрак
                .sw-cards__cards-arrow 
                    .sw-cards__cards-swipe-circle
                    a(class="sw-cards__cards-arrow-link" href="#0")
            li.sw-cards__cards-item.cards-item-supper
                .sw-cards__cards-description 
                        .sw-cards__cards-description-text Ужин
                .sw-cards__cards-arrow 
                    .sw-cards__cards-swipe-circle
                    a(class="sw-cards__cards-arrow-link" href="#0")
            li.sw-cards__cards-item.cards-item-haute-cuisine
                .sw-cards__cards-description 
                    .sw-cards__cards-description-text Высокая кухня
                .sw-cards__cards-arrow 
                    .sw-cards__cards-swipe-circle
                    a(class="sw-cards__cards-arrow-link" href="#0")
            li.sw-cards__cards-item.cards-item-furshet
                .sw-cards__cards-description 
                    .sw-cards__cards-description-text Фуршет
                .sw-cards__cards-arrow 
                    .sw-cards__cards-swipe-circle
                    a(class="sw-cards__cards-arrow-link" href="#0")
            li.sw-cards__cards-item.cards-item-banquet
                .sw-cards__cards-description 
                    .sw-cards__cards-description-text Банкет
                .sw-cards__cards-arrow 
                    .sw-cards__cards-swipe-circle
                    a(class="sw-cards__cards-arrow-link" href="#0")

    .ssl__wr-catalog
        .ssl__wr-catalog-line-top
        .ssl__catalog-content
            .ssl__catalog-header 
                .ssl__catalog-title Просмотреть online-каталог
            .ssl__wr-catalog-card 
                .ssl__catalog-card 
                    .ssl__catalog-link Скачать
        .ssl__wr-catalog-line-bottom

    




include modules/footer