doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Хрустальное стекло
    body
 
        include modules/header

        main(class="main main-crystal-glass crystal-glass")
            .wr-bread-crumbs
                include modules/bread-crumbs
            .banner.crystal-glass__banner
                .crystal-glass__wr-banner-text 
                    h2.crystal-glass__banner-title TRUE FLAVOUR
                    p.crystal-glass__banner-text
                        span Четыре вида бокалов,
                        span которые подходят для подачи
                        span горячих напитков.
                    p.crystal-glass__banner-text_mobile
                        span Четыре вида бокалов,
                        span которые подходят 
                        span для подачи горячих 
                        span напитков.
            .line-right.crystal-glass__line-right
            
            .crystal-glass__wrapper-main-content
                .crystal-glass__wr-smell 
                    .crystal-glass__wr-smell-left 
                        .crystal-glass__wr-smell-text 
                            h2.crystal-glass__smell-title Кристально чистый аромат.
                            p.crystal-glass__smell-text
                                span От эспрессо до капучино и латте макиато, а также холодного напитка или лонг-дринка:
                                span Новая коллекция TRUE FLAVOUR Barista от WMF - это настоящая инновация в области хрустального стекла для наслаждения фирменными блюдами из кофе и многим другим.
                        .crystal-glass__wr-smell-small-img 
                            .crystal-glass__smell-small-img_mobile
                            .crystal-glass__smell-small-img.glass__smell-small-img1
                            .crystal-glass__smell-small-img.glass__smell-small-img2
                    
                    .crystal-glass__wr-smell-right-img
                
                .line-left

                .crystal-glass__wr-glass 
                    .crystal-glass__wr-glass-content 
                        .crystal-glass__wr-glass-img 
                            img(src="../img/crystal-glass__glass-img.png").crystal-glass__glass-img
                        ul.crystal-glass__glass-text-list 
                            li.crystal-glass__wr-glass-text-item
                                .crystal-glass__glass-text Стакан легко наполнить кофе

                            li.crystal-glass__wr-glass-text-item
                                .crystal-glass__glass-text Сделано в Германии

                            li.crystal-glass__wr-glass-text-item
                                .crystal-glass__glass-text Оптимальный объем наполнения для фирменного кофе

                            li.crystal-glass__wr-glass-text-item.glass__wr-glass-text-item_top
                                .crystal-glass__glass-text
                                    span Нет стрессового натяжения стекла, несмотря
                                    span на горячие напитки
                    .crystal-glass__wr-glass-links
                        a.crystal-glass__link(href="#0") Перейти в каталог
                        a.crystal-glass__link(href="#0") Скачать брошюру


        include modules/footer