doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Специальная отделка
    body
 
        include modules/header

        main(class="main main-tw-finishing tw-finishing")
            .wr-bread-crumbs
                include modules/bread-crumbs
            .banner.tw-finishing__banner
                p.tw-finishing__banner-text Инновационные виды отделки создают весьма необычный дизайн. Различные элементы стиля изготавливаются с использованием шлифования камня, струйной обработки стеклянными шариками, матирования, PVD-покрытия. Подходит для всех моделей Cromargan®, можно мыть в посудомоечной машине.

            .line-right.tw-finishing__line-right
            
            .tw-finishing__wrapper-main-content
                .tw-finishing__wr-card
                    .tw-finishing__card-wr-description
                        h2.tw-finishing__card-main-title PVD-покрытие.
                        p.tw-finishing__card-text_big Покрытие PVD от WMF придает вашему столу креативные цветовые оттенки золота, белого золота, антрацита и меди.
                        ol.tw-finishing__card-text-list 
                            li.tw-finishing__card-text-item 
                                .tw-finishing__card-wr-item-text
                                    span Подходит для всех моделей столовых приборов Cromargan®
                                    span (исключая составные ножи по техническим причинам)
                            li.tw-finishing__card-text-item 
                                .tw-finishing__card-wr-item-text
                                    span Безопасные для пищевых продуктов металлические цвета
                            li.tw-finishing__card-text-item  
                                .tw-finishing__card-wr-item-text.tw-finishing__card-wr-item-text_desctop
                                    span Выпускается в четырех вариантах: золото, белое золото, антрацит и медь
                                    span (светлая медь)
                                .tw-finishing__card-wr-item-text_mobile Выпускается в четырех вариантах: золото, белое золото, антрацит и медь (светлая медь)
                    .tw-finishing__card-img.tw-finishing__card-img-pvd

                .line-left

                .tw-finishing__wr-card
                    .tw-finishing__card-wr-description
                        h2.tw-finishing__card-main-title STONEWASHED.
                        p.tw-finishing__card-text_big Неповторимая обработка беспорядочно движущимися камнями. Изделия приобретают вид «истертости временем».
                        p.tw-finishing__card-text_small Полировка камнем превращает ваши столовые приборы в уникальные изделия «винтажного», индустриального вида.
                        ol.tw-finishing__card-text-list 
                            li.tw-finishing__card-text-item 
                                .tw-finishing__card-wr-item-text
                                    span Придает столовым приборам эффект неравномерной шероховатости
                            li.tw-finishing__card-text-item 
                                .tw-finishing__card-wr-item-text
                                    span Идеально сочетается с фарфором и стеклом в рустикальном стиле и эко лофт
                    .tw-finishing__card-img.tw-finishing__card-img-stonewashed

                .line-right 

                .tw-finishing__wr-card
                    .tw-finishing__card-wr-description
                        h2.tw-finishing__card-main-title Мягкие блики.
                        p.tw-finishing__card-text_big Дробеструйная обработка стеклянными шариками.
                        p.tw-finishing__card-text_small Шелковисто-матовая отделка для столовых приборов и литой нержавеющей стали – технология обработки микроскопическими стеклянными шариками под высоким давлением придает изделию нежные тона.
                        ol.tw-finishing__card-text-list 
                            li.tw-finishing__card-text-item 
                                .tw-finishing__card-wr-item-text
                                    span Приятная гладкая поверхность
                            li.tw-finishing__card-text-item 
                                .tw-finishing__card-wr-item-text
                                    span Мерцающий, ровный внешний вид
                            li.tw-finishing__card-text-item 
                                .tw-finishing__card-wr-item-text
                                    span Плавный эффект для создания элегантных композиций
                    .tw-finishing__card-img.tw-finishing__card-img-highlights

                .line-left

                .tw-finishing__wr-card
                    .tw-finishing__card-wr-description
                        h2.tw-finishing__card-main-title BRUSHED.
                        p.tw-finishing__card-text_big.tw-finishing__card-text_two-rows
                            span Матирование щетками.
                            span Четкие структуры.
                        p.tw-finishing__card-text_small Матовые поверхности отличаются бархатистой эластичностью и действительно особенным ощущением.
                        ol.tw-finishing__card-text-list 
                            li.tw-finishing__card-text-item 
                                .tw-finishing__card-wr-item-text
                                    span Добавление нового измерения к накрытому столу
                            li.tw-finishing__card-text-item 
                                .tw-finishing__card-wr-item-text
                                    span Чувственный опыт прикосновения
                            li.tw-finishing__card-text-item 
                                .tw-finishing__card-wr-item-text
                                    span Подходит для создания атмосферы
                    .tw-finishing__card-img.tw-finishing__card-img-brushed

                .line-right

                .tw-finishing__wr-card
                    .tw-finishing__card-wr-description
                        h2.tw-finishing__card-main-title Индивидуализация.
                        p.tw-finishing__card-text_big Индивидуальный стиль, значимый брендинг.
                        p.tw-finishing__card-text_small.tw-finishing__card-text_two-rows
                            span Благодаря нашим индивидуальным вариантам дизайна, мир вашего бренда
                            span находится в руках профессионалов.
                            span Различные варианты индивидуализации:
                        ol.tw-finishing__card-text-list 
                            li.tw-finishing__card-text-item 
                                .tw-finishing__card-wr-item-text
                                    span Лазерное брендирование
                            li.tw-finishing__card-text-item 
                                .tw-finishing__card-wr-item-text
                                    span Штамповка 
                            li.tw-finishing__card-text-item 
                                .tw-finishing__card-wr-item-text
                                    span Гравировка
                    .tw-finishing__card-img.tw-finishing__card-img-individualization

                .line-left

                ul.tw-finishing__wr-dop-info-list
                    li.tw-finishing__wr-dop-info-item 
                        span Имеются коллекции с отделкой, доступные на складе под заказ:
                    li.tw-finishing__wr-dop-info-item 
                        span Kвант 12 штук (более подробную информацию о наличии
                        span товара на складе вы можете найти в нашем каталоге)
                    li.tw-finishing__wr-dop-info-item 
                        span Изделия на заказ*
                        span стандартный срок поставки, минимальное количество заказа: 800 штук


        include modules/footer