- var t = 'Коллекции'

include layout/head
 
include modules/header 

main(class="main tt-decor-collections__main tt-decor-collections")
    .wr-bread-crumbs
        include modules/bread-crumbs

    .banner.tt-decor-collections__banner

    .line-right.tt-decor-collections__line-right

    .tt-decor-collections__wrapper-main-content       

        .wr-description-card.wr-description-card__card-tt-pure-exclusive
            .wr-description-card__description
                .wr-description-card__description-text 
                    .wr-description-card__header
                        h2.wr-description-card__title PURE EXCLUSIVE NATURE
                    .wr-description-card__wr-text 
                        p.wr-description-card__text.wr-description-card__text-tt-pure-exclusiv Для коллекции PURE EXCLUSIVE – как для эксклюзивной серии от компании WMF также актуален лозунг МЕНЬШЕ в действительности значит БОЛЬШЕ. Специально разработанный дизайн коллекции открывает массу возможностей для комбинирования предметов, имея под рукой небольшой ассортимент товаров можно достичь большего – больше дизайнерских находок, больше функциональности. Сочетание стали марки Cromargan®, дерева и фарфоровых деталей придаёт коллекции больше стильности без какой-либо потери практичности. Каждый предмет коллекции разрабатывается так, чтобы подходить к другому в самых различных комбинациях. Потребитель к тому же может выбрать из двух предлагаемых наиболее понравившийся ему оттенков дерева! Необычный оттенок деревянной отделки коллекции PURE EXCLUSIVE NATURE полностью приковывает внимание к естественному оттенку высококачественного дуба, который выгодно выделяет предметы коллекции при оформлении фуршета и сервировки стола.
                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-tt-pure-exclusive
                .wr-description-card__wr-link
                    a(href="#0").wr-description-card__link Перейти в каталог

        .line-left



include modules/footer