doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Коллекции
    body
 
        include modules/header 

        main(class="main tt-serv-collections__main tt-serv-collections")
            .wr-bread-crumbs
                include modules/bread-crumbs

            .banner.tt-serv-collections__banner

            .line-right.tt-serv-collections__line-right

            .tt-serv-collections__wrapper-main-content

                .wr-description-card.wr-description-card__card-tt-classic
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title CLASSIC
                            .wr-description-card__wr-text 
                                p.wr-description-card__text Коллекция CLASSIC предлагает стильные сервировочные позиции, сделанные из стали Cromargan®. В ассортименте коллекции присутствуют как кулеры для масла, так и клоши. Данная серия стильных предметов воплощает детали утончённого дизайна, гарантирует прочные поверхности, высокий уровень исполнения предметов способствует их применению для качественного обслуживания самых изысканных ужинов.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-tt-classic
                        .wr-description-card__wr-link
                            a(href="#0").wr-description-card__link Перейти в каталог

                .line-left 

                .wr-description-card.wr-description-card__card-tt-diva
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title DIVA
                            .wr-description-card__wr-text 
                                p.wr-description-card__text Новый кулер для напитков DIVA от WMF выглядит элегантно и стильно, независимо от того, какой у вас тип сервировки стола. Используется ли DIVA на совещаниях, во время фуршетов или в домашней обстановке, кулер подойдет для любого интерьера. Также, он обладает большой вместимостью - до шести бутылок с холодными напитками или графинов.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-tt-diva
                        .wr-description-card__wr-link
                            a(href="#0").wr-description-card__link Перейти в каталог

                .line-right 

                .wr-description-card.wr-description-card__card-tt-pure
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title PURE
                            .wr-description-card__wr-text 
                                p.wr-description-card__text Предметы сервировочного оборудования такие, как стойки или емкости – воплощение стильной простоты, из высококачественной нержавеющей стали марки Cromargan®. Тоже самое можно сказать и в отношении предметов из белого фарфора коллекции. Предметы из коллекции PURE легко сочетаются, как с изысканным оформлением буфета, так и с традиционным утренним шведским столом, обеспечивая функциональность и практичность любого мероприятия.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-tt-pure
                        .wr-description-card__wr-link
                            a(href="#0").wr-description-card__link Перейти в каталог

                .line-left 

                .wr-description-card.wr-description-card__card-tt-urban
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title URBAN
                            .wr-description-card__wr-text 
                                p.wr-description-card__text.wr-description-card__text-tt-pure-urban Предназначение коллекции URBAN соответствует её названию, она современна, аутентична, креативна, элегантна и наделена индивидуальностью. Изогнутые линии сервировочных предметов и декоративные элементы придают изящный и лёгкий вид. Она легко сочетается с прочими продуктами компании WMF. Наиболее удачным компаньоном для неё, к примеру, может стать коллекция PURE EXCLUSIVE.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-tt-urban
                        .wr-description-card__wr-link
                            a(href="#0").wr-description-card__link Перейти в каталог

                .line-right 

                .wr-description-card.wr-description-card__card-tt-bistro
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title BISTRO
                            .wr-description-card__wr-text 
                                p.wr-description-card__text Коллекция BISTRO представлена такими предметами, как стойки и сервировочные подносы, которых отличает традиционный элегантный дизайн. Премиум сталь Cromargan® соединяется с безупречным стеклом. Сочетание таких долговечных материалов дополнит по-классически современный стиль вашего ресторана при том, что все предметы легко моются и отлично сочетаются с изделиями компании WMF из других коллекций.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-tt-bistro
                        .wr-description-card__wr-link
                            a(href="#0").wr-description-card__link Перейти в каталог

                .line-left

                .wr-description-card.wr-description-card__card-tt-pure-exclusive
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title PURE EXCLUSIVE NATURE
                            .wr-description-card__wr-text 
                                p.wr-description-card__text Коллекция PURE EXCLUSIVE – это специально разработанный дизайн, который открывает массу возможностей для комбинирования предметов и функциональности. Сочетание стали Cromargan®, дерева и фарфоровых деталей придаёт коллекции элегантность и практичность. На выбор 2 оттенка дерева, которые выгодно выделяет предметы коллекции при оформлении фуршета и сервировки стола.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-tt-pure-exclusive
                        .wr-description-card__wr-link
                            a(href="#0").wr-description-card__link Перейти в каталог

                .line-right


        include modules/footer