doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        include modules/favicon-manifest
        title Коллекции
    body
 
        include modules/header  

        main(class="main drinks-collections__main drinks-collections")
            h1.visuallyhidden Бокалы WMF
            .wr-bread-crumbs
                include modules/bread-crumbs

            .banner.drinks-collections__banner

            .line-right.drinks-collections__line-right

            .drinks-collections__wrapper-main-content

                .wr-description-card.wr-description-card__card-wmf-divine
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title WMF firstglass DIVINE
                            .wr-description-card__wr-text 
                                p Бокалы для вина из коллекции WMF DIVINE впечатляют своими плавно изогнутыми тонкостенными корпусами, которые переходят в мягкие линии у ножки и основания. Бокал сужается кверху, что позволяет букету вашего вина раскрыться. Неподвластная времени форма украшает обстановку вашего заведения и придает каждому столу праздничную атмосферу!
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-divine
                        .wr-description-card__wr-link
                            a(href="#0" title="").wr-description-card__link Перейти в каталог

                .line-left

                .wr-description-card.wr-description-card__card-wmf-flavour
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title TRUE FLAVOUR
                            .wr-description-card__wr-text 
                                p От эспрессо до капучино и латте макиато до холодного заваривания или лонг-дринка: коллекция TRUE FLAVOUR Barista от WMF - это настоящая инновация в области хрустального стекла для наслаждения фирменными блюдами из кофе и многим другим.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-flavour
                        .wr-description-card__wr-link
                            a(href="#0" title="").wr-description-card__link Перейти в каталог

                .line-right

                .wr-description-card.wr-description-card__card-wmf-royal
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title WMF firstglass ROYAL
                            .wr-description-card__wr-text 
                                p Удлиненная ручка, изящная форма и кристально чистое стекло - все это характерные черты бокалов для вина серии WMF ROYAL. Несмотря на свой легкий внешний вид и исключительный шарм, стекло устойчиво и долговечно. Это означает, что ROYAL collection предлагает идеальное стекло для всех аспектов высокой кухни и гарантирует элегантную атмосферу.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-royal
                        .wr-description-card__wr-link
                            a(href="#0" title="").wr-description-card__link Перейти в каталог

                .line-left

                .wr-description-card.wr-description-card__card-wmf-smart
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title WMF firstglass SMART
                            .wr-description-card__wr-text 
                                p Вневременный дизайн серии SMART ориентирован на взыскательные заведения. Несмотря на то, что стекло более толстостенное и прочное, чем в других коллекциях, оно по-прежнему хорошо сбалансировано и просто в обращении. Функциональная серия SMART отличается четкими линиями и продуманным дизайном, в который входят подходящие бокалы для любого случая в повседневной жизни. так и на званом ужине.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-smart
                        .wr-description-card__wr-link
                            a(href="#0" title="").wr-description-card__link Перейти в каталог

                .line-right

                .wr-description-card.wr-description-card__card-wmf-manhattan
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title WMF firstglass MANHATTAN
                            .wr-description-card__wr-text 
                                p Стаканы серии MANHATTAN - это настоящие универсалы, которые завораживают своим массивным "кубиком льда". Они идеально подходят для виски и других напитков, подаваемых со льдом, крепких и безалкогольных напитков и ликеров, а также для безалкогольных напитков, таких как сок, вода и лимонад. Всего одного бокала из коллекции MANHATTAN достаточно, чтобы оборудовать ваш бар с напитками на все случаи жизни.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-manhattan
                        .wr-description-card__wr-link
                            a(href="#0" title="").wr-description-card__link Перейти в каталог

                .line-left

                .wr-description-card.wr-description-card__card-wmf-diva
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title DIVA
                            .wr-description-card__wr-text 
                                p Новый кулер для напитков DIVA от WMF выглядит элегантно и стильно, независимо от того, какой у вас тип сервировки стола. Используется ли DIVA на совещаниях, во время фуршетов или в домашней обстановке, кулер подойдет для любого интерьера. Также, он обладает большой вместимостью - до шести бутылок с холодными напитками или графинов.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-diva
                        .wr-description-card__wr-link
                            a(href="#0" title="").wr-description-card__link Перейти в каталог

                .line-right

                .wr-description-card.wr-description-card__card-wmf-compo
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title WMF COMPO
                            .wr-description-card__wr-text 
                                p Будь то завтрак, послеобеденный кофе или доставка в номер – новые изделия с двойными стенками из коллекции COMPO станут идеальным дополнением к вкусному кофе и чаю. Благодаря умелому изменению формы от квадратной формы основания к закругленной верхней части, дизайн также дополняет обстановку любого стола. Таким образом, COMPO гармонирует практически с любым стилем фарфора, столовых приборов и предметов декора.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-compo
                        .wr-description-card__wr-link
                            a(href="#0" title="").wr-description-card__link Перейти в каталог

                .line-left

                .wr-description-card.wr-description-card__card-wmf-international
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title Coffee Culture
                            .wr-description-card__wr-text 
                                p Существует так много различных способов приготовления кофе, что уже недостаточно просто предложить три или четыре бленда в меню напитков. С WMF "Coffee Culture" вы можете легко предложить своим гостям элегантную посуду из коллекция сервировки кофе. Классический дизайн, сочетающий в себе Cromargan ®, стекло WMF и фарфор, выглядит неподвластно времени и вписывается в любой интерьер.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-international
                        .wr-description-card__wr-link
                            a(href="./coffee-culture-international.html").wr-description-card__link Перейти в каталог

                .line-right

                .wr-description-card.wr-description-card__card-wmf-culturecup
                    .wr-description-card__description
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title Culture Cup
                            .wr-description-card__wr-text 
                                p Кофе - это гораздо больше, чем просто еще один горячий напиток. С годами напиток стал частью нашего культурного наследия, и искусство его правильной подачи имеет столь же давнюю историю. Существует безграничное количество кофейных коллекций, но есть только одна " Culture Cup" - идеально подходящая для подачи кофейного напитка. Простой, но современный дизайн выполнен в сочетании Cromargan ®, стекла WMF и фарфора, основан на формах классической кофейной культуры.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-culturecup
                        .wr-description-card__wr-link
                            a(href="./culture-cup.html").wr-description-card__link Перейти в каталог



        include modules/footer