doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Коллекции
    body
 
        include modules/header

        main(class="main main-tw-collections tw-collections")
            .wr-bread-crumbs
                include modules/bread-crumbs
            .banner.tw-collections__banner
                    a.tw-collections__banner-link Подробнее
            .line-right.tw-collections__line-right
            
            .tw-collections__wrapper-main-content

                .wr-description-card.wr-description-card__card-wmf-barock
                    .wr-description-card__description 
                        .wr-description-card__description-text
                            .wr-description-card__header
                                h2.wr-description-card__title WMF BAROCK
                            .wr-description-card__wr-text 
                                p.wr-description-card__text Линия BAROCK от компании WMF Professional, успешно доказавшая свою популярность у потребителей, обрела новые силуэтные линии. Теперь эти изысканно сработанные столовые приборы классического дизайна еще более соответствуют современным требованиям высокой культуры сервировки стола. Основные новшества дизайна связаны с усовершенствованием пропорций и размеров изделий: некоторые предметы коллекции стали длиннее, а используемый материал - заметно толще.
                        .wr-description-card__banner_mobile.wr-description-card__banner_mobile-barock
                        .wr-description-card__wr-link
                            a.wr-description-card__link Перейти в каталог 

                .line-left 

                .wr-description-card.wr-description-card__card-wmf-baguette
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF BAGUETTE
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text Столовыми приборами BAGUETTE просты на первый взгляд, хотя имеют множество удивительных деталей. В составе данной коллекции не только традиционные столовые приборы, но и специальные, такие как вилка для устриц и ложки для лимонада. Данная коллекция особенно широко используется в традиционной ресторанной сервировке, привлекая всеобщее внимание. Поразите Ваших гостей удобными в использовании столовыми приборами и ножами, которые снабжены пустотелыми рукоятками или имеют цельнолитые лезвия.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-baguette
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог 
                .line-right 

                .wr-description-card.wr-description-card__card-wmf-base
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF BASE
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text Коллекцию BASE характеризует простота. Вневременная гибкость дизайна данной линейки отлично подходит для повседневности. Коллекция состоит из 12-ти предметов, приборы коллекции таким образом сопровождают ваших гостей от закусок до основного блюда, а затем также и во время десерта и кофе. Современный прямолинейный дизайн приборов из коллекции BASE позволяет комбинировать его вместе с фарфоровой посудой различного стиля и декоративными элементами оформления.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-base
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог 

                .line-left 

                .wr-description-card.wr-description-card__card-wmf-bistro
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF BISTRO
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text Линейка столовых предметов BISTRO от компании WMF отлично смотрятся при любом способе сервировки. Точные, простые линии контуров данной коллекции особенно хороши во время завтраков или обедов в неформальной обстановке. Столовые приборы данной серии отлично смотрятся с ординарным фарфором, обеспечивая наличие в сервировке стола полного набора необходимых приборов, что особенно удобно как при подаче одного блюда, так и для фуршета со сменой множества блюд.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-bistro
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог 

                .line-right 

                .wr-description-card.wr-description-card__card-wmf-casino
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF CASINO
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text Дизайн серии CASINO совмещает простоту и элегантность линий, что делает их совершенно незаменимыми в сочетании с любым фарфором на столе. Коллекция предлагается в варианте из идеальной, сертифицированной, полированной нержавеющей стали Cromargan®. Приборы данной коллекции не только удобны в руке, но и прекрасно выглядят. Каждый предмет коллекции: от вилки до цельнолитого ножа с серрейторным («зубчатым») лезвием, является частью идеального набора столовых предметов, способных украсить сервировку любого стола.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-casino
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог 

                .line-left 

                .wr-description-card.wr-description-card__card-wmf-club
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF CLUB
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text На первый взгляд, коллекция приборов CLUB выглядит неброско и именно это делает её чрезвычайно универсальной. Утончённые линии контура позволяют каждому предмету из коллекции быть сбалансированными и удобными в руках клиентов, а декоративным линиям выгодно подчёркивать силуэт каждого предмета коллекции, делая данные приборы идеально подходящими как для простого приёма пищи, так и для сервировки пышных празднеств. Столовые приборы CLUB выгодно оттеняют роскошную столовую посуду.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-club
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог 

                .line-right 

                .wr-description-card.wr-description-card__card-wmf-contour
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF CONTOUR
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text Блистательная коллекция CONTOUR от компании WMF – воплощение мягких округлых контуров – позволяет расставить за столом впечатляющие акценты вне зависимости от повода. Простой и традиционный дизайн предметов коллекции непринуждённо впишется в любую сервировку. Тонкая штамповка поверхности металла придаёт предметам коллекции элегантное сияние. Узкие рукоятки приборов мягко ложатся в руку, а хорошо выверенные размеры приборов делают их устойчивыми.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-contour
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог 

                .line-left 

                .wr-description-card.wr-description-card__card-wmf-flair
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF FLAIR
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text За каждым столом центром внимания мгновенно становятся столовые приборы из коллекции FLAIR благодаря своим заострённым кончикам и особо акцентированному силуэту. В сочетании с посудой оригинального дизайна столовые принадлежности серии FLAIR ещё больше подчёркивают креативность характера такой посуды, не умаляя её достоинств. Как и все столовые принадлежности компании WMF, коллекция FLAIR также сбалансированно ложится в руку, превращая каждый прием пищи в удовольствие.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-flair
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог 

                .line-right 

                .wr-description-card.wr-description-card__card-wmf-gastro
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF GASTRO
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text Столовые приборы гармоничной и одинаковой формы, отличаются чётко очерченными контурами. Элегантность пропорций предметов обуславливает возможность самого широкого спектра их применения. Две вещи остаются всегда неизменными, а именно: высокое качество и отличная сбалансированность, что превращает использование приборов серии GASTRO в подлинное наслаждение.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-gastro
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог 

                .line-left 

                .wr-description-card.wr-description-card__card-wmf-juwel
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF JUWEL
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text Для профессионалов предлагается коллекция JUWEL, которая отличается необычным дизайном, разработанным модным домом Jette Joop. Внешний вид и форма каждого предмета из коллекции вызывает неподдельный восторг. Сложное гранение по краям рукояток приборов напоминает тонко отшлифованные поверхности драгоценных камней так, что кажется, будто они все ослепительно сверкают на каждом столе. Эта чрезвычайно изысканная коллекция столовых приборов достойно украшать столь же утончённый столовый фарфор.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-juwel
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог 

                .line-right 

                .wr-description-card.wr-description-card__card-wmf-metropolitan
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title.tw-collections__card-title WMF METROPOLITAN
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text В коллекции демонстрируется собственный индивидуальный стиль. Стремительные линии завершаются элегантными, сдержанными, но запоминающимися стильными элементами на конце рукояток, что выделяет изделия данной коллекции среди остальных. Данная серия великолепно подходит как для традиционной сервировки стола, так и для оформления завтраков или праздничных ужинов. Элегантные и стильные столовые приборы коллекции METROPOLITAN украшают и привносят функциональность в сервировку любого стола.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-metropolitan
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог 

                .line-left 

                .wr-description-card.wr-description-card__card-wmf-mondial
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF MONDIAL
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text Уникальный дизайн коллекции подчеркивает достоинства не только  сервировки, но также добавляет изысканности в торжественной обстановке. Данная премиальная коллекция особенно хорошо смотрится с фарфором, рядом с которым она становится особенно привлекательной. Как и другие коллекции компании WMF, серия MONDIAL эргономична и идеально подходит для роскошного ужина.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-mondial
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог 

                .line-right 

                .wr-description-card.wr-description-card__card-wmf-nordic
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF NORDIC
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text Мы уверены, что именно коллекция столовых приборов NORDIC своими необычными контурами и тонким силуэтом идеально дополнят модные тренды на всё азиатское, всё более широко и неумолимо утверждающееся в ресторанном бизнесе. Каждый предмет данной серии – нечто совершенно особенное – как визуально, так и на ощупь. Более того, данные приборы не только отвечают самым высоким требованиям функциональности, но они еще и отлично сбалансированы, что усиливает удовольствие при их использовании.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-nordic
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог 

                .line-left 

                .wr-description-card.wr-description-card__card-wmf-residence
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF RESIDENCE
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text Коллекция RESIDENCE по-новому трактует особенности стиля барокко, заменяя демонстрацию богатства, чистыми линиями. Предметы данной коллекции идеально подходят для сервировки утончённого и роскошного застолья, в том числе и для различных праздничных событий. Столовые приборы серии RESIDENCE отлично сочетаются как с ординарным столовым фарфором, так и с дизайнерской посудой, воплощающей в себе формы и линии, присущие дизайну столовых приборов.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-residence
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог 

                .line-right 

                .wr-description-card.wr-description-card__card-wmf-signum
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF SIGNUM
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text Линейка коллекции SIGNUM от компании WMF способствует созданию интимной атмосферы за столом. Любой тип столового фарфора привлекательно и гармонично дополняется приборами из коллекции SIGNUM, как во время завтрака, обеда или ужина со множеством перемен блюд. Дизайн предметов представляет собой соединение традиционно закруглённых рукояток с отлично сбалансированными, ясными линями контура. Как результат: сочетание простого, но идеального стиля с безупречным кулинарным наслаждением.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-signum
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог 

                .line-left 

                .wr-description-card.wr-description-card__card-wmf-sitello
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF SITELLO
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text В коллекции столовых приборов STELLO компания WMF Professional впервые демонстрирует дизайн с чеканной отделкой. Изящно обработанные акценты придают каждому столовому прибору его собственную индивидуальность, не нарушая сбалансированных линий традиционных закругленных ручек. Нежная растушевка современной отделки создает гармоничную и динамичную связь между ложкой и лезвием.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-sitello
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог

                .line-right 

                .wr-description-card.wr-description-card__card-wmf-solid
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF SOLID
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text Благодаря рукояткам совершенно необычной формы коллекция SOLID мгновенно приковывает к себе все взгляды и добавляет уникальности сервировке любого стола от завтрака до ужина. Столовые приборы данной коллекции отлично подчёркивают достоинства сдержанной посуды и достойно дополняют шикарную сервировку стола, не притягивая к себе слишком много внимания, а лишь утончённо, но с достоинством оттеняя общий фон сервировки стола, не оставаясь, впрочем, без внимания.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-solid
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог

                .line-left 

                .wr-description-card.wr-description-card__card-wmf-telos
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF TELOS
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text Стильный внешний вид в сочетании с первоклассным соотношением цены и качества являются лучшими аргументами в пользу модели столовых приборов TELOS от WMF. Эти столовые приборы подходят практически для любого вида гастрономии – от повседневного использования в ресторанах до банкетов. Прямой и узнаваемый дизайн TELOS хорошо сочетается с различными стилями фарфора и декоративных изделий и никогда не выглядит неуместно.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-telos
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог

                .line-right 

                .wr-description-card.wr-description-card__card-wmf-unic
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF UNIC
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text Гармоничные пропорции и чистые, функциональные формы серии столовых приборов UNIC от компании WMF производят неизгладимое впечатление. Характерный дизайн данной модели приборов является современным, хотя и несёт в себе классическое влияние. Благодаря геометрическим контурам коллекция UNIC отлично сочетается как с фарфором современного дизайна, так и с традиционным классическим. Коллекция уместно смотрится во время завтрака со шведским столом, так и на званом ужине.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-unic
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог

                .line-left 

                .wr-description-card.wr-description-card__card-wmf-asia
                            .wr-description-card__description
                                .wr-description-card__description-text
                                    .wr-description-card__header
                                        h2.wr-description-card__title WMF ASIA
                                    .wr-description-card__wr-text 
                                        p.wr-description-card__text Линейка ASIA от компании WMF – синтез очарования культуры Дальнего Востока и ресторанной традиции Европы. Культура зарубежных стран всегда имеет магическое воздействие на людей. В эпоху путешествий на дальние расстояния и космополитичности вкусов, экзотическое стало обычным. Удивите своих гостей столовыми приборами ASIA от компании WMF, которые соединяют азиатский колорит с западными стандартами качества.
                                .wr-description-card__banner_mobile.wr-description-card__banner_mobile-asia
                                .wr-description-card__wr-link
                                    a.wr-description-card__link Перейти в каталог

                .line-right 

        include modules/footer