doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        include modules/favicon-manifest
        title The new easy
    body
 
        include modules/header

        main(class="main main-new-easy new-easy")
            h1.visuallyhidden Коллекции посуды WMF
            .wr-bread-crumbs
                include modules/bread-crumbs
            .banner.new-easy__banner
            .new-easy__wrapper-main-content.swipe-lines__wrapper
                .new-easy__wr-description
                    .new-easy__description-line-top
                    section.new-easy__description 
                        heaedr.new-easy__description-header 
                            h2.new-easy__description-title 
                                span Позвольте себе вдохновиться  
                                span модными коллекциями.
                            h2.new-easy__description-title_mobile 
                                span Позвольте себе вдохновиться 
                                span новыми модными
                                span коллекциями. 
                        article.new-easy__description-article 
                            p “The New Easy” идеально подходит для всех кулинарных тем. От повседневных обедов до кейтеринга, от бургерных в стиле лофт на гриле до городских столовых: коллекция столовых приборов smart вписывается в любую обстановку. Современный, со множеством вариантов комбинирования.
                    .new-easy__description-line-bottom

                .new-easy-card.new-easy-card__card-wmf-edita
                    .new-easy-card__description
                        .new-easy-card__description-text
                            .new-easy-card__header
                                h2.new-easy-card__main-title WMF EDITA
                                h3.new-easy-card__sub-title
                                    span Лаконичный,
                                    span однозначный
                            .new-easy-card__wr-text 
                                p 
                                    span Благодаря слегка скошенной ручке и её уникальному дизайну,
                                    span Edita является центром внимания за столом. 
                                    span Данная коллекция обладает легким весом и идеальным балансом. 
                        .new-easy-card__wr-link 
                            a(href="#0" title="").new-easy-card__link Перейти в каталог
                        .swipe-lines__cards-arrow.new-easy-card__cards-arrow 
                            .swipe-lines__cards-swipe-circle.new-easy-card__cards-swipe-circle 
                            a(href="#0" title="").swipe-lines__cards-arrow-link.new-easy-card__cards-arrow-link 

                .line-right

                .new-easy-card.new-easy-card__card-wmf-elea
                    .new-easy-card__description 
                        .new-easy-card__description-text
                            .new-easy-card__header
                                h2.new-easy-card__main-title WMF ELEA
                                h3.new-easy-card__sub-title
                                    span Практичный,
                                    span гибкий
                            .new-easy-card__wr-text 
                                p Уникальный дизайн, утонченные детали и слегка изогнутая форма столовых приборов Elea подходит для любого интерьера и случая.
                        .new-easy-card__wr-link 
                            a(href="#0" title="").new-easy-card__link Перейти в каталог
                        .swipe-lines__cards-arrow.new-easy-card__cards-arrow 
                            .swipe-lines__cards-swipe-circle.new-easy-card__cards-swipe-circle 
                            a(href="#0" title="").swipe-lines__cards-arrow-link.new-easy-card__cards-arrow-link

                .line-left

                .new-easy-card.new-easy-card__card-wmf-enia
                    .new-easy-card__description 
                        .new-easy-card__description-text
                            .new-easy-card__header
                                h2.new-easy-card__main-title WMF ENIA
                                h3.new-easy-card__sub-title
                                    span Стильный,
                                    span инновационный
                            .new-easy-card__wr-text 
                                p Enia - это современный и со вкусом подобранный стиль, который прекрасно сочетается с концепциями интерьеров городской гастрономии.
                        .new-easy-card__wr-link 
                            a(href="#0" title="").new-easy-card__link Перейти в каталог
                        .swipe-lines__cards-arrow.new-easy-card__cards-arrow 
                            .swipe-lines__cards-swipe-circle.new-easy-card__cards-swipe-circle 
                            a(href="#0" title="").swipe-lines__cards-arrow-link.new-easy-card__cards-arrow-link
                
                .line-right

                .new-easy-card.new-easy-card__card-wmf-sara
                    .new-easy-card__description 
                        .new-easy-card__description-text
                            .new-easy-card__header
                                h2.new-easy-card__main-title WMF SARA
                                h3.new-easy-card__sub-title
                                    span Утилитарный,
                                    span тактильный
                            .new-easy-card__wr-text 
                                p 
                                    span Классический язык дизайна в новой интерпретации. 
                                    span Коллекция Sara сочетается со всеми гастрономическими концепциями, а широкие ручки делают столовые приборы чрезвычайно удобными.  
                        .new-easy-card__wr-link 
                            a(href="#0" title="").new-easy-card__link Перейти в каталог
                        .swipe-lines__cards-arrow.new-easy-card__cards-arrow 
                            .swipe-lines__cards-swipe-circle.new-easy-card__cards-swipe-circle 
                            a(href="#0" title="").swipe-lines__cards-arrow-link.new-easy-card__cards-arrow-link

                ul.new-easy__tableware-list  
                    li.new-easy__tableware-item 
                        .new-easy__wr-tableware-img
                            img(src="../img/new-easy__tableware.webp" alt="").new-easy__tableware-img
                        .new-easy__wr-tableware-text 
                            .new-easy__tableware-text_desctop
                                p
                                    span Классический язык дизайна в новой интерпретации:
                                    span Sara согласуется со всеми гастрономическими
                                    span концепциями! Широкие ручки делают столовые
                                    span приборы чрезвычайно удобными
                                    span в удержании. Здесь в полированной
                                    span версии cromargan.
                            .new-easy__tableware-text_mobile
                                p
                                    span Классический язык дизайна в новой
                                    span интерпретации: Sara согласуется со всеми
                                    span гастрономическими концепциями!
                                    span Широкие ручки делают столовые приборы
                                    span чрезвычайно удобными в удержании.
                                    span Здесь в полированной версии cromargan.

                    li.new-easy__tableware-item 
                        .new-easy__wr-tableware-img
                            img(src="../img/new-easy__tableware.webp" alt="").new-easy__tableware-img
                        .new-easy__wr-tableware-text 
                            .new-easy__tableware-text_desctop
                                p
                                    span Полностью в тренде: Sara в версии cromargan ®,
                                    span отделанной камнем. Поразительный винтажный вид
                                    span добавляет идеальный завершающий штрих к
                                    span современным концепциям отделки и дизайну
                                    span интерьера.
                            .new-easy__tableware-text_mobile
                                p
                                    span Полностью в тренде: Sara в версии cromargan ®,
                                    span отделанной камнем. Поразительный винтажный
                                    span вид добавляет идеальный завершающий
                                    span штрих к современным концепциям
                                    span отделки и дизайну интерьера.

                    li.new-easy__tableware-item 
                        .new-easy__wr-tableware-img
                            img(src="../img/new-easy__tableware.webp" alt="").new-easy__tableware-img
                        .new-easy__wr-tableware-text 
                            .new-easy__tableware-text_desctop
                                p
                                    span Практичная экономия времени: Sara в исполнении
                                    span из хромированной стали. Идеально подходит для
                                    span столовых и больших кухонь. 
                            .new-easy__tableware-text_mobile
                                p
                                    span Практичная экономия времени: Sara в исполнении
                                    span из хромированной стали. Идеально подходит для
                                    span столовых и больших кухонь.

                .line-left

                .new-easy-card.new-easy-card__card-wmf-sofia
                    .new-easy-card__description 
                        .new-easy-card__description-text
                            .new-easy-card__header
                                h2.new-easy-card__main-title WMF SOFIA
                                h3.new-easy-card__sub-title
                                    span Вневременный,
                                    span динамичный
                            .new-easy-card__wr-text 
                                p Столовые приборы Sofia завораживают своими гармоничными решениями. Какие у Вас могу быть комбинации? Неограниченные!
                        .new-easy-card__wr-link 
                            a(href="#0" title="").new-easy-card__link Перейти в каталог
                        .swipe-lines__cards-arrow.new-easy-card__cards-arrow 
                            .swipe-lines__cards-swipe-circle.new-easy-card__cards-swipe-circle 
                            a(href="#0" title="").swipe-lines__cards-arrow-link.new-easy-card__cards-arrow-link

                .line-right 

                .new-easy-card.new-easy-card__card-wmf-scala
                    .new-easy-card__description 
                        .new-easy-card__description-text
                            .new-easy-card__header
                                h2.new-easy-card__main-title WMF SCALA
                                h3.new-easy-card__sub-title
                                    span Разносторонний,
                                    span сбалансированный
                            .new-easy-card__wr-text 
                                p От бранчей до шведских столов: Scala гармонирует с любой обстановкой и благодаря своему тонкому силуэту идеально балансирует в руке.  
                        .new-easy-card__wr-link 
                            a(href="#0" title="").new-easy-card__link Перейти в каталог
                        .swipe-lines__cards-arrow 
                            .swipe-lines__cards-swipe-circle.new-easy-card__cards-swipe-circle 
                            a(href="#0" title="").swipe-lines__cards-arrow-link
                        
 
                .line-left.line-left_mobile-long

                .pdf__wr-catalog.new-easy__pdf-wr-catalog
                    .pdf__catalog-content.new-easy__pdf-catalog-content
                        .pdf__catalog-header 
                            h2.pdf__catalog-title.new-easy__pdf-catalog-title
                                span Позвольте себе вдохновиться
                                span новыми модными коллекциями.
                        .pdf__catalog-card.new-easy__pdf-catalog-card
                        a(href="#0" title="").pdf__catalog-link Скачать The New Easy

                .line-left_mobile-short

        include modules/footer

