- var t = 'the new easy'

include layout/head
 
include modules/header

main(class="main main-new-easy new-easy")
    .wr-bread-crumbs
        include modules/bread-crumbs
    .new-easy__banner
    .new-easy__wrapper-main-content
        .new-easy__wr-description
            .new-easy__description-line-top
            section.new-easy__description 
                heaedr.new-easy__description-header 
                    h2.new-easy__description-title 
                        span Позвольте себе вдохновиться новыми 
                        span модными коллекциями.
                    //- h2.new-easy__description-title_mobile 
                    //-     span Уникальное сочетание, 
                    //-     span идеальное оформление: 
                    //-     span элементы декора 
                    //-     span SYNERGY от WMF
                article.new-easy__description-article 
                    p.new-easy__description-wr-text “The New Easy” идеально подходит для всех кулинарных тем. От повседневных обедов до кейтеринга, от бургерных в стиле лофт на гриле до городских столовых: коллекция столовых приборов smart вписывается в любую обстановку. Современный, со множеством вариантов комбинирования.
            .new-easy__description-line-bottom

        .wr-description-card.wr-description-card__card-wmf-edita
            .wr-description-card__description
                .wr-description-card__header
                    h2.wr-description-card__main-title WMF EDITA
                    h3.wr-description-card__sub-title
                        span Лаконичный,
                        span локоничный
                .wr-description-card__wr-text 
                    p.wr-description-card__text Благодаря слегка скошенной ручке и её геометрическому виду, EDITA является центром внимания за столом. вес и идеальный баланс свидетельствуют о качестве и опыте.
                .wr-description-card__wr-link 
                    a.wr-description-card__link Перейти в каталог

        .line-right

        .wr-description-card.wr-description-card__card-wmf-elea
            .wr-description-card__description 
                .wr-description-card__header
                    h2.wr-description-card__main-title WMF ELEA
                    h3.wr-description-card__sub-title
                        span Практичный,
                        span гибкий
                .wr-description-card__wr-text 
                    p.wr-description-card__text Четкий дизайн, утонченные детали: благодаря слегка изогнутой форме столовые приборы elea динамичны и подходят для любого стиля и случая.
                .wr-description-card__wr-link 
                    a.wr-description-card__link Перейти в каталог

        .line-left

        .wr-description-card.wr-description-card__card-wmf-enia
            .wr-description-card__description 
                .wr-description-card__header
                    h2.wr-description-card__main-title WMF ENIA
                    h3.wr-description-card__sub-title
                        span Стильный,
                        span инновационный
                .wr-description-card__wr-text 
                    p.wr-description-card__text ENIA прекрасно сочетается с концепциями городской гастрономии. современный и со вкусом подобранный дизайн – от широкой верхней части до заостренной ручки.
                .wr-description-card__wr-link 
                    a.wr-description-card__link Перейти в каталог
        
        .line-right

        .wr-description-card.wr-description-card__card-wmf-sara
            .wr-description-card__description 
                .wr-description-card__header
                    h2.wr-description-card__main-title WMF SARA
                    h3.wr-description-card__sub-title
                        span Утилитарный,
                        span тактильный
                .wr-description-card__wr-text 
                    p.wr-description-card__text Классический язык дизайна в новой интерпретации: sara согласуется со всеми гастрономическими концепциями! Широкие ручки делают столовые приборы чрезвычайно удобными в удержании. Здесь в полированной версии cromargan
                .wr-description-card__wr-link 
                    a.wr-description-card__link Перейти в каталог

        ul.new-easy__tableware-list 
            li.new-easy__tableware-item 
                .new-easy__wr-tableware-img
                    img(src="../img/new-easy__tableware.png").new-easy__tableware-img
                .new-easy__wr-tableware-text 
                    p.new-easy__tableware-text
                        span Классический язык дизайна в новой интерпретации:
                        span sara согласуется со всеми гастрономическими
                        span концепциями! Широкие ручки делают столовые
                        span приборы чрезвычайно удобными
                        span в удержании. Здесь в полированной
                        span версии cromargan.

            li.new-easy__tableware-item 
                .new-easy__wr-tableware-img
                    img(src="../img/new-easy__tableware.png").new-easy__tableware-img
                .new-easy__wr-tableware-text 
                    p.new-easy__tableware-text
                        span Полностью в тренде: sara в версии cromargan ®,
                        span отделанной камнем. Поразительный винтажный вид
                        span добавляет идеальный завершающий штрих к
                        span современным концепциям отделки и дизайну
                        span интерьера.

            li.new-easy__tableware-item 
                .new-easy__wr-tableware-img
                    img(src="../img/new-easy__tableware.png").new-easy__tableware-img
                .new-easy__wr-tableware-text 
                    p.new-easy__tableware-text
                        span Практичная экономия времени: sara в исполнении
                        span из хромированной стали. Идеально подходит для
                        span столовых и больших кухонь. 

        .line-left

        .wr-description-card.wr-description-card__card-wmf-sofia
            .wr-description-card__description 
                .wr-description-card__header
                    h2.wr-description-card__main-title WMF SOFIA
                    h3.wr-description-card__sub-title
                        span Вневременный,
                        span динамичный
                .wr-description-card__wr-text 
                    p.wr-description-card__text Столовые приборы sofia завораживают своими гармоничными линиями и ручками, которые слегка сужаются к концу. Возможные комбинации? Неограниченно!
                .wr-description-card__wr-link 
                    a.wr-description-card__link Перейти в каталог

        .line-right 

        .wr-description-card.wr-description-card__card-wmf-scala
            .wr-description-card__description 
                .wr-description-card__header
                    h2.wr-description-card__main-title WMF SCALA
                    h3.wr-description-card__sub-title
                        span Разносторонний,
                        span сбалансированный
                .wr-description-card__wr-text 
                    p.wr-description-card__text От бранчей до шведских столов: scala гармонирует с любой обстановкой и благодаря своему тонкому силуэту идеально балансирует в руке.  
                .wr-description-card__wr-link 
                    a.wr-description-card__link Перейти в каталог

        .line-left

        .pdf__wr-catalog.new-easy__pdf-wr-catalog
            .pdf__catalog-content
                .pdf__catalog-header 
                    .pdf__catalog-title.new-easy__pdf-catalog-title
                        span Позвольте себе вдохновиться
                        span новыми модными коллекциями.
                .pdf__catalog-card.new-easy__pdf-catalog-card
                a(href="#0").pdf__catalog-link Скачать The New Easy






include modules/footer

