.main-about-tablewares {
    display: flex;
    padding-bottom: 12.55vw;

    flex-direction: column;
    align-items: center;
}

.about-tablewares__banner {
    width: 100%;
    height: 37.50vw;
    margin-top: 1.15vw;

    background: no-repeat url(../img/banner-about-tablewares.png);
    background-position: center;
    background-size: 100%;
}

.about-tablewares__banner-text {
    width: 24.58vw;
    margin-top: 15.78vw;
    margin-left: 9.95vw;

    font-family: 'WMFRotis-Regular';
    font-size: 1.46vw;

    color: #333;
}

.about-tablewares__line-right {
    margin-top: 4.22vw;
}
/* !!!!!!!!!!!!!!!!!!добавить лого на фон НЕ ЗАБУДЬ!!!!!!!! */
.about-tablewares__wrapper-main-content {
    display: flex;
    gap: 3.75vw;
    width: 100%;
    padding-top: 3.75vw;

    background: no-repeat url(../svg/logo-article-index.svg);
    background-size: 17vw auto;
    background-position: left 9.1vw top;

    flex-direction: column;
    align-items: center;
}


/* Н А Ч А Л О  К А Р Т О Ч К И */



.about-tablewares__wr-card-description {
    display: flex;
    width: 76vw;

    justify-content: space-between;
}

.about-tablewares__card-description {
    width: 46.79vw;
}

.about-tablewares__card-description-title {
    display: flex;

    font-family: 'WMFRotis-Bold';
    font-size: 2.99vw;
    line-height: 1.1;

    flex-direction: column;
}

.about-tablewares__card-description-title_mobile {
    display: none;
}

.about-tablewares__card-description-text {
    width: 46.5vw;
    margin-top: 0.52vw;

    font-family: 'WMFRotis-Regular';
    font-size: 1.46vw;
    line-height: 1;

    color: #333333;
}

.about-tablewares__card-text_first-article {
    line-height: normal;
}

.about-tablewares__card-img_big {
    width: 27.24vw;
    height: 48.44vw;

    background: no-repeat url(../img/about-tablewares__card-description-img_big.png);
    background-size: auto 100%;
    background-position: center;
}

.about-tablewares__card-img_small-first {
    width: 27.24vw;
    height: 34.11vw;

    background: no-repeat url(../img/about-tablewares__card-description-img_small-first.png);
    background-size: auto 100%;
    background-position: center;
}

.about-tablewares__card_include-button {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
}

.about-tablewares__card-description-title_big {
    font-family: 'WMFRotis-Bold';
    font-size: 3.65vw;
    line-height: 1;
}

.about-tablewares__card-description-text_bottom {
    margin-top: 1.41vw;
}

.about-tablewares__card-img_small-second {
    width: 27.08vw;
    height: 32.71vw;

    background: no-repeat url(../img/about-tablewares__card-description-img_small-second.png);
    background-size: auto 100%;
    background-position: center;
}

.about-tablewares__wr-card-description-link_desctop {
    height: 2.86vw;
    width: 19.11vw;
}

.about-tablewares__card-description-link_desctop {
    display: flex;
    height: 2.86vw;
    width: 19.11vw;

    font-family: 'WMFRotis-Regular';
    font-size: 1.25vw;

    background-color: #333333;
    border-radius: 0.42vw;
    color: #ffffff;

    align-items: center;
    justify-content: center;
}

.about-tablewares__wr-card-description-link_mobile {
    display: none;
}
/* К О Н Е Ц  К А Р Т О Ч К И */



/* Н А Ч А Л О  П Р Е И М У Щ Е С Т В А */

.about-tablewares__wr-advantages {
    width: 76vw;
}

.about-tablewares__control-list {
    display: flex;
    gap: 3.75vw;
}

.about-tablewares__wr-advantages-control-item {
    display: flex;
    font-family: 'WMFRotis-Bold';
    font-size: 1.67vw;

    flex-direction: column;

    cursor: pointer;
}

.about-tablewares__underline {
    display: none;
    height: 1px;
    width: 100%;

    background-color: #000000;
}

.about-tablewares__underline_active {
    display: block;
}

/* .about-tablewares__control_active {
    text-decoration: underline;
} */



.about-tablewares__advantages {
    display: none;
    width: 100%;
    margin-top: 3.28vw;

    justify-content: space-between;
}

.about-tablewares__content_active {
    display: flex;
}

.about-tablewares__advantages-img {
    width: 28.91vw;
    height: 21.77vw;

    /* border: 1px solid #777; */
}

.about-tablewares__advantages-img_knives {
    background: no-repeat url(../img/advantages-img_knives.png);
    background-size: 100%;
    background-position: center;
}

.about-tablewares__advantages-img_balancing {
    background: no-repeat url(../img/advantages-img_balancing.png);
    background-size: 100%;
    background-position: center;
}

.about-tablewares__advantages-img_individuality {
    background: no-repeat url(../img/advantages-img_individuality.png);
    background-size: 100%;
    background-position: center;
}

.about-tablewares__advantages-wr-text {
    width: 45.11vw;
}

.about-tablewares__advantages-title {
    font-family: 'WMFRotis-Bold';
    font-size: 3.65vw;
    line-height: 1;
}

.about-tablewares__advantages-text {
    margin-top: 1.35vw;
    
    font-family: 'WMFRotis-Regular';
    font-size: 1.46vw;
    line-height: 1.05;
}
/* К О Н Е Ц  П Р Е И М У Щ Е С Т В А */


/* Н А Ч А Л О  Д О Л Г О В Е Ч Н О С Т Ь */

.about-tablewares__wr-durability {
    width: 76vw;
    margin-top: 0.52vw;
}

.about-tablewares__durability-title {
    display: flex;

    font-family: 'WMFRotis-Bold';
    font-size: 3.13vw;

    flex-direction: column;
}

.about-tablewares__durability-text {
    margin-top: 2.40vw;

    font-family: 'WMFRotis-Regular';
    font-size: 1.46vw;
}

.about-tablewares__wr-durability-card-list {
    display: flex;
    margin-top: 2.35vw;

    justify-content: space-between;
}

.about-tablewares__wr-durability-card-item {
    display: flex;
    width: 37.85vw;
    padding-left: 1.04vw;
    padding-right: 1.04vw;
    padding-bottom: 5.17vw;

    background-color: #403B40;

    flex-direction: column;
    justify-content: space-between;
}

.about-tablewares__wr-durability-card-header {
    display: flex;
    margin-top: 1.04vw;

    justify-content: space-between;
}

.about-tablewares__wr-durability-card-header_knive {
    align-items: center;
}

.about-tablewares__wr-durability-card-title {
    display: flex;

    font-family: 'WMFRotis-Bold';
    font-size: 3.33vw;

    color: #ffffff;

    flex-direction: column;
}

.about-tablewares__wr-durability-card-title_knive {
    padding-bottom: 0.8vw;
}

.about-tablewares__wr-durability-card-icon {
    height: 3.65vw;
    width: 3.65vw;
}

.about-tablewares__wr-durability-icon_knive {
    background: no-repeat url(../svg/durability-card-icon-knive.svg);
    background-size: 100%;
    background-position: center;
}

.about-tablewares__wr-durability-icon_cromargan {
    background: no-repeat url(../svg/durability-card-icon-letter.svg);
    background-size: 100%;
    background-position: center;
}

.about-tablewares__wr-durability-card-text {
    margin-top: 0.94vw;

    font-family: 'WMFRotis-Regular';
    font-size: 1.36vw;

    color: #ffffff;
}

/* К О Н Е Ц  Д О Л Г О В Е Ч Н О С Т Ь */




@media ( max-width: 435px ) { 
    .main-about-tablewares {
        padding-bottom: 25.60vw;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__banner {
        width: 100%;
        height: 80vw;
        margin-top: 0;
    
        background: no-repeat url(../img/banner-about-tablewares-mobile.png); 
        background-position: center;
        background-size: auto 100%;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__banner-text {
        width: 51.58vw;
        margin-top: 25.78vw;

        font-size: 3.73vw;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__line-right {
        display: none;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__wrapper-main-content {
        margin-top: 8.53vw;
        padding-top: 1.87vw;
        gap: 6.67vw;

        background-position: left 6.1vw top;
        background-size: 46vw auto;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__wr-card-description {
        width: 87vw;

        flex-direction: column;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__card-description {
        width: 100%;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__card-description-title_desctop {
        display: none;
    }

    .about-tablewares__card-description-title {
        font-size: 6.67vw;
    }

    .about-tablewares__card-description-title_mobile {
        display: flex;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__card-description-text {
        width: 100%;
        margin-top: 2.93vw;

        font-size: 3.73vw;
        line-height: normal;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__card-img_big {
        width: 100%;
        height: 112vw;
        margin-top: 8vw;

        background: no-repeat url(../img/about-tablewares__card-description-img_big-mobile.png);
        background-size: auto 100%;
        background-position: center;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__card-img_small-first {
        width: 100%;
        height: 112vw;
        margin-top: 8vw;

        background: no-repeat url(../img/about-tablewares__card-description-img_small-first-mobile.png);
        background-size: auto 100%;
        background-position: center;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__card-description-title_big {
        font-size: 6.67vw;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__card-img_small-second {
        width: 100%;
        height: 112vw;
        margin-top: 8vw;

        background: no-repeat url(../img/about-tablewares__card-description-img_small-second-mobile.png);
        background-size: auto 100%;
        background-position: center;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__wr-card-description-link_desctop {
        display: none;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__wr-card-description-link_mobile {
        display: block;
        width: 100%;
        height: 13.33vw;
        margin-top: 8vw;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__card-description-link_mobile {
        display: flex;

        font-family: 'WMFRotis-Bold';
        font-size: 5.33vw;

        border-radius: 2.13vw;
        background: #333;
        color: #ffffff;

        align-items: center;
        justify-content: center;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__wr-advantages {
        width: 87vw;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__control-list {
        flex-direction: column;
        gap: 0.75vw;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__wr-advantages-control-item {
        display: flex;
        width: 100%;
        height: 13.33vw;
        gap: 1.33vw;

        font-size: 5.33vw;

        border-radius: 1.33vw;
        border: 1px solid #777;
        color: #333;

        align-items: center;
        justify-content: center;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__control_active {
        text-decoration: none;

        color: #ffffff;
        background-color: #666;;
    }

    .about-tablewares__underline_active {
        display: none;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__advantages {
        margin-top: 8vw;

        flex-direction: column;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__advantages-img {
        width: 100%;
        height: 67.47vw;
        margin-top: 8vw;

        order: 2;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__advantages-wr-text {
        width: 100%;

        order: 1;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__advantages-title {
        font-size: 6.67vw;
        line-height: normal;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__advantages-text {
        margin-top: 5.33vw;

        font-size: 3.73vw;
        line-height: normal;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__advantages-img_knives {
        background: no-repeat url(../img/advantages-img_knives-mobile.png);
        background-size: 100% auto;
        background-position: center;
    }

    .about-tablewares__advantages-img_balancing {
        background: no-repeat url(../img/advantages-img_balancing-mobile.png);
        background-size: 100% auto;
        background-position: center;
    }

    .about-tablewares__advantages-img_individuality {
        background: no-repeat url(../img/advantages-img_individuality-mobile.png);
        background-size: 100% auto;
        background-position: center;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__wr-durability {
        width: 87vw;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__durability-title {
        font-size: 6.67vw;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__durability-text {
        font-size: 3.73vw;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__wr-durability-card-list {
        margin-top: 6.67vw;
        gap: 1.5vw;

        flex-direction: column;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__wr-durability-card-item {
        width: 100%;
        min-height: 71.20vw;
        padding-top: 5.33vw;
        padding-left: 5.33vw;
        padding-bottom: 5.33vw;

        justify-content: normal;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__wr-durability-card-title {
        font-size: 6.67vw;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__wr-durability-card-icon {
        height: 8vw;
        width: 8vw;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__wr-durability-card-text {
        margin-top: 5.33vw;

        font-size: 3.73vw;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__wr-durability-card-text_knive {
        width: 52vw;
    }
}

@media ( max-width: 435px ) { 
    .about-tablewares__wr-durability-card-text_cromargan {
        width: 60vw;
    }
}





