.bread-crumbs-list {
    display: flex;
    width: 76vw;
    margin-top: 1.15vw;
    gap: 0.26vw;
}

.crumbs-item-slash {
    cursor: default;
}

.bread-crumbs-item {
    display: flex;
}

.bread-crumbs-item:not(:first-child)::before {
    content: '/';

    display: inline-block;
    margin-right: 0.25vw;

    font-family: 'WMFRotis-Light';

    cursor: auto;
}

.bread-crumbs-item-link {
    font-family: 'WMFRotis-Light', sans-serif;
    font-size: 0.83vw;

    color: #333333;
}

.crumbs-item_active {
    font-family: 'WMFRotis-Regular', sans-serif;
    font-size: 0.83vw;

    color: #333333;

    cursor: default;
}

@media( max-width: 961px ) {
    .bread-crumbs-list {
        display: none;
    }
}