.c-c-international__banner {
    background: no-repeat url(../img/banner__c-c-international.png);
    background-position: center;
    background-size: 100%;
}



@media( max-width: 961px ) {
    .c-c-international__banner {
        padding-top: 13.66vw;

        background: no-repeat url(../img/banner__c-c-international-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }
}