.culture-cup__banner {
    background: no-repeat url(../img/banner-culture-cup.png);
    background-position: center;
    background-size: 100%;
}



@media( max-width: 961px ) {
    .culture-cup__banner {
        padding-top: 13.66vw;

        background: no-repeat url(../img/banner-culture-cup-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }
}