.wr-description-card {
    display: flex;
    width: 76vw; 
    height: 32.71vw;

    background-size: cover;
    background-position: center; 

    flex-direction: column;
    align-items: flex-start;
} 

.wr-description-card__description {
    display: flex;
    width: 31.98vw;
    padding-left: 2.34vw;
    padding-bottom: 1vw;
    padding-right: 4.17vw;
    
    background-color: rgba(255, 255, 255, 0.77);

    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.wr-description-card__description-text {
    display: flex;
    width: 100%;
    gap: 0.7vw;

    flex-direction: column;
}

.wr-description-card__header {
    display: flex;
    padding-top: 2.03vw;
    gap: 0.7vw;

    flex-direction: column;
}

.wr-description-card__title {
    font-family: 'WMFRotis-Bold';
    font-size: 2.60vw;
}

.wr-description-card__wr-text p {
    font-family: 'WMFRotis-Regular';
    font-size: 1.15vw;

    color: #333333;
}

.wr-description-card__banner_mobile {
    display: none;
    width: 100%;
    height: 112vw;
}

.wr-description-card__wr-link {
    height: 2.86vw;
    width: 17.97vw;
}

.wr-description-card__link {
    display: flex;

    font-family: 'WMFRotis-Bold';
    font-size: 1.25vw;

    border-radius: 0.42vw;
    background: #333;
    color: #ffffff;

    justify-content: center;
    align-items: center;

    cursor: pointer;
}


.wr-description-card__card-wmf-barock {
    background: no-repeat url(../img/about-tablewares-two-wmf-barock.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-baguette {
    background: no-repeat url(../img/about-tablewares-two-wmf-baguette.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-base {
    background: no-repeat url(../img/about-tablewares-two-wmf-base.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-bistro {
    background: no-repeat url(../img/about-tablewares-two-wmf-bistro.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-casino {
    background: no-repeat url(../img/about-tablewares-two-wmf-casino.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-club {
    background: no-repeat url(../img/about-tablewares-two-wmf-club.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-contour {
    background: no-repeat url(../img/about-tablewares-two-wmf-contour.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-flair {
    background: no-repeat url(../img/about-tablewares-two-wmf-flair.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-gastro {
    background: no-repeat url(../img/about-tablewares-two-wmf-gastro.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-juwel {
    background: no-repeat url(../img/about-tablewares-two-wmf-juwel.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-metropolitan {
    background: no-repeat url(../img/about-tablewares-two-wmf-metropolitan.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-mondial {
    background: no-repeat url(../img/about-tablewares-two-wmf-mondial.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-nordic {
    background: no-repeat url(../img/about-tablewares-two-wmf-nordic.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-residence {
    background: no-repeat url(../img/about-tablewares-two-wmf-residence.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-signum {
    background: no-repeat url(../img/about-tablewares-two-wmf-signum.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-sitello {
    background: no-repeat url(../img/about-tablewares-two-wmf-sitello.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-solid {
    background: no-repeat url(../img/about-tablewares-two-wmf-solid.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-telos {
    background: no-repeat url(../img/about-tablewares-two-wmf-telos.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-unic {
    background: no-repeat url(../img/about-tablewares-two-wmf-unic.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-asia {
    background: no-repeat url(../img/about-tablewares-two-wmf-asia.webp);
    background-position: center;
    background-size: auto 100%;
}




@media ( max-width: 961px ) {
    div.wr-description-card {
        width: 87vw;
        height: auto;

        background: none;
    }
}

@media ( max-width: 961px ) {
    .wr-description-card__description {
        width: 100%;
        padding: 0;
    }
}

@media ( max-width: 961px ) {
    .wr-description-card__header {
        padding: 0;
    }
}

@media ( max-width: 961px ) {
    .wr-description-card__title {
        font-size: 6.67vw;
    }
}

@media ( max-width: 961px ) {
    .wr-description-card__wr-text {
        margin-top: 5.33vw;
    }
}

@media ( max-width: 961px ) {
    .wr-description-card__wr-text p {
        font-size: 3.73vw;
    }
}

@media ( max-width: 961px ) {
    .wr-description-card__banner_mobile {
        display: block;
        margin-top: 8vw;
    }
}

@media ( max-width: 961px ) {
    .wr-description-card__wr-link {
        width: 100%;
        height: 13.33vw;
        margin-top: 5.33vw;
    }
}

@media ( max-width: 961px ) {
    .wr-description-card__link {
        font-size: 5.33vw;

        border-radius: 2.13vw;
    }
}

@media ( max-width: 961px ) { 
    .wr-description-card__banner_mobile-barock {
        background: no-repeat url(../img/about-tablewares-two-wmf-barock-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-baguette {
        background: no-repeat url(../img/about-tablewares-two-wmf-baguette-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-base {
        background: no-repeat url(../img/about-tablewares-two-wmf-base-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-bistro {
        background: no-repeat url(../img/about-tablewares-two-wmf-base-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-casino {
        background: no-repeat url(../img/about-tablewares-two-wmf-casino-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-club {
        background: no-repeat url(../img/about-tablewares-two-wmf-club-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-contour {
        background: no-repeat url(../img/about-tablewares-two-wmf-contour-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-flair {
        background: no-repeat url(../img/about-tablewares-two-wmf-flair-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-gastro {
        background: no-repeat url(../img/about-tablewares-two-wmf-gastro-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-juwel {
        background: no-repeat url(../img/about-tablewares-two-wmf-juwel-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-metropolitan {
        background: no-repeat url(../img/about-tablewares-two-wmf-metropolitan-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-mondial {
        background: no-repeat url(../img/about-tablewares-two-wmf-mondial-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-nordic {
        background: no-repeat url(../img/about-tablewares-two-wmf-nordic-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-residence {
        background: no-repeat url(../img/about-tablewares-two-wmf-residence-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-signum {
        background: no-repeat url(../img/about-tablewares-two-wmf-signum-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-sitello {
        background: no-repeat url(../img/about-tablewares-two-wmf-sitello-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-solid {
        background: no-repeat url(../img/about-tablewares-two-wmf-solid-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-telos {
        background: no-repeat url(../img/about-tablewares-two-wmf-telos-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-unic {
        background: no-repeat url(../img/about-tablewares-two-wmf-unic-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-asia {
        background: no-repeat url(../img/about-tablewares-two-wmf-asia-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }   
}


/* К А Р Т О Ч К И  T A B L E - T O P */

.wr-description-card__card-wmf-divine {
    background: no-repeat url(../img/table-top-drinks-collections-divine.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-flavour {
    background: no-repeat url(../img/table-top-drinks-collections-flavour.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-royal {
    background: no-repeat url(../img/table-top-drinks-collections-royal.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-smart {
    background: no-repeat url(../img/table-top-drinks-collections-smart.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-manhattan {
    background: no-repeat url(../img/table-top-drinks-collections-manhattan.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-diva {
    background: no-repeat url(../img/table-top-drinks-collections-diva.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-compo {
    background: no-repeat url(../img/table-top-drinks-collections-compo.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-international {
    background: no-repeat url(../img/table-top-drinks-collections-international.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-wmf-culturecup {
    background: no-repeat url(../img/table-top-drinks-collections-culture-cup.webp);
    background-position: center;
    background-size: auto 100%;
}



@media ( max-width: 961px ) { 
    .wr-description-card__banner_mobile-divine {
        background: no-repeat url(../img/wr-description-card__banner_mobile-divine.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-flavour {
        background: no-repeat url(../img/wr-description-card__banner_mobile-flavour.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-royal {
        background: no-repeat url(../img/wr-description-card__banner_mobile-royal.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-smart {
        background: no-repeat url(../img/wr-description-card__banner_mobile-smart.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-manhattan {
        background: no-repeat url(../img/wr-description-card__banner_mobile-manhattan.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-diva {
        background: no-repeat url(../img/wr-description-card__banner_mobile-diva.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-compo {
        background: no-repeat url(../img/wr-description-card__banner_mobile-compo.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-international {
        background: no-repeat url(../img/wr-description-card__banner_mobile-international.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-culturecup {
        background: no-repeat url(../img/wr-description-card__banner_mobile-culturecup.webp);
        background-position: center;
        background-size: auto 100%;
    }

}



/*  S T A R T  T A B L E  T O P  S E R V I N G  C O L L E C T I O N S  */

.wr-description-card__card-tt-classic {
    background: no-repeat url(../img/table-top-serving-card-classic.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-tt-diva {
    background: no-repeat url(../img/table-top-serving-card-diva.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-tt-pure {
    background: no-repeat url(../img/table-top-serving-card-pure.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-tt-urban {
    background: no-repeat url(../img/table-top-serving-card-urban.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-tt-bistro {
    background: no-repeat url(../img/table-top-serving-card-bistro.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-tt-pure-exclusive {
    background: no-repeat url(../img/table-top-serving-card-pure-exclusiv.webp);
    background-position: center;
    background-size: auto 100%;
}

@media (max-width: 435px) {
    .wr-description-card__banner_mobile-tt-classic {
        background: no-repeat url(../img/wr-description-card__banner_mobile-tt-classic.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-tt-pure {
        background: no-repeat url(../img/wr-description-card__banner_mobile-tt-pure.webp);
        background-position: center;
        background-size: auto 100%;
    }
 
    .wr-description-card__banner_mobile-tt-urban {
        background: no-repeat url(../img/wr-description-card__banner_mobile-tt-urban.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-tt-bistro {
        background: no-repeat url(../img/wr-description-card__banner_mobile-tt-bistro.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .wr-description-card__banner_mobile-tt-pure-exclusive {
        background: no-repeat url(../img/wr-description-card__banner_mobile-tt-pure-exclusive.webp);
        background-position: center;
        background-size: auto 100%;
    }
}

/*  E N D  T A B L E  T O P  S E R V I N G  C O L L E C T I O N S  */



/*  S T A R T  S W E D I S H  L I N E  M A R M I T E S  */

.wr-description-card__card-marmites-fresh {
    background: no-repeat url(../img/marmites-wmf-hot-and-fresh.webp);
    background-position: center;
    background-size: auto 100%;
}

.wr-description-card__card-marmites-economy {
    background: no-repeat url(../img/marmites-wmf-hot-and-economy.webp);
    background-position: center;
    background-size: auto 100%; 
}

@media (max-width: 435px) {
    .wr-description-card__banner_mobile-marmites-fresh {
        background: no-repeat url(../img/wr-description-card__banner_mobile-marmites-fresh.webp);
        background-position: center;
        background-size: auto 100%; 
    }

    .wr-description-card__banner_mobile-marmites-economy {
        background: no-repeat url(../img/wr-description-card__banner_mobile-marmites-economy.webp);
        background-position: center;
        background-size: auto 100%;
    }
}

/*  E N D  S W E D I S H  L I N E  M A R M I T E S  */