.wr-description-card {
    display: flex;
    width: 78.39vw; 
    height: 32.71vw;

    background-size: cover;
    background-position: center;

    flex-direction: column;
    align-items: flex-start;
}

.wr-description-card__description {
    display: flex;
    width: 23.28vw;
    padding-left: 2.34vw;
    padding-bottom: 1vw;
    
    background-color: #ffffff97;

    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.wr-description-card__description-text {
    display: flex;
    width: 100%;
    gap: 0.7vw;

    flex-direction: column;
}

.wr-description-card__header {
    display: flex;
    padding-top: 2.03vw;
    gap: 0.7vw;

    flex-direction: column;
}

.wr-description-card__main-title {
    font-family: 'WMFRotis-Bold';
    font-size: 3.65vw;
}

.wr-description-card__sub-title {
    display: flex;

    font-family: 'WMFRotis-Bold';
    font-size: 2.50vw;

    color: #333333;

    flex-direction: column;
}

.wr-description-card__text {
    font-family: 'WMFRotis-Regular';
    font-size: 1.46vw;
}

.wr-description-card__wr-link {
    height: 2.86vw;
    width: 17.97vw;
}

.wr-description-card__link {
    display: flex;

    font-family: 'WMFRotis-Bold';
    font-size: 1.25vw;

    border-radius: 0.42vw;
    background: #333;
    color: #ffffff;

    justify-content: center;
    align-items: center;

    cursor: pointer;
}









@media( max-width: 435px ) {
    .wr-description-card {
        width: 87vw;
        height: auto;
        min-height: 112vw;
    }
}

@media( max-width: 435px ) {
    .wr-description-card__description {
        position: relative;

        width: 64.27vw;
        padding-left: 0;
    }
}

@media( max-width: 435px ) {
    .wr-description-card__description-text {
        gap: 4.53vw;
    }
}

@media( max-width: 435px ) {
    .wr-description-card__header {
        padding-top: 15.47vw;
        padding-left: 1.07vw;
        gap: 1.33vw;
    }
}

@media( max-width: 435px ) {
    .wr-description-card__main-title {
        font-size: 8.53vw;
    }
}

@media( max-width: 435px ) {
    .wr-description-card__sub-title {
        font-size: 4vw;

        flex-direction: row;
    }
}

@media( max-width: 435px ) {
    .wr-description-card__wr-text {
        margin-left: 1.07vw;
    }
}

@media( max-width: 435px ) {
    .wr-description-card__text {
        width: 56vw;

        font-size: 3.73vw;
    }
}

@media( max-width: 435px ) {
    .wr-description-card__wr-link {
        display: none;
    }
}




