.footer-doc__main {
    display: flex;
    padding-bottom: 8.85vw;

    flex-direction: column;
    align-items: center; 
}
 
.footer-doc__line-right {
    margin-top: 2.97vw;   
}
 
.footer-doc__wr-content {
    display: flex;
    width: 76vw;
    padding-top: 2.08vw;

    flex-direction: column;
    align-items: center;
}

.footer-doc__title {
    font-family: 'WMFRotis-Bold';
    font-size: 2.34vw;
}

.footer-doc__documents-list {
    display: flex;
    margin-top: 3.13vw;
    gap: 3.13vw;

    flex-wrap: wrap;
}

.footer-doc__file-link {
    display: flex;
    gap: 1.2vw;

    justify-content: center;
}

.footer-doc__file-icon {
    height: 3.07vw;
    width: 2.45vw;
}

.footer-doc__file-description {
    display: flex;

    font-family: 'WMFRotis-Regular';
    font-size: 0.83vw;

    flex-direction: column;
    justify-content: center;
}

.footer-doc__line-left {
    margin-top: 6.41vw;
}



@media ( max-width: 961px ) { 
    .footer-doc__main {
        padding-top: 8vw;
        padding-bottom: 25.60vw;
    }
}

@media ( max-width: 961px ) { 
    .footer-doc__line-right {
        display: none;
    }
}

@media ( max-width: 961px ) { 
    .footer-doc__wr-content {
        width: 87vw;
        padding-top: 0;
    }
}

@media ( max-width: 961px ) { 
    .footer-doc__title {
        font-size: 6.67vw;
    }
}

@media ( max-width: 961px ) { 
    .footer-doc__documents-list {
        margin-top: 8vw;
        gap: 8.80vw;

        padding-left: 5.07vw;
    }
}

@media ( max-width: 961px ) { 
    .footer-doc__file-icon {
        height: 15.73vw;
        width: 12.53vw;
    }
}

@media ( max-width: 961px ) { 
    .footer-doc__file-description {
        font-size: 4.27vw;
    }
}

@media ( max-width: 961px ) { 
    .footer-doc__line-left {
        margin-top: 10.93vw;
    }
}