.footer-certificate__main {
    display: flex;
    padding-bottom: 8.85vw;

    flex-direction: column;
    align-items: center;
} 
 
.footer-certificate__line-right {
    margin-top: 2.97vw;   
}
 
.footer-certificate__wr-content {
    display: flex;
    width: 76vw;
    padding-top: 2.08vw;

    flex-direction: column;
    align-items: center;
}

.footer-certificate__title {
    font-family: 'WMFRotis-Bold';
    font-size: 2.34vw;
}

.footer-certificate__list {
    display: flex;
    margin-top: 4.69vw;
    gap: 2.55vw;
}

.footer-certificate__item {
    height: 22.14vw;
    width: 15.63vw;
}

.footer-certificate__img {
    height: 100%;
    width: 100%;

    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);

    object-fit: contain;
    object-position: center;
    cursor: pointer;
}

.footer-certificate__line-left {
    margin-top: 6.41vw;
}



/*S T A R T  Z O O M */

.cert-zoom__cover { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;

    background: rgba(51, 51, 51, 0.5);

    z-index: 1000;
}

.cert-zoom__active {
    display: block;
}

.cert-zoom__wr-certificates {
    position: absolute;
}

.cert-zoom__img {
    height: 100%;
    width: 100%;

    object-fit: contain;
    object-position: center;
}

/* E N D  Z O O M */


@media ( max-width: 961px ) { 
    .footer-certificate__main {
        padding-top: 8vw;
        padding-bottom: 25.60vw;
    }
}

@media ( max-width: 961px ) { 
    .footer-certificate__line-right {
        display: none;
    }
}

@media ( max-width: 961px ) { 
    .footer-certificate__wr-content {
        width: 87vw;
        padding-top: 0;
    }
}

@media ( max-width: 961px ) { 
    .footer-certificate__title {
        font-size: 6.67vw;
    }
}

@media ( max-width: 961px ) { 
    .footer-certificate__list {
        width: 48vw;
        margin-top: 8vw;
        gap: 8vw;

        flex-direction: column;
    }
}

@media ( max-width: 961px ) { 
    .footer-certificate__item {
        width: 100%;
        height: 68vw;
    }
}

@media ( max-width: 961px ) { 
    
}

@media ( max-width: 961px ) { 
    
}

@media ( max-width: 961px ) { 
    .footer-certificate__line-left {
        margin-top: 17.33vw;
    }
}