

/*Н А Ч А Л О   К А Р Т О Ч К И */


.good-card__wr-card-list {
    display: flex;
    padding-left: 2.3vw;

    flex-wrap: wrap;
} 

/* если нет aside */
.goods-content__wr-content_no-aside {
    display: flex;

    justify-content: center;
}

.good-card__wr-card-list_no-aside {
    width: auto;
    padding-left: 0;
}

/* -------------- */


.good-card__wr-card-item {
    display: flex;
    width: 33.333%;

    justify-content: flex-end;
}

.good-card__wr-card-item:nth-child(n+4) {
    margin-top: 2.60vw;
}

.good-card__wr-card-item_no-aside {
    width: 25%;

    justify-content: center;
}

li.good-card__wr-card-item_no-aside:nth-child(4) {
    margin-top: 0;
}

.good-card__wrapper-link {
    display: flex;
    width: 15.57vw;
    padding: 0.99vw 1.20vw 1.46vw;

    border-radius: 0.42vw;

    flex-direction: column;
    justify-content: space-between;
}

.good-card__card-content {
    min-height: 18.23vw;
}

.good-card__wrapper-link:hover {
    box-shadow: 0 0 0.52vw rgba(0, 0, 0, 0.4), 0 0 0.52vw rgba(0, 0, 0, 0.4);
    text-decoration: none;
    color: #000;
}

.good-card__wr-card-img {
    width: 100%;
    height: 14.32vw;
}

.good-card__card-img {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;
}

.good-card__wr-card-line {
    width: 100%;
    height: 0.16vw;

    background: no-repeat url(../svg/line-card-goods-list.svg);
    background-size: auto 100%;
    background-position: center;
}

.good-card__wr-card-title {
    margin-top: 1.82vw;
}

.good-card__card-title {
    font-family: 'WMFRotis-Regular';
    font-size: 1.35vw;
    text-align: center;
}

.good-card__card-link-button {
    display: flex;
    width: 100%;
    height: 2.6vw;
    margin-top: 0.89vw;

    border-radius: 0.42vw;
    background: #333;

    justify-content: center;
    align-items: center;
}

.good-card__card-link-button::before {
    content: "Подробнее";

    font-family: 'WMFRotis-Bold';
    font-size: 1.25vw;
    color: #ffffff; 
}



/*К О Н Е Ц   К А Р Т О Ч К И */



@media( max-width: 961px ) {
    .good-card__wr-content {
        width: 87vw;
    }
}

@media( max-width: 961px ) {
    .good-card__wr-card-list {
        padding-left: 0;
        gap: 10vw;
    }
}

@media( max-width: 961px ) {
    .good-card__wr-card-item {
        width: 100%;

        justify-content: center;
    }
}

@media( max-width: 961px ) {
    .good-card__wrapper-link {
        width: 100%;
    }
}

@media( max-width: 961px ) {
    .good-card__wr-card-img {
        height: 73.33vw;
    }
}

@media( max-width: 961px ) {
    .good-card__wr-card-line {
        height: 0.80vw;
    }
}

@media( max-width: 961px ) {
    .good-card__wr-card-title {
        margin-top: 9.33vw;
    }

    .good-card__card-title {
        font-size: 9.33vw;
    }
}

@media( max-width: 961px ) {
    .good-card__card-link-button {
        height: 13.33vw;
        margin-top: 9vw;
    
        border-radius: 2.13vw;
    }
    
    .good-card__card-link-button::before {
        font-size: 5.33vw; 
    }

}
