.header {
    display: flex;
    padding-top: 1.15vw;

    flex-direction: column;
    align-items: center;
}

.header__wr-content {
    max-width: 76.1vw;
    width: 100%;
    display: flex;

    align-items: flex-end;
    justify-content: space-between;
}

.logo {
    height: 4.79vw;
    width: 3.18vw;
}

.logo-link {
    background: no-repeat url(../svg/logo.svg);
    background-position: center;
    background-size: 100%;
}

.nav {
    width: 84%;
}

.header__nav-list {
    display: flex;
    width: 100%;

    justify-content: space-between;
}

.header__nav-item {
    position: relative;
}

.header__nav-link {
    font-family: 'WMFRotis-Regular';
    font-size: 1.15vw;
}

.header__short-line {
    position: absolute;
    left: 0;
    top: 1.77vw;

    display: none;
    width: 100%;
    height: 3px;
}

.short-line-lifestyle,
 .short-line-serve {
    background: no-repeat url(../svg/short-line-life-serve.svg);
    background-position: center;
    background-size: 100% 3px;
}

.short-line-tableware,
 .short-line-swedish {
    background: no-repeat url(../svg/short-line-canteens-swedish.svg);
    background-position: center;
    background-size: 100% 3px;
}

.short-line-tabletop,
 .short-line-contacts {
    background: no-repeat url(../svg/short-line-table-contacts.svg);
    background-position: center;
    background-size: 100% 3px;
}

.short-line-active {
    display: block;
}

.hover-nav-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(to left, rgb(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0));

    pointer-events: none;
}

.header__icon-search {
    width: 1.82vw;
    height: 1.82vw;

    background: no-repeat url(../svg/search.svg);
    background-position: center;
    background-size: 100%;

    cursor: pointer;
}

.header__icon-search_active {
    background: no-repeat url(../svg/close=search.svg);
    background-position-y: bottom;
    background-size: 100% auto;
}

.header__long-underline {
    height: 3px;
    width: 95%;
    margin-top: 0.47vw;

    background: no-repeat url(../svg/long-line-nav.svg);
    background-position: center;
    background-size: 100% 3px;
}


.header__wr-place-search {
    display: flex;
    height: 1.82vw;
    width: 86%;

    align-items: center;
}

.place-search_unactive {
    display: none;
}

.header__form-search {
    width: 100%;
}

.header__place-search {
    width: 100%;
    margin-left: 0.42vw;

    font-family: 'WMFRotis-Regular';
    font-size: 1.04vw;

    border: 0;
    outline: 0;
}






/* _________SUBMENU__________ */

.mask-sub-menu {
    position: absolute;
    top: 6.57vw;
    left: 0;
    right: 0;


    background: rgb(0, 0, 0, 0.4);

    justify-content: center;
    z-index: 999;
}



.wr-sub-menu {
    display: flex;
    width: 100%;
    background: #ffffff;

    justify-content: center;
}

.submenu {
    display: flex;
    width: 62.58vw;
    min-height: 23.02vw;

    align-items: flex-start;
    justify-content: space-between;
}

.unactive-sub {
    display: none;
}

.submenu-columns {
    display: flex;
    gap: 6.20vw;
}

.columns-item {
    display: flex;
    max-width: 17.92vw;
    gap: 1.25vw;

    flex-direction: column;
}

.submenu-list {
    display: flex;
    gap: 0.94vw;

    flex-direction: column;
}



.submenu-link {
    font-family: 'WMFRotis-Regular';
    font-size: 1.04vw;
}

.submenu-link_title {
    font-family: 'WMFRotis-Bold';
}

.submenu-link_tab {
    margin-left: 0.68vw;
}

.close-submenu {
    width: 1.82vw;
    height: 1.82vw;
    margin-right: -6.75vw;

    background: no-repeat url(../svg/close-submenu.svg);
    background-position: center;
    background-size: 100%;

    cursor: pointer;
}