
/* количество изображений в слайдере */
.main__slider-list {
    --amount-img: 3;
}

.main {
    padding-bottom: 8.85vw;
}

/* Н А Ч А Л О  С Л А Й Д Е Р */

/* Свайпер */ 
.swiper-index {
    height: 80vw;
    width: 100vw;
}

.swiper-slide1 {
    background: no-repeat url(../img/mobile-slider-index-img-1.png);
    background-position: center;
    background-size: 100% auto;
}

.swiper-slide2 {
    background: no-repeat url(../img/mobile-slider-index-img-1.png);
    background-position: center;
    background-size: 100% auto;
}

.swiper-slide3 {
    background: no-repeat url(../img/mobile-slider-index-img-1.png);
    background-position: center;
    background-size: 100% auto;
}

.swiper-slide4 {
    background: no-repeat url(../img/mobile-slider-index-img-1.png);
    background-position: center;
    background-size: 100% auto;
}

.wrapper-swiper-slide-content {
    display: inline-block;
    margin-top: 27.20vw;
    margin-left: 5.33vw;/*20px*/
}

.swiper-slide-title {
    display: flex;

    font-family: 'WMFRotis-Bold';
    font-size: 6.40vw;

    flex-direction: column;
}

.swiper-slide-text {
    display: flex;

    font-family: 'WMFRotis-LightItalic';
    font-size: 3.47vw;

    flex-direction: column;
}

.wrapper-slide-button {
    display: flex;
    width: 46.67vw;
    height: 10.67vw;
    margin-top: 8.27vw;

    font-family: 'WMFRotis-Bold';
    font-size: 5.33vw;

    border: 0;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;

    justify-content: center;
    align-items: center;
}

.swiper div.swiper-pagination {
    bottom: 3.73vw; /*3.73vw .wrapper-swiper-slide-content*/
    left: 17.60vw;

    display: flex;
    gap: 1.60vw;
}

.swiper span.swiper-pagination-bullet {
    border: 1px solid #000000;

    background-color: #ffffff00;
    opacity: 1;
}

.swiper span.swiper-pagination-bullet-active {
    background-color: #000000;
}

/* Свайпер конец*/

.main_wrapper-slider {
    position: relative;
    overflow: hidden;
}

.main__wr-slider-scroll-line {
    display: flex;

    transition: all 0.3s linear;
}

.main__slider-list {
    display: flex;
    width: calc(100vW * var(--amount-img));
}

.main__slider-item {
    position: relative;

    width: 100vw;
    height: 37.50vw;
}

.main__slider-content-header {
    display: flex;

    font-family: 'WMFRotis-Bold';
    font-size: 3.13vw;

    flex-direction: column;
}

.main__slider-content-header > span {
    line-height: 1;
}

.main__slider-content-text {
    display: flex;
    margin-top: 1.82vw;

    font-family: 'WMFRotis-LightItalic';
    font-size: 1.56vw;

    flex-direction: column;
}

.main__slider-content-text > span {
    line-height: 1.1;
}

.main__slider-content-button {
    display: flex;
    height: 2.86vw;
    width: 19.84vw;
    margin-top: 3.33vw;

    font-family: 'WMFRotis-Bold';
    font-size: 1.25vw;

    border: 0;
    border-radius: 8px;
    background: #333;
    color: #ffffff;
 
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.slider-item-first {
    background: no-repeat url(../img/slider-index-img-1.png);
    background-position: center;
    background-size: 100%;
}

.slider-item-second {
    background: no-repeat url(../img/slider-index-img-1.png);
    background-position: center;
    background-size: 100%;
}

.slider-item-third {
    background: no-repeat url(../img/slider-index-img-1.png);
    background-position: center;
    background-size: 100%;
}

.main__wr-slider-content {
    position: absolute;
    left: 18.02vw;
    top: 16.07vw;
}

.main__slider-arrows-item {
    height: 4.22vw;
    width: 2.45vw;
}

.main__slider-arrows-list {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    width: 75.6vw;

    transform: translate(-50%, -50%);
    justify-content: space-between;

    cursor: pointer;
}

.slider-arrows-item-left {
    background: no-repeat url(../svg/arrow-left-slider-index.svg);
    background-position: center;
    background-size: 100%;
}

.slider-arrows-item-right {
    background: no-repeat url(../svg/arrow-right-slider-index.svg);
    background-position: center;
    background-size: 100%;
}
/* К О Н Е Ц  С Л А Й Д Е Р */

 
/* Н А Ч А Л О  С Т А Т Ь Я */

.main__wrapper-article {
    display: flex;
    padding: 4.69vw 0;

    background: no-repeat url(../svg/logo-article-index.svg);
    background-size: 11.82vw 14.01vw;
    background-position: left 9.5% top 6.5vw;

    align-items: center;
    flex-direction: column;
}

.dotted-line-corner {
    display: none;

    overflow: hidden;
}

.main__line-top {
    width: 72.5%;
    height: 2px;
 
    background-color: #777777;

    align-self: flex-end;
}

.main__wr-article-text-img {
    display: flex;
    max-width: 75.94vw;
    width: 100%;
    margin-top: 2.60vw;
    /* gap: 3.65vw; */

    flex-wrap: wrap;
    justify-content: space-between;
}

.main__wr-article-full-text {
    width: 44.08vw;
}

.main__erticle-title {
    width: 28.65vw;

    font-family: 'WMFRotis-Bold';
    font-size: 3.13vw;
}

.main__wr-article-text {
    display: flex;
    margin-top: 3.07vw; 
    gap: 1.93vw;

    flex-direction: column;
}

.main__article-text-item {
    
    font-family: 'WMFRotis-Regular';
    font-size: 1.46vw;

    color: #333;
}

.main__wr-article-img {
    display: flex;
    height: 38.65vw;
    width: 26.61vw;
    margin-top: 0.68vw;

    align-items: flex-end;
}

.main__article-img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.main__article-img > img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.main__line-bottom {
    width: 66.5%;
    height: 2px;
    margin-top: 3.33vw;

    background-color: #777777;

    align-self: flex-start;
}

/* К О Н Е Ц  С Т А Т Ь Я */


.line-dotted {
    display: none;
}

/* Н А Ч А Л О  К А Р Т О Ч К И  D E S C T O P*/
.sw-cards__cards-list {
    display: flex;

    flex-wrap: wrap;
}

.sw-cards__cards-item {
    position: relative;

    display: flex;
    height: 40.21vw;
    width: 33.333%;
    gap: 1.09vw;
}

.cards-item-finishing {
    background: no-repeat url(../img/finishing-index.png);
    background-size: auto 100%;
    background-position: center;
}

.cards-item-serve {
    background: no-repeat url(../img/serve-apartments.png);
    background-size: auto 100%;
    background-position: center;
}

.cards-item-quadro {
    background: no-repeat url(../img/WMFQuattro.png);
    background-size: auto 100%;
    background-position: center;
}

.sw-cards__cards-description {
    height: 40.21vw;
    width: 5.73vw;

    background: rgba(255, 255, 255, 0.80);
}

.sw-cards__cards-description-text {
    display: flex;
    width: 40.21vw;
    padding-right: 3.39vw;

    font-family: 'WMFRotis-Bold';
    font-size: 2.60vw;

    color: #333;

    transform: rotate(-0.25turn) translate(-42.35%, -16.5vw);

    justify-content: flex-end;
}

div.sw-cards__cards-arrow {
    position: static;

    display: block;
    height: 6.09vw;
    width: 6.09vw;
    margin-bottom: 1.09vw;
    margin-left: 0;

    border-radius: 50%;

    align-self: flex-end;
}

div.sw-cards__cards-arrow-link {
    display: inline-block;
    height: 100%;
    width: 100%;

    background:  no-repeat url(../svg/arrow-cards-index.svg);
    background-size: 100%;
    background-position: center;
    border-radius: 50%;
}

.sw-cards__cards-link-card {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* К О Н Е Ц  К А Р Т О Ч К И   D E S C T O P*/




/* М О Б И Л Ь Н А Я  В Е Р С И Я */

@media( max-width: 435px ) {
    .main__wr-slider-scroll-line {
        display: none;
    }

    .main__slider-arrows-list {
        display: none;
    }
}


@media( max-width: 435px ) {
    .main__wrapper-article {
        position: relative;

        padding-top: 3.47vw;
        padding-bottom: 0;

        background-position: left 0% top 3vw;
        background-size: 46.82vw auto;
    }
}

@media( max-width: 435px ) {
    .dotted-line-corner {
        position: absolute;
        top: 8.53vw;
        right: 0;

        display: block;
        height: 1px;
        width: 65.07vw;

        background-color: #777777;
        /* background-position: left top;
        background-size: 100%; */
    }
}


@media( max-width: 435px ) {
    .main__line-top {
        display: none;
    }

    .main__line-bottom {
        display: none;
    }
}

@media( max-width: 435px ) {
    .main__wr-article-text-img {
        margin-top: 5.9vw;
        max-width: 100vw;

    }
}

@media( max-width: 435px ) {
    .main__wr-article-full-text {
        width: 100%;
        padding: 0 5.60vw;
    }

    .main__wr-article-img {
        height: 80vw;
        width: 100%;
        margin-top: 6.40vw;
        padding: 0 5.6vw;
    }
}

@media( max-width: 435px ) {
    .main__erticle-title {
        width: 79.65vw;

        font-size: 8.53vw;
    }
}

@media( max-width: 435px ) {
    .main__wr-article-text {
        margin-top: 2.07vw;
    }
} 

@media( max-width: 435px ) {
    .main__article-text-item {
        font-size: 3.73vw;
    }
}



@media( max-width: 435px ) {
    .line-dotted {
        display: block;
        height: 1px;
        width: 66.07vw;
        margin-top: 6.40vw;
        margin-bottom: 6.40vw;

        background-color: #777777;
        background-position: center top;
        background-size: 100%;
    }
}


@media( max-width: 435px ) {
    .main__wrapper-cards {
        padding: 0 5.6vw;
    }
}

@media( max-width: 435px ) {
    .sw-cards__cards-list {
        gap: 3px;
    }
}

@media( max-width: 435px ) {
    .sw-cards__cards-item {
        height: 112vw;
        width: 100%;
    }
}



@media( max-width: 435px ) {
    .sw-cards__cards-description {
        height: 112vw;
        width: 16.80vw;
    }
}

@media( max-width: 435px ) {
    .sw-cards__cards-description-text {
        width: 97.21vw;
        padding: 0;

        font-size: 7.47vw;

        transform: rotate(-0.25turn) translate(-56.35%, -39.5vw);

        justify-content: flex-start;
    }
}

@media( max-width: 435px ) {
    div.sw-cards__cards-arrow {
        display: flex;
        height: 18.67vw;
        width: 62.53vw;
        margin-left: 3.27vw;
        margin-bottom: 6.40vw;

        background: no-repeat url(../svg/fon-swipe-index-card.svg);
        background-size: 100%;
        background-position: center;
        border-radius: 0;

        align-items: center;
    }
}

@media( max-width: 435px ) {
    div.sw-cards__cards-swipe-circle {
        height: 14.67vw;
        width: 14.67vw;
        margin-left: 1.07vw;

        background: no-repeat url(../svg/arrow-cards-index.svg);
        background-position: center;
        background-size: 100%;
    } 
}

@media( max-width: 435px ) {
    div.sw-cards__cards-arrow-link {
        height: 0;
        width: 0;
    }

    .sw-cards__cards-link-card {
        display: none;
    }
}







