.wr-number-pages {
    display: flex;
    width: 76vw;
    margin-top: 2.71vw;

    justify-content: flex-end;
}

.number-pages {
    display: flex;
    gap: 0.78vw;

    align-items: center;
}

.number-pages__arrow-left {
    height: 0.83vw;
    width: 0.42vw;

    background: no-repeat url(../svg/number-pages-arrow-left_.svg);
    background-size: auto 100%;
    background-position: center;

    cursor: pointer;
}

.number-pages-list {
    display: flex;
    gap: 1.04vw;
}

.number-page-item {
    font-family: 'WMFRotis-Bold';
    font-size: 1.25vw;

    color: #777;

    cursor: pointer;
}

.number-pages__arrow-right {
    height: 0.83vw;
    width: 0.42vw;

    background: no-repeat url(../svg/number-pages-arrow-right_.svg);
    background-size: auto 100%;
    background-position: center;

    cursor: pointer;
} 



@media( max-width: 435px ) {
    .wr-number-pages {
        width: 87vw;
        margin-top: 14.13vw;
    }
}

@media( max-width: 435px ) {
    .number-pages {
        gap: 1.1vw;
    }
}

@media( max-width: 435px ) {
    .number-pages__arrow-left {
        height: 8vw;
        width: 8vw;

        background-size: auto 75%;
    }
}

@media( max-width: 435px ) {
    .number-pages-list {
        gap: 1.5vw;
    }
}

@media( max-width: 435px ) {
    .number-page-item {
        font-size: 4.27vw;
    }
}

@media( max-width: 435px ) {
    .number-pages__arrow-right {
        height: 8vw;
        width: 8vw;

        background-size: auto 75%;
    }
}





