.pdf__wr-catalog {
    display: flex;
    width: 100%;
    margin-top: 3.13vw;

    flex-direction: column;
    align-items: center;
}

.pdf__catalog-content {
    display: flex;
    width: 76.13vw;

    flex-direction: column;
    align-items: center;
}

.pdf__catalog-title {
    font-family: 'WMFRotis-Bold';
    font-size: 2.34vw;
}

.pdf__catalog-card {
    width: 17.60vw;
    height: 24.90vw;
    margin-top: 2.08vw;

    background: no-repeat url(../img/catalog-SYNERGY_STYLE_LIGHTS_ES-11.webp);
    background-position: center;
    background-size: auto 100%;
}

.pdf__catalog-link {
    display: flex;
    height: 2.86vw;
    width: 17.60vw;
    margin-top: 1.04vw;

    font-family: 'WMFRotis-Bold';
    font-size: 1.25vw;
    
    background-color: #333333;
    border-radius: 0.42vw;
    color: #ffffff;

    justify-content: center;
    align-items: center;
}

.pdf__wr-catalog_two-cards {
    gap: 3.13vw;

    flex-direction: row;
    justify-content: center;
}

.pdf__catalog-content_two-cards {
    width: min-content;
}

.pdf_catalog-link_mobile {
    display: none;
}

@media ( max-width: 961px ) {
    .pdf__wr-catalog_two-cards {
        margin-top: 11.20vw;
        gap: 8vw;

        flex-direction: column;
    }
}

@media ( max-width: 961px ) {
    .pdf__catalog-card {
        width: 53.87vw;
        height: 76.27vw;
    }
}

@media ( max-width: 961px ) {
    .pdf__catalog-link {
        width: 53.87vw;
        height: 10.67vw;
        margin-top: 4vw;

        font-size: 5.33vw;

        border-radius: 1.33vw;
    }
}

@media ( max-width: 961px ) {
    .pdf_catalog-link_desctop {
        display: none;
    }
    .pdf_catalog-link_mobile {
        display: inline-block;
    }
}