
.porcelain__banner {
    background: no-repeat url(../img/banner-porcelain-synergy.png);
    background-position: center;
    background-size: 100%;
}


@media( max-width: 961px ) {
    .porcelain__banner {
        padding-top: 13.66vw;

        background: no-repeat url(../img/banner-porcelain-synergy-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }
}







