

.sd-all-collections__banner {
    background: no-repeat url(../img/banner-all-tablewares.webp);
    background-position: center;
    background-size: 100%;
}

 

@media( max-width: 961px ) {
    .sd-all-collections__banner {
        padding-top: 13.66vw;

        background: no-repeat url(../img/banner-all-tablewares-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }
}

