
.sd-rodeo__banner {
    background: no-repeat url(../img/banner-rodeo.webp);
    background-position: center;
    background-size: 100%;
}



@media( max-width: 961px ) {
    .sd-rodeo__banner {
        padding-top: 13.66vw;

        background: no-repeat url(../img/banner-rodeo-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }
}

