.wr-bread-crumbs {
    width: 76vw;
    margin: 0 auto;
}

.ssl-collection {
    display: flex;
    padding-bottom: 14.64vw;

    align-items: center;    
    flex-direction: column;
}

.ssl-collection__wr-banner { 
    width: 100%;
    height: 37.50vw;
    padding-top: 7.66vw;
    margin-top: 3.02vw;
}

.ssl-breakfast-banner {
    background: no-repeat url(../img/ssl-collections-breakfast.png);
    background-position: center;
    background-size: 100%;
}

.ssl-supper-banner {
    background: no-repeat url(../img/ssl-collections-banner-supper.png);
    background-position: center;
    background-size: 100%;
}

.ssl-cuisine-banner {
    background: no-repeat url(../img/ssl-collections-banner-cuisine.png);
    background-position: center;
    background-size: 100%;
}

.ssl-furshet-banner {
    background: no-repeat url(../img/ssl-collections-banner-furshet.png);
    background-position: center;
    background-size: 100%;
}

.ssl-collection__wr-banner-text {
    margin-left: 11.15vw;
}

.ssl-collection__wr-banner-title-top-add {
    font-family: 'WMFRotis-Bold';
    font-size: 2.50vw;

    color: #333;
}

.ssl-collection__wr-banner-title-top {
    display: flex;

    font-family: 'WMFRotis-Bold';
    font-size: 3.33vw;

    flex-direction: column;
}

.ssl-collection__wr-banner-title-bottom {
    display: flex;
    margin-top: 2.86vw;

    font-family: 'WMFRotis-Bold';
    font-size: 2.5vw;

    color: #333333;

    flex-direction: column;
}

.wr-banner-title-bottom_add {
    font-size: 2.50vw;
}

.ssl-collection__wr-banner-title-bottom_mobile {
    display: none;
}




.ssl-collection__main-wrapper {
    display: flex;
    width: 100%;
    margin-top: 4.64vw;

    flex-direction: column;
    align-items: center;
}

.main-wrapper {
    margin-top: 0;
}

.ssl-collection__wr-line-top {
    height: 2px;
    width: 68vw;
    height: 2px;

    background-color: #777777;

    align-self: flex-end;
}

.ssl-collection__wr-content {
    width: 76vw;
}

.ssl-collection__wr-description-block-top {
    display: flex;
    margin-top: 2.71vw;

    justify-content: space-between;
    flex-wrap: wrap;
}

.wr-description-block-top {
    margin-top: 0;
}

.ssl-collection__wr-description {
    display: flex;
    width: 47vw;

    flex-direction: column;
}

.ssl-collection__wr-description-title {
    display: flex;

    font-family: 'WMFRotis-Bold';
    font-size: 3.13vw;

    flex-direction: column;
}

.ssl-collection__wr-description-title_mobile {
    display: none;
}

.ssl-collection__wr-description-text {
    margin-top: 1.93vw;

    font-family: 'WMFRotis-Regular';
    font-size: 1.46vw;

    color: #333333;
}

.ssl-collection__wr-description-images-list {
    display: flex;
    width: 100%;
    /* margin-top: 3.85vw; */

    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;

    flex-grow: 1;
}

.ssl-collection__wr-description-image-item {
    position: relative;
    width: 32.9%;
    height: 15.5vw;

    overflow: hidden;
}

.wr-description-image-item_supper {
    height: 14.7vw;
}

.ssl-collection__description-image {
    height: 100%;
    width: 100%;

    object-fit: contain;
    object-position: center;
}

.ssl-collection__wr-description-image-text {
    position: absolute;
    bottom: 1.3vw;
    left: 0;
    right: 0;

    display: flex;
    height: 3.96vw;

    flex-direction: column;
    justify-content: flex-start;
}

.wr-description-image-text_supper {
    bottom: 2vw;
}

.ssl-collection__wr-description-image-text span {
    font-family: 'WMFRotis-Regular';
    font-size: 0.83vw;
    text-align: center;
}

.ssl-collection__img-vertical {
    width: 26.61vw;
    height: 42.19vw;
}


.breakfast__img-porcelain1 {
    background: no-repeat url(../img/collection-breakfast-img-1.png);
    background-position: center;
    background-size: 100% auto;
}

.supper__img-porcelain1 {
    background: no-repeat url(../img/collection-supper-img-1.png);
    background-position: center;
    background-size: 100% auto;
}

.cuisine__img-porcelain1 {
    background: no-repeat url(../img/collection-cuisine-img-1.png);
    background-position: center;
    background-size: 100% auto;
}

.furshet__img-porcelain1 {
    background: no-repeat url(../img/collection-furshet-img-1.png);
    background-position: center;
    background-size: 100% auto;
}

.ssl-collection__img-horizontal {
    width: 48.7%;
    height: 22.29vw;
}

.breakfast__img-porcelain2 {
    background: no-repeat url(../img/collection-breakfast-img-2.png);
    background-position: center;
    background-size: 100% auto;
}

.supper__img-porcelain2 {
    background: no-repeat url(../img/collection-supper-img-2.png);
    background-position: center;
    background-size: 100% auto;
}

.cuisine__img-porcelain2 {
    background: no-repeat url(../img/collection-cuisine-img-2.png);
    background-position: center;
    background-size: 100% auto;
}

.furshet__img-porcelain2 {
    background: no-repeat url(../img/collection-furshet-img-2.png);
    background-position: center;
    background-size: 100% auto;
}

.breakfast__img-porcelain3 {
    background: no-repeat url(../img/collection-breakfast-img-3.png);
    background-position: center;
    background-size: 100% auto;
}

.supper__img-porcelain3 {
    background: no-repeat url(../img/collection-supper-img-3.png);
    background-position: center;
    background-size: 100% auto;
}

.cuisine__img-porcelain3 {
    background: no-repeat url(../img/collection-cuisine-img-3.png);
    background-position: center;
    background-size: 100% auto;
}

.furshet__img-porcelain3 {
    background: no-repeat url(../img/collection-furshet-img-3.png);
    background-position: center;
    background-size: 100% auto;
}




.ssl-collection__wr-description-block-bottom {
    display: flex;
    width: 100%;
    margin-top: 3.65vw;

    justify-content: space-between;
    flex-wrap: wrap;
}

.ssl-collection__wr-description-combi-block-bottom {
    margin-top: 3.13vw;
}

.breakfast__img-combi1 {
    height: 29.53vw;

    background: no-repeat url(../img/collection-combi-img-1.png);
    background-position: center;
    background-size: 100% auto;
}

.supper__img-combi1 {
    height: 29.53vw;

    background: no-repeat url(../img/collection-combi-supper-img-1.png);
    background-position: center;
    background-size: 100% auto;
}

.cuisine__img-combi1 {
    height: 29.53vw;

    background: no-repeat url(../img/collection-combi-cuisine-img-1.png);
    background-position: center;
    background-size: 100% auto;
}

.furshet__img-combi1 {
    height: 29.53vw;

    background: no-repeat url(../img/collection-combi-furshet-img-1.png);
    background-position: center;
    background-size: 100% auto;
}

.breakfast__img-combi2 {
    background: no-repeat url(../img/collection-combi-img-2.png);
    background-position: center;
    background-size: 100% auto;
}

.supper__img-combi2 {
    background: no-repeat url(../img/collection-combi-supper-img-2.png);
    background-position: center;
    background-size: 100% auto;
}

.cuisine__img-combi2 {
    background: no-repeat url(../img/collection-combi-cuisine-img-2.png);
    background-position: center;
    background-size: 100% auto;
}

.furshet__img-combi2 {
    background: no-repeat url(../img/collection-combi-furshet-img-2.png);
    background-position: center;
    background-size: 100% auto;
}

.breakfast__img-combi3 { 
    background: no-repeat url(../img/collection-combi-img-3.png);
    background-position: center;
    background-size: 100% auto;
}

.supper__img-combi3 {
    background: no-repeat url(../img/collection-combi-supper-img-3.png);
    background-position: center;
    background-size: 100% auto;
}

.cuisine__img-combi3 {
    background: no-repeat url(../img/collection-combi-cuisine-img-3.png);
    background-position: center;
    background-size: 100% auto;
}

.furshet__img-combi3 {
    background: no-repeat url(../img/collection-combi-furshet-img-3.png);
    background-position: center;
    background-size: 100% auto;
}



.ssl-collection__wr-link-description {
    margin-top: 3.65vw;
}

.ssl-collection__link-description {
    display: flex;
    width: 100%;
    height: 2.92vw;

    font-family: 'WMFRotis-Bold';
    font-size: 1.25vw;

    border-radius: 0.42vw;
    background: #333;
    color: #ffffff;

    align-items: center;
    justify-content: center;
}

.ssl-collection__wr-collection-line-bottom {
    height: 2px;
    width: 58vw;
    margin-top: 2.71vw;
    margin-bottom: 2.71vw;

    background: #777777;

    align-self: flex-start;
}

.ssl-collection__wr-combi-line-bottom {
    height: 2px;
    width: 68vw;
    margin-top: 2.71vw;

    background: #777777;

    align-self: flex-end;
}





/* М О Б И Л К А */

@media( max-width: 435px ) {
    .ssl-collection {
        padding-bottom: 24vw;
    }
}
    

@media( max-width: 435px ) {
    .ssl-collection__wr-banner {
        margin-top: 0;
        height: 80vw;
        padding-top: 13.66vw;
    }

    .ssl-breakfast-banner {
        background: no-repeat url(../img/ssl-collections-breakfast-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .ssl-supper-banner {
        background: no-repeat url(../img/ssl-collections-supper-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .ssl-cuisine-banner {
        background: no-repeat url(../img/ssl-collections-banner-cuisine-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .ssl-furshet-banner {
        background: no-repeat url(../img/ssl-collections-banner-furshet-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__wr-banner-text {
        margin-left: 5.2vw;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__wr-banner-title-top-add {
        margin-bottom: 5.33vw;

        font-size: 4.27vw;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__wr-banner-title-top {
        font-family: 'WMFRotis-Bold';
        font-size: 6.40vw;
    }

    .title-last-item {
        width: 35vw;
    }

    .wr-banner-title-bottom_add {
        display: none;
    }

    .wr-banner-title-bottom_cuisine {
        font-size: 4.27vw;
    }

    .ssl-collection__wr-banner-title-bottom {
        font-size: 4.27vw;
    }

    .ssl-collection__wr-banner-title-bottom_mobile {
        display: flex;
        margin-top: 4.5vw;

        font-family: 'WMFRotis-Bold';
        font-size: 4.27vw;

        color: #333333;

        flex-direction: column;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__wr-line-top {
        width: 63vw;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__wr-content {
        width: 87vw;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__wr-description {
        width: 100%;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__wr-description-title {
        font-size: 6.67vw;
    }

    .wr-description-title-cuisine {
        font-size: 6vw;
    }

    .wr-description-title-desctop {
        display: none;
    }

    .ssl-collection__wr-description-title_mobile {
        display: flex;

        font-family: 'WMFRotis-Bold';
        font-size: 6.37vw;

        flex-direction: column;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__wr-description-text {
        margin-top: 6.93vw;

        font-size: 3.73vw;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__wr-description-images-list {
        margin-top: 10vw;
        gap: 5px;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__wr-description-image-item {
        width: 100%;
        height: 88vw;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__wr-description-image-text {
        top: 59.47vw;
        bottom: auto;
    }

    .wr-description-image-text_supper {
        top: 53.47vw;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__wr-description-image-text span {
        font-size: 4.27vw;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__img-vertical {
        width: 100%;
        height: 112vw;
        margin-top: 8vw;
    }

    .breakfast__img-porcelain1 {
        background: no-repeat url(../img/collection-breakfast-img-1-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .supper__img-porcelain1 {
        background: no-repeat url(../img/collection-supper-img-1-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .cuisine__img-porcelain1 {
        background: no-repeat url(../img/collection-cuisine-img-1-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .furshet__img-porcelain1 {
        background: no-repeat url(../img/collection-furshet-img-1-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__wr-description-block-bottom {
        margin-top: 6px;
        gap: 6px;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__img-horizontal {
        width: 100%;
        height: 78.67vw;
    }

    .breakfast__img-porcelain2 {
        background: no-repeat url(../img/collection-breakfast-img-2-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .supper__img-porcelain2 {
        background: no-repeat url(../img/collection-supper-img-2-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .cuisine__img-porcelain2 {
        background: no-repeat url(../img/collection-cuisine-img-2-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .furshet__img-porcelain2 {
        background: no-repeat url(../img/collection-furshet-img-2-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }



    .breakfast__img-porcelain3 {
        background: no-repeat url(../img/collection-breakfast-img-3-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .supper__img-porcelain3 {
        background: no-repeat url(../img/collection-supper-img-3-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .cuisine__img-porcelain3 {
        background: no-repeat url(../img/collection-cuisine-img-3-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .furshet__img-porcelain3 {
        background: no-repeat url(../img/collection-furshet-img-3-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__link-description {
        height: 13.33vw;
        margin-top: 8vw;

        font-size: 5.33vw;

        border-radius: 1.33vw;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__wr-collection-line-bottom {
        width: 69vw;
        margin-top: 8vw;
        margin-bottom: 8vw;
    }
}

@media( max-width: 435px ) {
    .breakfast__img-combi1 {
        background: no-repeat url(../img/collection-breakfast-img-1-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .supper__img-combi1 {
        background: no-repeat url(../img/collection-combi-supper-img-1-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .cuisine__img-combi1 {
        background: no-repeat url(../img/collection-combi-cuisine-img-1-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .furshet__img-combi1 {
        background: no-repeat url(../img/collection-combi-furshet-img-1-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }



    .breakfast__img-combi2 {
        background: no-repeat url(../img/collection-combi-supper-img-2-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .supper__img-combi2 {
        background: no-repeat url(../img/collection-combi-supper-img-2-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .cuisine__img-combi2 {
        background: no-repeat url(../img/collection-combi-cuisine-img-2-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .furshet__img-combi2 {
        background: no-repeat url(../img/collection-combi-furshet-img-2-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }



    .breakfast__img-combi3 {
        background: no-repeat url(../img/collection-combi-supper-img-3-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .supper__img-combi3 {
        background: no-repeat url(../img/collection-combi-supper-img-3-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .cuisine__img-combi3 {
        background: no-repeat url(../img/collection-combi-cuisine-img-3-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }

    .furshet__img-combi3 {
        background: no-repeat url(../img/collection-combi-furshet-img-3-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }
}

@media( max-width: 435px ) {
    .ssl-collection__wr-combi-line-bottom {
        margin-top: 8vw;
        width: 96vw;

        align-self: center;
    }
}
