.serving-food-all-position__banner {
    background: no-repeat url(../img/banner-swedish-line-serving-food.webp);
    background-position: center;
    background-size: 100%;
}



@media( max-width: 961px ) {
    .serving-food-all-position__banner { 
        padding-top: 13.66vw;

        background: no-repeat url(../img/banner-swedish-line-serving-food-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }
}