.about-marmites__main {
    display: flex;
    padding-bottom: 8.85vw;

    flex-direction: column;
    align-items: center; 
}

.about-marmites__line-right {
    margin-top: 4.22vw;
}

.about-marmites__banner {
    padding-top: 13vw;
    padding-left: 11.7vw;

    background: no-repeat url(../img/banner-about-marmites.webp);
    background-position: center;
    background-size: 100%;
}

.about-marmites__banner-text p {
    display: flex;

    font-family: 'WMFRotis-Bold';
    font-size: 1.35vw;

    color: #333333;

    flex-direction: column;
}

.about-marmites__banner-text-mobile {
    display: none;
}

.about-marmites__banner-text-mobile p {
    display: flex;

    font-family: 'WMFRotis-Bold';
    font-size: 3.5vw;

    color: #333333;

    flex-direction: column;
}

.about-marmites__wrapper-main-content {
    display: flex;
    gap: 3.75vw;
    width: 100%;
    padding-top: 3.75vw;

    flex-direction: column;
    align-items: center;
} 

.presentation__title_marmites {
    font-size: 2.08vw;
}

@media ( min-width: 436px) {
    .presentation__wr-info_marmites {
        width: 40.46vw;
    }

    .presentation__text_mobile p {
        font-size: 1.15vw;
    }
}

.presentation__img-marmites-1 {
    background: no-repeat url(../img/presentation-about-marmites-img-1.webp);
    background-position: center;
    background-size: auto 100%;
} 

.presentation__img-marmites-2 {
    background: no-repeat url(../img/presentation-about-marmites-img-2.webp);
    background-position: center;
    background-size: auto 100%;
}





/* Н А Ч А Л О  П Р Е И М У Щ Е С Т В А */


.advantages__img_recycling {
    background: no-repeat url(../img/advantages__img_recycling.webp);
    background-position: center;
    background-size: auto 100%;
}

.advantages__img_door-closer {
    background: no-repeat url(../img/advantages__img_door-closer.webp);
    background-position: center;
    background-size: auto 100%;
}

.advantages__img_cap {
    background: no-repeat url(../img/advantages__img_cap.webp);
    background-position: center;
    background-size: auto 100%;
}



/* Н А Ч А Л О  П Р Е И М У Щ Е С Т В А  Ч Е Р Н Ы Е  К А Р Т О Ч К И */

.advantages-bc__wrapper {
    width: 76vw;
    margin-top: -1vw;
}

.advantages-bc__title {
    display: flex;

    font-family: 'WMFRotis-Bold';
    font-size: 2.08vw;

    flex-direction: column;
}

.advantages-bc__text {
    margin-top: 2.40vw;
}

.advantages-bc__text p {
    font-family: 'WMFRotis-Regular';
    font-size: 1.15vw;
}

.advantages-bc__cards-wrapper {
    display: flex;
    margin-top: 2.35vw;
    gap: 0.55vw;

    flex-direction: column;
}

.advantages-bc__wr-card-list {
    display: flex;
 
    justify-content: space-between;
}

.advantages-bc__wr-card-item {
    display: flex;
    width: 37.76vw;
    min-height: 17.84vw;
    padding-left: 1.04vw;
    padding-right: 1.04vw;
    padding-bottom: 1.04vw;

    background-color: #403B40;

    flex-direction: column;
}

.advantages-bc__wr-card-header {
    display: flex;
    margin-top: 1.04vw;

    justify-content: space-between;
}

.advantages-bc__wr-card-header_mobile {
    display: none;
}

.advantages-bc__wr-card-title {
    display: flex;

    font-family: 'WMFRotis-Bold';
    font-size: 2.08vw;

    color: #ffffff;

    flex-direction: column;
}

.advantages-bc__wr-card-icon {
    height: 2.65vw;
    width: 2.65vw;
}

.advantages-bc__wr-icon_handles {
    background: no-repeat url(../svg/black-card-icon-handles.svg);
    background-size: 100%;
    background-position: center;
}

.advantages-bc__wr-icon_cromargan {
    background: no-repeat url(../svg/card-icon-letter.svg);
    background-size: 100%;
    background-position: center;
}

.advantages-bc__wr-icon_wiring {
    background: no-repeat url(../svg/black-card-icon-wiring.svg);
    background-size: 100%;
    background-position: center;
}

.advantages-bc__wr-icon_washing {
    background: no-repeat url(../svg/black-card-icon-washing.svg);
    background-size: 100%;
    background-position: center;
}

.advantages-bc__wr-card-text {
    margin-top: 0.94vw;
}

.advantages-bc__wr-card-text p {
    font-family: 'WMFRotis-Regular';
    font-size: 1.15vw;

    color: #ffffff;
}

/* К О Н Е Ц  П Р Е И М У Щ Е С Т В А  Ч Е Р Н Ы Е  К А Р Т О Ч К И */





@media ( max-width: 961px ) { 
    .about-marmites__main {
        padding-bottom: 25.60vw;
    }
}

@media( max-width: 961px ) {
    .about-marmites__banner {
        padding-left: 5vw;
        padding-top: 16.66vw;

        background: no-repeat url(../img/banner-about-marmites-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }
}

@media( max-width: 961px ) {
    .about-marmites__banner-text {
        display: none;
    }

    .about-marmites__banner-text-mobile {
        display: block;
    }
}

@media ( max-width: 961px ) { 
    .about-marmites__line-right {
        margin-top: 6.67vw; 
    }
}

@media ( max-width: 961px ) { 
    .about-marmites__wrapper-main-content {
        margin-top: 5.53vw;
        padding-top: 0;
        gap: 6.67vw;
    }
}

@media ( max-width: 961px ) { 
    .presentation__title_marmites {
        font-size: 6.5vw;
    }
}

@media ( max-width: 961px ) { 
    .presentation__img-marmites-1 {
        background: no-repeat url(../img/presentation-about-marmites-img-1-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }

    .presentation__img-marmites-2 {
        height: 68.53vw;

        border: 1px solid #777777;

        background: no-repeat url(../img/presentation-about-marmites-img-2-mobile.webp);
        background-position: center;
        background-size: auto 101%;
    }
}





@media (max-width: 435px) {
    .advantages__img_recycling {
        background: no-repeat url(../img/advantages__img_recycling-mobile.webp);
        background-position: center;
        background-size: auto 101%;
    }
    
    .advantages__img_door-closer {
        background: no-repeat url(../img/advantages__img_door-closer-mobile.webp);
        background-position: center;
        background-size: auto 101%;
    }
    
    .advantages__img_cap {
        background: no-repeat url(../img/advantages__img_cap-mobile.webp);
        background-position: center;
        background-size: auto 101%;
    }

}





@media ( max-width: 961px ) { 
    .advantages-bc__wrapper {
        width: 87vw;
    }
}

@media ( max-width: 961px ) { 
    .advantages-bc__title {
        font-size: 6.67vw;
    }
}

@media ( max-width: 961px ) { 
    .advantages-bc__text p {
        font-size: 3.73vw;
    }
}

@media ( max-width: 961px ) { 
    .advantages-bc__cards-wrapper {
        margin-top: 6.67vw;
        gap: 2.67vw;
    }
}

@media ( max-width: 961px ) { 
    .advantages-bc__wr-card-list {
        gap: 2.67vw;

        flex-direction: column;
    }
}

@media ( max-width: 961px ) { 
    .advantages-bc__wr-card-item {
        width: 100%;
        min-height: 71.20vw;
        padding-top: 5.33vw;
        padding-left: 5.3vw;
        padding-right: 5.3vw;
        padding-bottom: 5.33vw;

        justify-content: normal;
    }
}

@media ( max-width: 961px ) { 
    .advantages-bc__wr-card-header_desctop {
        display: none;
    }

    .advantages-bc__wr-card-header_mobile {
        display: block;
    }
} 

@media ( max-width: 961px ) { 
    .advantages-bc__wr-card-title {
        font-size: 6.45vw;
    }
}


@media ( max-width: 961px ) { 
    .advantages-bc__wr-card-title_top-str {
        display: flex;

        justify-content: space-between;
    }
}

@media ( max-width: 961px ) { 
    .advantages-bc__wr-card-icon {
        height: 8vw;
        width: 8vw;
    }
}

@media ( max-width: 961px ) { 
    .advantages-bc__wr-card-text {
        margin-top: 5.33vw;
    }

    .advantages-bc__wr-card-text p {
        font-size: 3.73vw;
    }
}



