.quadro-module__banner {
    background: no-repeat url(../img/banner-quadro-module.webp);
    background-position: center;
    background-size: 100%;
}



@media( max-width: 961px ) {
    .quadro-module__banner {
        padding-top: 13.66vw;

        background: no-repeat url(../img/banner-quadro-module-module.webp);
        background-position: center;
        background-size: auto 100%;
    }
}