.tt-quadro-all-position__banner {
    background: no-repeat url(../img/banner-swedich-line-quadro.png);
    background-position: center;
    background-size: 100%;
}



@media( max-width: 961px ) {
    .tt-quadro-all-position__banner {
        padding-top: 13.66vw;

        background: no-repeat url(../img/banner-swedich-line-quadro-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }
}