.marmites-all-position__banner {
    background: no-repeat url(../img/banner-marmites-all-positions.png);
    background-position: center;
    background-size: 100%;
}



@media( max-width: 961px ) {
    .marmites-all-position__banner {
        padding-top: 13.66vw;

        background: no-repeat url(../img/banner-marmites-all-position-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }
}