.drinks-collections__main {
    display: flex;
    padding-bottom: 8.85vw;

    flex-direction: column;
    align-items: center;
}

.drinks-collections__line-right { 
    margin-top: 4.22vw;
}

.drinks-collections__banner {
    background: no-repeat url(../img/banner-drinks-all-collection.webp);
    background-position: center;
    background-size: 100%;
}

.drinks-collections__wrapper-main-content {
    display: flex;
    gap: 3.75vw;
    width: 100%;
    padding-top: 3.75vw;

    flex-direction: column;
    align-items: center;
}


@media ( max-width: 961px ) { 
    .drinks-collections__main {
        padding-bottom: 25.60vw;
    }
}

@media( max-width: 961px ) {
    .drinks-collections__banner {
        padding-top: 13.66vw;

        background: no-repeat url(../img/banner-drinks-all-collection-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }
}

@media ( max-width: 961px ) { 
    .drinks-collections__line-right {
        margin-top: 6.67vw; 
    }
}

@media ( max-width: 961px ) { 
    .drinks-collections__wrapper-main-content {
        margin-top: 5.53vw;
        padding-top: 0;
        gap: 6.67vw;
    }
}