.main-tw-collections {
    display: flex;
    padding-bottom: 8.85vw;

    flex-direction: column;
    align-items: center;
}

.tw-collections__banner {
    padding-top: 27.2vw;
    padding-left: 18.2vw;

    background: no-repeat url(../img/banner-tw-collections.png);
    background-position: center;
    background-size: 100%;
}
 
.tw-collections__banner-link {
    display: flex;

    height: 2.86vw;
    width: 14.17vw;

    font-family: 'WMFRotis-Bold';
    font-size: 1.25vw;

    color: #ffffff;
    border-radius: 0.42vw;
    background-color: #333333;

    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.tw-collections__line-right {
    margin-top: 4.22vw;
}

.tw-collections__wrapper-main-content {
    display: flex;
    gap: 3.75vw;
    width: 100%;
    padding-top: 3.75vw;

    flex-direction: column;
    align-items: center;
}

/* Н А Ч А Л О  К А Р Т О Ч К И  */



/* К О Н Е Ц  К А Р Т О Ч К И  */


@media ( max-width: 435px ) { 
    .main-about-tablewares {
        padding-bottom: 25.60vw;
    }
}

@media ( max-width: 435px ) { 
    .tw-collections__banner { 
        padding-top: 64.9vw; 
        padding-left: 7.9vw;
        
        background: no-repeat url(../img/banner-tw-collections-mobile.png); 
        background-position: center;
        background-size: auto 100%;
    }
}

@media ( max-width: 435px ) { 
    .tw-collections__banner-link {    
        height: 10.67vw;
        width: 52.53vw;

        font-size: 5.33vw;

        border-radius: 2.13vw;
    }
}

@media ( max-width: 435px ) { 
    .tw-collections__line-right {
        margin-top: 6.67vw; 
    }
}

@media ( max-width: 435px ) { 
    .tw-collections__wrapper-main-content {
        margin-top: 5.53vw;
        padding-top: 0;
        gap: 6.67vw;
    }
}

