.coolers__banner {
    background: no-repeat url(../img/banner-coolers.png);
    background-position: center;
    background-size: 100%;
}



@media( max-width: 961px ) {
    .coolers__banner {
        padding-top: 13.66vw;

        background: no-repeat url(../img/banner-coolers-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }
}