.drinks-all-position__banner {
    background: no-repeat url(../img/banner-drinks-all-position.png);
    background-position: center;
    background-size: 100%;
}



@media( max-width: 435px ) {
    .drinks-all-position__banner {
        padding-top: 13.66vw;

        background: no-repeat url(../img/banner-drinks-all-position-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }
} 