
.coffee-tea__banner {
    background: no-repeat url(../img/banner-coffee-tea.png);
    background-position: center;
    background-size: 100%;
}



@media( max-width: 435px ) {
    .coffee-tea__banner {
        padding-top: 13.66vw;

        background: no-repeat url(../img/banner-coffee-tea-mobile.png);
        background-position: center;
        background-size: auto 100%;
    }
}

