.drinks-all-position__banner {
    background: no-repeat url(../img/banner-drinks-all-position.webp);
    background-position: center;
    background-size: 100%;
}



@media( max-width: 961px ) {
    .drinks-all-position__banner {
        padding-top: 13.66vw;

        background: no-repeat url(../img/banner-drinks-all-position-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }
} 