.tt-decor-all-position__banner {
    background: no-repeat url(../img/banner-table-top-decor-all-positions.webp);
    background-position: center;
    background-size: 100%;
}



@media( max-width: 961px ) {
    .tt-decor-all-position__banner {
        padding-top: 13.66vw;

        background: no-repeat url(../img/banner-table-top-decor-all-positions-mobile.webp);
        background-position: center;
        background-size: auto 100%;
    }
}